body{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;    
}

.panel-group .panel+.panel{
	margin-top:0;
}

.panel-group .panel-heading{
	border: 0;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	background: #FFF;
	color: #2A5CAB;
	cursor: pointer;
	font-weight: normal;
	font-size: 14px;
	padding: 15px;
}

.panel-group .panel{
	border: 0;
	border-top: 1px solid #f3f6fb;
	background: #FFF;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	margin: 2px 0;
	box-shadow: none;
}

#restaurant-accordion.panel-group .panel-heading.active{
	background : #7485a5;
	color: #FFF;
	border: 0;
}

#restaurant-accordion.panel-group .panel-heading i{
	margin-right: 5px;
	font-size: 14px;
}

#restaurant-accordion .panel-body-nopadding{
	padding: 0 15px;
}

.restaurant-info i{
	display: block;
	text-align: center;
	font-size: 25px;
	height: 30px;
}

.fav-icon{
	height: 30px;
	font-size: 25px !important;
	text-align: center;
	display: block !important
}

.rating-container .rating-stars {
  color: #2A5CAB;
}

#descriptionTab p{
	font-size:11px;
}

.row-panel-title.first {
	border-top: 0;
	padding-top: 0;	
	padding:15px 0;
	border-top: 1px solid #d9e5ee;
	border-bottom: 1px solid #d9e5ee;
	color: #7485a5;
	font-weight: bold;
	font-size: 14px;
}
.row-sub-title {  
	padding: 15px 0;
	color: #7485a5;
	font-weight: bold;
	font-size: 13px;
}

.row-panel-title.first a,.row-sub-title a{
	font-size: 11px;
	font-weight: normal;
}

#restaurant-accordion{
	color: #929bad;
}

.menu-name{
	color: #7485a5;
	font-weight: bold;
	font-size: 10px;
	padding-bottom: 5px;
}

.menu-price{
	color:#00a692;
	padding-bottom: 5px;
	font-weight: bold;
}

.row-menus{
	padding: 15px 0;
}

.row-review{
	display: table;	
	color: #8892a6;
}

.row-review .col-image{
	float:none;
	display: table-cell;
	vertical-align:middle;
}

.row-comment {
	display: table;
	font-size:11px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row-comment .col-rating{
	float:none;
	display: table-cell;
	vertical-align:middle;
}

.row-review .col-image div.person{
	color: #508ade;
	font-weight: bold;
	padding-top: 3px;
}

.row-review-offset{
	margin-left: 8%;
}

.popover-review{
	position: relative;
	display: block;
	float: left;	
	max-width: 100%;
}

.no-boder-top{
	border-top:0 !important
}

.col-border-left{
	border-left: 1px solid #caced6;	
}

.col-border-right{
	border-right: 1px solid #caced6;
}

/*SIDE*/
.col-right-side .main-row{
	padding-bottom: 10px;
	margin:0;
	background: #FFF;
}

.col-right-side .main-row-new{
	margin:0;
	margin-top: 20px !important;	
	background: #FFF;
}

#activity-map{
	width:100%;
	height: 300px;
}

#activities-side-map{
	width:100%;
	height: 200px;
}

.text-bold{
	font-weight: bold;
}

.padding-side20{
	padding: 0 20px;
}

.closed-note{
	font-style: italic;
}

.text-blue{
	color: #2A5CAB;
}

.btn-get-dir{
	width: 180px;
	background: #2A5CAB;
	color: #FFF;
	padding: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	border-radius: 4px;	
}

.col-help{
	margin-bottom: 15px;
}

.col-help h5{
	color:#8892a6;
	border-bottom:1px solid #caced6;
	padding:10px 0;
}

.btn-contact-us {
	background: #83B538;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	width: 180px;
	margin: 15px 0;
	padding: 10px 0;
}

.font14{
	font-size: 14px;
}

@media(max-width:992px) {
	.xs-noborder-left{
		border-left:0 !important;
	}
    .col-right-side{
        margin-left: 8.33333333%;
    }
}

#main-slider {
	list-style: none;
	margin:0;
	padding:0;
}

#main-slider .owl-controls .owl-nav div {
	position: absolute;
}

#main-slider .owl-controls .owl-nav .owl-prev, #main-slider .owl-controls .owl-nav .owl-next{
	bottom: 0; 
	height: 100%;
	width: 60px;
	top:50%;
	margin-top: -60px;
}

#main-slider .owl-controls .owl-nav .owl-prev{
	left:0;
}

#main-slider .owl-controls .owl-nav .owl-next{
	right:0;
}

.owl-nav-layout{
	width: 100%;
	height: 120px;
	background: rgba(0,0,0,0.3);
}

.owl-nav-layout i{
	position: absolute;
	top:50%;
	margin-top:-10px;
	font-size:25px;
	left:20px;
	color: #FFF;
}

.view-more{
	width: 100px;
	display: inline-block;
	font-size: 12px;	
}

.view-more a{
	color: #2A5CAB;
}

.view-more i{
	font-size: 15px;
	display: block;
	color:#8892a6;
}

.fixed-height{
	height: 60px;
}

.row-who-review{
	padding-bottom: 15px;
	padding-right: 20px;
	padding-top: 10px;
	color: #8892a6;
	font-style: italic;
}

.activity-title-input, .activity-location-input{
	margin-bottom: 3px;
	width: 87%;
}

/* thumbnail UL*/
.rslides_tabs {
	list-style: none;
	width: 100%;
	margin: 10px 0 0 0;
	max-height: 65px;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

/* Thumbnail stuff */

.rslides_thumbs li, 
.rslides_thumbs a {
    display : inline-block;
    *display : block;
    zoom : 1;
}

.rslides_thumbs a{
    padding : 0;
    margin-left : 2px;
    margin-right : 2px;
	position:relative;
}
.rslides_thumbs .rslides_here a{
    border-color : #2A5CAB;
}

.rslides_thumbs .rslides_here a:after{
	opacity: 0;
}

.rslides_thumbs img{
    max-width : 100%;
    width : 80px;
	max-height: 60px;
}

.rslides_thumbs a:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; 
	left:0;
    background:rgba(0,0,0,0.6);    
    transition: all 1s;
    -webkit-transition: all 1s;
}

.rslides_thumb {
    display : block;
    background-repeat : no-repeat;
    background-position : 50% 50%;
    height : 50px;
    width : 50px;
}

.main-slider-thumbcontrol{
	position: absolute;
	height: 100%;
	display: inline-block;
	right:0;
	top:0;
	background: #FFF;
}

.main-slider-thumbcontrol div.up, .main-slider-thumbcontrol div.down{
	padding: 5px 10px;
	color: #2A5CAB;
	cursor: pointer;
}

.main-slider-thumbcontrol div.down{
	bottom:0;
	position: absolute;
}

.thumb-container{
	position: relative;
}

.rslides_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 1;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/themes.png") no-repeat left top;
	margin-top: -61px;
	display: inline-block;
}

.rslides_nav:active {
	opacity: 1.0;
}

.rslides_nav.prev {
	left: 0;
}

.rslides_nav.next {
	right: 0;
	background-position: right top;
}

.nav-container{
	position: absolute;
	top: 50%;
	height: 61px;
	width: 100%;
	margin-top: -80px;
}

.nav-container .rslides_tabs{
	margin: 0;	
}

.nav-container .rslides_nav{
	margin-top:0;
}

/* END SLIDER */

.info-item .only-for-users{
	margin-top: 5px;
}

#pet-info, #handicap-info, #parking-info{
	min-height: 60px;
}

.row-prop-info .only-for-users i.btn-toggle-check {
  font-size: 22px !important;
}

.btn-toggle-check-on {
  color: #83B538;
}

.btn-toggle-check-off {
  color: #e47158;
}

.btn-toggle-check {
  cursor: pointer;
}

#editor-wysiwyg {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

.activity-desctab-title-input {
  width: 80%;
  float: left;
}

.btn-toolbar .btn{
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
}

.activity-title{
	font-size:22px;
	display:block;
	font-weight: 300;
}

.activity-location{
	font-weight: 300;
}

#share-right-panel a.jssocials-share-link{
	border-radius: 50%;
}

#share-right-panel .jssocials-shares{
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -68px;
}

#reviewsTab-summary-rate .star-rating, #reviewsTab-filter-container .star-rating, #reviewsTab-filter-container .checkbox, #reviewsTab-filter-container .progress{
	display: inline-block;
}

#reviewsTab-filter-container .checkbox{
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

#reviewsTab-summary-rate label{
	font-size: 14px;
}

.review-answer{
	margin-left: 35px;
	margin-top: 10px;
	border: 1px dashed #BBB;
	padding: 5px;
	margin-right: 9px;
	background: rgb(255, 255, 231);
}

#editReviewsModalIFrame{
	border:0;
}

#reviewsTab .popover{
	z-index: 1 !important;
}

#main-slider > li > a{
    display: block;
    float: left;
    width: 100%;
	min-height: 600px;
}

.main-slider-wrapper .thumb-container li a{
	display: block;
	height: 60px;
	width: 80px;
}

@media(max-width:992px) {
	#main-slider > li > a{
		min-height: 400px;		
	}
}

/** PUBLISH/CANCEL PANEL **/
#publishPanel {
	position: fixed;
	top: 10px;
	width: 100%;
	margin: 0 auto;
	z-index: 9999;
}

#publishPanel .publishPanel-msg{
	margin-right: 150px;
	text-align: center;
	line-height: 31px;
}

#publishPanel .publishPanel-msg i{
	font-size: 20px;
	vertical-align: middle;
	margin-right: 5px;
}

#publishPanel .publishPanel-buttons{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
}

#publishPanel .publishPanel-wrapper{
	padding: 5px;
	border-radius: 2px;
	border: 1px solid rgb(255, 194, 55);
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
	color: rgb(130, 98, 0);
	cursor: pointer;
	background-color: rgb(255, 234, 168);
	position: relative;
}