@font-face {
	font-family: 'GothamBook';
	src: url('fonts/GothamBook.eot');
	src: local('GothamBook'), url('fonts/GothamBook.woff') format('woff'), url('fonts/GothamBook.ttf') format('truetype');
}

header{
    width: 100%;
    min-height: 51px !Important;
}

footer{
	margin-top:0;
}

.category-top .category-top-title{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 10%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.category-top .category-top-title h1{
    margin: 10px;
    padding: 0;
    color: #FFF;
    text-transform: uppercase;
}

.nc-megamenu-top-level-col{
    height: 51px !important;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nc-megamenu-logo{
    opacity: 1;
}

.bg-texture{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;
    position: relative;
}

.category-top{
    height: 450px;
    background-image: url('../img/header-image.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: -51px;
    position: relative;
	font-family: 'GothamBook';
}

.category-breadcrumbs-wrapper, .category-share-wrapper{
    display: inline-block;
    line-height: 30px;
}

.category-share-wrapper{
    float: right;
    color: #FFF;
}

.category-breadcrumbs{
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
     display: block;
     padding: 15px 0;
     z-index: 1;
     position: relative;
     background: rgba(0,0,0,0.5);
     font-family: 'GothamBook';
     margin-bottom: 15px;
}

.category-breadcrumbs-wrapper a{
    font-size:13px;
    color: #FFF;
}

#category-main-add:hover,
.category-breadcrumbs-wrapper a:hover{
    color: #83B538;
}

#category-main-add.category-on-trip-table{
	color: #83B538;
}

.category-breadcrumbs-wrapper a:not(:last-child):after{
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
}

.category-share-wrapper label, .category-share-wrapper a{
    display: inline-block;
    vertical-align: top;
}

.category-share-wrapper label{
    margin-bottom: 0;
    margin-right: 10px;
}

.category-share-wrapper a{
    font-size: 22px;
    margin-right: 2px;
    color: #FFF;
}    

.category-share-wrapper a:hover{
    color: #83B538;
}

.category-main{
    padding: 0;
    /* padding-bottom: 60px; */
    margin-top: 0;
    font-family: 'GothamBook';
}

.category-main h4{
    font-size: 30px;
}

.category-main h5{
    font-size: 16px;
    font-style: italic;
}    

.category-main-container .rslides_tabs{
    margin-top: 10px;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

.category-main-top{
    margin-bottom: 25px;
}

#category-main-slider{
    height: 400px;
}

#category-main-slider > li{
    height: 100%;
}

#category-main-slider > li >div{
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.rslides_thumbs li, .rslides_thumbs a {
    display: inline-block;
    zoom: 1;
}

.rslides_thumbs{
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.rslides_thumbs a {
    padding: 0;
    border: 2px solid transparent;
    position: relative;
}

.rslides_thumbs li.rslides_here a {
    border: 2px solid #2980b9;
}

.rslides_thumb {
    display: block;
    background-repeat: no-repeat;
    background-position: initial;
    height: 32px;
    width: 32px;
    background-size: cover;
}

#category-middle-row p{
    line-height: 1.3;
}

.category-middle-title-row h4{
    text-align:center;
    margin-bottom: 25px;
}

.category-header-styled{
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
}

.category-header-styled:after{
    content: " ";
    width: 70%;
    left: 15%;
    position:absolute;
    bottom: 0;
    height: 1px;
    background: #FFF;
}

.category-header-styled span.category-header-styled-1{
    display: block;
    font-size: 23px;
    text-transform: uppercase;
}

.category-header-styled span.category-header-styled-2{
    display: block;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: -10px;
}

#category-search{
    font-size: 19px;
    padding: 15px;
    border: 1px solid #FFF;
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 19px 10px rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0px 0px 19px 10px rgba(255,255,255,0.75);
    box-shadow: inset 0px 0px 19px 10px rgba(255,255,255,0.75);
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
    margin-top: 25px;
}

#category-search:hover{
    background: #FFF;
}

#category-search-result-wrapper{
    background: #FFF;
}

@media(max-width:1190px) {
    .category-share-wrapper{
        float: left !important;
        margin-left: -15px;
        margin-top: 15px;
    }
}
    
#btn-toggle-category-description {
    position: absolute;
    right: 0;
}

#btn-toggle-category-description.hide-action{
    top: -31px;
}