#accordion{
	margin-bottom: 0;
}

.panel-body{
	padding-bottom: 10px;
}

.panel-group .panel+.panel{
	margin-top:0;
}

.panel-group .panel-heading{
	border: 0;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	background: #FFF;
	color: #2A5CAB;
	cursor: pointer;
	font-size: 12px;
}

.panel-group .panel-heading.active{
	background : #2A5CAB;
	color: #FFF;
	border: 0;
}

.panel-group .panel{
	border: 0;
	border-top: 1px solid #f3f6fb;
	background: #FFF;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	margin: 2px 0;
	box-shadow: none;
}

.tab-container{
	padding: 10px 20px;
	background: #ecf4ff;
	margin: 20px 0;
}

.row-inside{
	padding-top: 10px;
	padding-bottom: 20px;
}

.inline-control{
	font-size:12px;
	padding-right:20px;	
	font-weight: normal;
}

.line-height30{
	line-height: 30px;
}

.inline-control-radio{
	padding-top:8px;
}

.btn-submit-request{
	text-transform: uppercase;
	font-size: 12px;
}

/*SELECT 2*/
.select2-container{
	width: 100%px;
	height: 40px;
}

.select2-container.checkout-select .select2-selection--single{
	height: 40px;
}

#select2-b-country-container,#select2-b-states-container, #select2-amountSelect-container{
	line-height: 38px;
}
.select2-container.checkout-select .select2-selection--single .select2-selection__arrow{
	height: 38px;	
}

.select2-container.checkout-select .select2-selection--single .select2-selection__arrow b{
	border-color: #2A5CAB transparent transparent transparent
}

.row-side{
	padding: 5px 0;
	background: #FFF;
	margin: 0;
}

.star-rating{
	display: inline;
	float: right;
}

.row-side-blue{
	padding: 10px 0;
	background: #2A5CAB;	
	color: #FFF;
}

.row-side-bottom-margin{
	margin-bottom: 3px;
}

table.info{
	width:100%;
}

table.info tr td{
	padding: 5px 0;
	width: 33%;
}

table.info tr td.date{
	font-size: 13px;
	font-weight: bold;
	color: #2A5CAB;
}

table.info tr td span.data-value{
	color: #2A5CAB;
	font-weight: bold;
}

.alert{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	font-size: 11px;
}

.xs-borders{
	border-left: 1px solid #c9ddf8;
}

.submit-notify{
	padding: 15px 50px;
}

@media(max-width:992px) {
	.xs-borders{
		border-top: 1px solid #c9ddf8;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
	}
	.inline-control{
		padding-right:5px;
	}
	.submit-notify{
		padding: 15px 0 !important;
	}	
	
	.row-submit{
		padding-bottom:30px;
	}
	
	#rightBar{
		margin-left: 8.33333333%;
		padding: 0 !important;
	}
	
}

.alert-success{
	color : #528036;
	background-color: #e1f7bd;
	border: 0;	
}

.alert-info{	
	background-color: #e3f7ff;
	border: 0;
}

.popover{
	  max-width: none;
}

#sCode-popover{
	cursor: pointer;
}

.help-block{
	color: red;
	font-size: 10px;
}

#checkout-termsConditions-iframe{
	border: 0;
	width: 100%;
}