body{
	background: #f3f6fb;
}

section.contact-body{
	padding: 40px 100px;
}

.row-body{
	background: #FFF;
	padding: 40px 0;
}

.send-message{
	font-size: 12px;
	padding: 10px 20px;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;	
}

.row-contact{
	padding-top: 10px;
}

.help-block ul{
	list-style: none;
	margin: 0;
	padding: 0;	
}

.help-block ul li{
	color: #d02a38;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
}

@media(max-width:992px) {
	.xs-padding15{
		padding: 15px;
	}
	
	.xs-text-center{
		text-align: center !important;
	}
	
	section.contact-body{
		padding: 40px;
	}
	
	.row-body{
		padding: 20px 0
	}
}