body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #f3f6fb;
}

footer{
	margin-top: 30px;	
	background: #242b34;
}

footer h4{
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
}


/** MEGAMENU STYLE **/

.nc-megamenu-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.megamenu-main-container a{
	color: #303030;
}
.megamenu-main-container a:hover{
	color: #FFF;
}

.megamenu-main-container.dark a:not(.mm-item-money-budget):hover{
    color: #A5A5A5;
}    

.nc-megamenu-bg{
	position: absolute;
	top:0;
	left: 0;
	background: rgba(255, 255, 255, 0.75);
	height: 90px;
	width: 100%;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;
}

.megamenu-main-container:not(.nc-megamenu-docked).nc-megamenu-gradient .nc-megamenu-bg{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.megamenu-main-container:not(.nc-megamenu-docked).nc-megamenu-gradient .nc-megamenu-top-level a{
    color: #FFF !important;
}

.megamenu-main-container .col-nc-megamenu-logo img{
    opacity: 1;
}

.megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-logo-colored{
    display: none;
}

.megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-logo-white{
    display: block;
}    

.megamenu-main-container:not(.nc-megamenu-docked).nc-megamenu-gradient .col-nc-megamenu-logo .nc-megamenu-logo-white{
    display:block;    
}    

.megamenu-main-container.nc-megamenu-docked .nc-megamenu-logo-white{
    display:none;
}    

.megamenu-main-container.nc-megamenu-docked.nc-megamenu-gradient .col-nc-megamenu-logo .nc-megamenu-logo-colored{
    display:block;
    opacity: 1;
}

.nc-megamenu-top-level{
	margin-bottom: 0;
	float: left;
	width: 100%;
	padding-left: 100px;
	height: 90px;
}

.megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-top-level-col{
	height: 90px;
	padding:0;  
}

.nc-megamenu-top-level a{
	padding: 32.5px 10px;
	display: inline-block;
	font-size: 18px;
	position: relative;
}

.nc-megamenu-top-level a.mm-item-money-budget{
    background: #83B538;
    border-color: #83B538;    
    color: #FFF;
}

.nc-megamenu-top-level a.mm-item-language img{
    height: 10px;
    vertical-align: top;
    /* margin-top: -3px; */
}

.nc-megamenu-top-level a.mm-item-login {
    padding: 36px 10px;
    font-size: 13px;
}

.nc-megamenu-top-level a.mm-item-login i{
    font-size: 25px;
}

.nc-megamenu-top-level li.nc-megamenu-top-level-suitcase{
    margin-right: 10px;
}

.nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a{
    padding: 31px 25px 31px 10px;
}

.nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a:hover,
.nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a:focus{
    color: #333;
}

.nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a > i{
    font-size: 22px;
}

.nc-megamenu-top-level li.nc-megamenu-top-level-suitcase .mm-badge{
    border-radius: 50%;
    background: #83B538;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -1px;
    margin-top: -12px;
    color: #FFF;
    border: 1px solid #FFF;
    width: 22px;
    height: 22px;
    padding-top: 2px;
    text-align: center;
}

.nc-megamenu-top-level a.nc-megamenu-dropdown, 
.nc-megamenu-xs .nc-megamenu-top-level a.nc-megamenu-dropdown,
.nc-megamenu-docked .nc-megamenu-top-level a.nc-megamenu-dropdown{
	padding-right: 25px;	
}

.nc-megamenu-docked.nc-megamenu-xs.megamenu-main-container,
.nc-megamenu-docked.megamenu-main-container{
	position: fixed;
	top: 0;
	width:100%;
	height: 51px;
}

.nc-megamenu-xs .nc-megamenu-top-level a.mm-item-login,
.nc-megamenu-docked .nc-megamenu-top-level a.mm-item-login{
    padding: 15px 10px;
}

.col-nc-megamenu-logo{
    height:91px;
    float: left;
    display: inline-block;
    position: absolute;
    left: 0;
}    

.nc-megamenu-xs .col-nc-megamenu-logo,
.nc-megamenu-docked.col-nc-megamenu-logo{
    height:51px;
}

.nc-megamenu-docked.megamenu-main-container a{
	color: rgba(51, 51, 51, 0.75);
}

.nc-megamenu-docked.megamenu-main-container a:hover{
	color: #000;
}

.nc-megamenu-xs .nc-megamenu-logo,
.nc-megamenu-docked .nc-megamenu-logo{
	height: 51px;
}

.nc-megamenu-xs .nc-megamenu-bg,
.nc-megamenu-docked .nc-megamenu-bg{
	height: 51px;
	background: #FFF;
	-webkit-box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid #565656;    
}

.nc-megamenu-xs .nc-megamenu-top-level,
.nc-megamenu-docked .nc-megamenu-top-level{
    height: 51px;
}

.nc-megamenu-xs .nc-megamenu-top-level a,
.nc-megamenu-docked .nc-megamenu-top-level a{
	padding: 13px 10px;
}

.nc-megamenu-docked .nc-megamenu-body .nc-megamenu-sub-dropdown a {
	background: #FFF;
}

.nc-megamenu-docked .nc-megamenu-body .nc-megamenu-sub-dropdown,
.nc-megamenu-docked .nc-megamenu-body .nc-megamenu-sub-dropdown ul{
	border: 1px solid rgba(211, 211, 211, 1);
	border-top-width: 0;
}

.nc-megamenu-docked .nc-megamenu-body .nc-megamenu-sub-dropdown ul{
	border-top-width: 1px;
}

.nc-megamenu-xs .nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a,
.nc-megamenu-docked .nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a{
    padding: 12px 18px 13px 10px;
}

.nc-megamenu-xs .nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a > i,
.nc-megamenu-docked .nc-megamenu-top-level li.nc-megamenu-top-level-suitcase a > i{
    font-size: 18px;
}

.nc-megamenu-xs .nc-megamenu-top-level li.nc-megamenu-top-level-suitcase .mm-badge,
.nc-megamenu-docked .nc-megamenu-top-level li.nc-megamenu-top-level-suitcase .mm-badge{
    font-size: 10px;
    color: #FFF;
    border: 1px solid #FFF;
    width: 18px;
    height: 18px;
    padding-top: 1px;
    text-align: center;
    margin-top: -10px;
}

.nc-megamenu-top-level a.nc-megamenu-dropdown:after{
	display: block;
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -5px 0 0;
    font-family: FontAwesome;
    font-size: 12px;
    opacity: .3;
    line-height: 1em;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -ms-transition: -ms-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;	
}

.nc-megamenu-top-level a.nc-megamenu-dropdown:hover:after{
	opacity: 1;
}

.nc-megamenu-top-level li{
	display: inline-block;
}

.nc-megamenu-sub-dropdown{
	display: inline-block;
}

.nc-megamenu-sub-dropdown li{
	display: block;
	position: relative;
}

.nc-megamenu-sub-dropdown li a{
	padding: 10px;
	display: block;
	min-width: 150px;
	position: relative;
    color: #FFF;
}

.nc-megamenu-sub-dropdown li > ul{
	display: none;
	position: absolute;
	top: 0;
	right: 150px;
}

.nc-megamenu-sub-dropdown li:hover > ul{
	display: inline-block;
}

.nc-megamenu-dd-curr-lang, .nc-megamenu-dd-things-to-do{
	float: right;
	margin: 0;
	padding: 0;
}

.nc-megamenu-dd-curr-lang  > li > a{
	text-align: right;
}

.nc-megamenu-dd-things-to-do > li > a{
	text-align: left;
}

.nc-megamenu-dd-things-to-do{
	margin-right: 70px !important;
}

.nc-megamenu-dd-curr-lang li,.nc-megamenu-dd-things-to-do li {
	background: rgba(0, 0, 0, 0.75);
}

.ncm-submenu-title{
    padding: 12px;
    font-size: 18px;
    color: #2A5CAB;
}

.nc-megamenu-dd-curr-lang li a.nc-megamenu-dropdown-sub:before{
	display: block;
	content: "\f104";
	position: absolute;
	top: 50%;
	left: 10px;
	margin: -5px 0 0;
	font-family: FontAwesome;
	font-size: 12px;
	opacity: 0.5;
	line-height: 1em;
	-webkit-transition: -webkit-transform .2s ease-in;
	-moz-transition: -moz-transform .2s ease-in;
	-ms-transition: -ms-transform .2s ease-in;
	-o-transition: -o-transform .2s ease-in;
	transition: transform .2s ease-in;
	color: #333;
}

.nc-megamenu-body{
	padding: 0;
}

.nc-megamenu-body.firefox{
    margin-top:-1px;
}

.nc-megamenu-body .nc-megamenu-horizontal{
    background: #FFF;
    height: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    position: relative;
	-webkit-box-shadow: 0px 10px 13px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 10px 13px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 10px 13px 3px rgba(0,0,0,0.5);    
}

ul.nc-megamenu-first,ul.nc-megamenu-second,ul.nc-megamenu-third{
    width: 200px;
    height: 400px;
    vertical-align: top;
    position: absolute;
    z-index: 2;
    box-shadow: 2px -1px 9px -3px #252525;
}

ul.nc-megamenu-first{
    background: #eee;
}

ul.nc-megamenu-second{
    background: rgba(238, 238, 238, 0.60);
}

ul.nc-megamenu-third{
    background: rgba(238, 238, 238, 0.3);
}

.nc-megamenu-horizontal a{
    position:relative;
}

.nc-megamenu-horizontal li a.submenu:after{
    content: "";
    z-index: 8;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid darkgrey;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 15px;
}

.nc-megamenu-horizontal .global-nav__right-arrow{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    left: 100%;
    z-index: 3;
    display: none;
}    

.nc-megamenu-horizontal .global-nav__right-arrow:after{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background: #FFF;
    transform: rotate(45deg);
    top: 8px;
    left: -13px;
    box-shadow: 0px 0px 8px 0px #5a5a5a;
}

.nc-megamenu-horizontal a{
    overflow: visible !Important;
    padding: 12px !important;
}

.nc-megamenu-horizontal li.ncm-hover a{
    font-weight: 600;
    color: #333;
}

.nc-megamenu-horizontal li.ncm-hover .global-nav__right-arrow{
    display: block;
}    

.nc-megamenu-horizontal .nc-megamenu-second{
    left: 200px;
}

.nc-megamenu-horizontal-data-container{
    position: absolute;
    top: 0;
    height:100%;
    right: 0;
    z-index: 1;
    padding: 1em;
}

.nc-megamenu-horizontal-data-container.ncmm-2-tail{
    width: 300px;
}

.nc-megamenu-horizontal-data-container.ncmm-2-tail li {
    display: block !important;
    width: 100%;
    text-align: center;
}

.nc-megamenu-horizontal-data-container .nc-megamenu-horizontal-dc-text{
    padding: 0 !important;
    font-size: 12px;
    white-space: initial;
    height: 34px;
}

.nc-megamenu-horizontal-data-container .nc-megamenu-horizontal-dc-text:hover{
    font-weight: 400 !important;
    color: #2A5CAB;
}

.nc-megamenu-horizontal-data-container.ncmm-2-tail .nc-megamenu-horizontal-dc-text{
    text-align: left;
}

.nc-megamenu-horizontal-data-container.ncmm-4-tail{
    width: 500px;
}

.nc-megamenu-horizontal-data-container .nc-megamenu-horizontal-dc-image-wrapper a{
    height: 130px;
    background-size: cover;
    background-position: center center;
    padding: 0 !important;
    margin-bottom: 5px;
}

.nc-megamenu-horizontal-data-container ul li{
    display: inline-block !important;
    width: 50%;
    padding: 10px;
    vertical-align: top;
}

.nc-megamenu-horizontal .nc-megamenu-third{
    left: 400px;
}

.nc-megamenu-horizontal .nc-megamenu-second, .nc-megamenu-horizontal .nc-megamenu-third{
    padding-left: 20px;
    max-height: 390px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nc-megamenu-body h5{
	color:#333;
}

.nc-megamenu-logo{
	opacity: 0.75;
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
}

.nc-megamenu-body ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.nc-megamenu-body ul li{
	display: block;
}

.nc-megamenu-body ul li a{
	padding: 6px 12px;
	display: block;
	cursor: pointer;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.nc-megamenu-body h5{
	font-size: 16px;
}

.nc-megamenu-body ul li a:hover{
	color: #333;
	font-weight: 600;
}

a.nc-megamenu-viewmore{
	background: #83B538;
	border-color: #83B538;
	color: #FFF;
	text-align: center;
	margin-top: 15px;
}

a.nc-megamenu-viewmore:hover{
	background: #83B538;
}

.nc-megamenu-destination-item{
	padding-left: 110px;
	position: relative;
}

.nc-megamenu-destination-item img{
	max-width: 100px;
	position: absolute;
	left: 0;
}

.nc-megamenu-destination-item label{
	font-size: 14px;
	margin-bottom: 3px;
	display: block;
}

.nc-megamenu-destination-item div{
	font-size: 12px;
	height: 44px;
	white-space: initial;
	line-height: initial;
}

.nc-megamenu-destination-list li{
	width: 50%;
	display: inline-block !important;
	vertical-align: top;
}

.nc-megamenu-viewmore-destinations{
	width: 200px;
	display: inline-block !important;
}

.col-nc-megamenu-viewmore-item{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 1;
	background: #FFF;
	padding: 10px;
}

.nc-megamenu-viewmore-items-close{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 10px;
}

.nc-megamenu-viewmore-items-close a{
	color: #2A5CAB;
}

.nc-megamenu-viewmore-items-close a:hover{
	color:#333;
}

.nc-megamenu-viewmore-items ul li {
	display: inline-block;
	width: 185px;
}

.nc-megamenu-items-group{
	min-height: 322px;
	padding-left: 10px;
	padding-right: 10px;
}

div[data-fortype="trip-ideas"] .nc-megamenu-items-group:nth-child(6):after,
.nc-megamenu-right-sep:after{
	content: " ";
	width: 1px;
	height: 75%;
	background: rgba(51, 51, 51, 0.2);
	position: absolute;
	right: 0;
	top: 15%;	
}

.nc-megamenu-destination-list-container{
	max-height: 290px;
	overflow-x: hidden;
	overflow-y: auto;
}

/** END - MEGAMENU STYLE **/

.navbar-toggle{
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	color: #2A5CAB;
 }

.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}

.text-blue{
	color: #2A5CAB;
}

.no-margins{
	margin: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.padding-right-15{
	padding-right: 15px;
}

.padding-right-0{
	padding-right: 0 !important;
}

.padding-right-15{;
}

.padding-topdown-5{
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding-topdown-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-copyright{
	color: #6e757e;
	padding:30px 0; 
	background: #171d24;
}

.height100{
	height: 100%;
}

.height50{
	height: 50%;
}

.copyright-label{
	font-size: 10px;
}

.row-links{
	padding: 20px 0;
}

.row-copyright  a{
	color: #6e757e !important;
}

.row-copyright  a:hover, ul.links a:hover{
	color: #2A5CAB !important;
}

ul.links{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #848d98;
}

ul.links a{
	color: #848d98;
}

ul.links li{
	padding: 5px 0;
}

ul.links li:before{
	  content: "\00BB \0020";
}

.social-icon{
	padding-left: 10px;
	color: #848d98;
}

.social-icon i{
	font-size: 40px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
	text-decoration: none;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #2A5CAB;
}

.menu-top{
	list-style: none;
	padding: 0;
	margin: 0;	
}

.menu-top li{
	display: inline-block;
}

.menu-top li a{
	display: block;
	padding: 10px 12px;
}

.menu-top li a.login{
	background-color: #2A5CAB;
	color: #FFF;
}

.btn{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	font-size: 12px;
}

/*START NC BUTTONS*/

.btn-nc-blue{
	background: #2A5CAB;
	color: #FFF;
}

.btn-nc-blue:hover, .btn-nc-blue:focus, .btn-nc-blue:active{	
	background: #2A5CAB;
	color: #FFF;
	color: #fff !important;
	background-color: #286090;
	border-color: #204d74;	
}

.btn-nc-green{
	background: #83B538;
	color: #FFF;
}

.btn-nc-green:hover, .btn-nc-green:focus, .btn-nc-green:active{
	color: #fff !important;
	background-color: #449d44;
	border-color: #398439;
}
/*END NC BUTTONS*/

.nc-control,.nc-input, .nc-input-check{
	border: 1px solid rgba(51,153,204,.3);
	border-radius: 0;
	font-size: 11px;
}

.nc-input{
	height: 40px;
}

/*check*/

.text-muted {
    color: #777;
}

.text-primary {
    color: #2A5CAB;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
	/*
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	*/
}

section {
    padding: 50px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}


.nc-modal .modal-header{
	border-bottom: 0;
	background: transparent;
}

.nc-modal .modal-title{
	font-weight: 700 !important;
}

.nc-modal .modal-content{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;	
}

.label-normal{
	font-weight: normal;
}

.select2-container .select2-selection--single{
	border-color: rgba(51,153,204,.3) !important;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.input-group-addon:first-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(51,153,204,.3);
  border-right: 0;
  background: #FFF;
  font-weight: bold;
}

.input-group .form-control:last-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(51,153,204,.3);
}

.input-group-addon:last-child{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-left:0;
	border-color:rgba(51,153,204,.3);  
}

/*LIST MODAL*/

#listProps .modal-bod{
	padding: 20px;
}

#listProps h6{
	color: #cc0000;
	font-size: 11px;
}

#listProps .faq-question{
	padding: 10px 0;
	display: block;
}

/*detail quote modal*/

.dq-row1{
	display: inline-block;
	width: 100%;
}

.dq-hr{
	margin:0;
	padding:0;
	border-color: #d8e6f8;
}

.dq-row-primary{
	margin: 15px 0;
}

.row-top-header{
	padding: 20px 0;
	background: #2A5CAB;
}

.row-top-header #search{
	background: #83B538;
	color: #FFF !important;
	text-transform: uppercase;
	font-size: 13px;
	height: 35px;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.row-top-header input{
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  border-radius: 0;
  height: 35px;
  font-size: 11px;
 }

.btn-filter-slide {
	display: inline-block;
	padding: 10px 15px;
	background: #D02A38;
	color: #FFF;
	font-size: 20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
	font-size: 12px !important;
}

@media(max-width:992px) {
	.nav>li{
		display: inline-block;
		width:49%;
	}

	.row-links{
		padding: 20px;
	}
	
	.xs-text-left{
		text-align: left;
	}
	.xs-text-center{
		text-align: center;
	}
	.xs-text-right{
		text-align: right;
	}	
	.xs-padding-top15{
		padding-top:15px;
	}
	.xs-padding-right15{
		padding-right:15px;
	}	
	.xs-padding-left5{
		padding-left:5px;
	}
	.xs-padding-bottom15{
		padding-bottom:15px;
	}
	.xs-padding-bottom5{
		padding-bottom:5px;
	}
	.xs-padding-top5{
		padding-top:5px;
	}
	.xs-padding-topbottom5{
		padding-top:5px;
		padding-bottom:5px;
	}
	.xs-no-padding{
		padding: 0;
	}	
	.xs-padding-bototm0{
		padding-bottom:0 !important;
	}
	.xs-padding-left0{
		padding-left:0 !important;
	}
	.xs-padding-right0{
		padding-right:0 !important;
	}
	.xs-no-padding-lr{	
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.valid-msg-wrapper{
		padding-top: 0 !important;
		padding-bottom: 10px;
	}
}

/*SEARCH BAR*/
.filter-container.sbar-fixed.openned{
  position: fixed;
  top: 50px;
}

.filter-container,.back-filter-container{
	position: absolute;
	left:0;
	width: 500px;
	z-index: 5;
	height: 100%;
	min-height: 600px;
}

.back-filter-container{
	width: 250px !important;
}

.filter-header, .back-filter-header{
	padding: 15px;
	font-size: 15px;
	background: #D02A38;
	color: #FFF;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.back-filter-header a{
	color:#FFF;
}

.filter-header a.close-btn, .back-filter-header a.invoke-link{
	float: right;
	color: #FFF;
}

.filter-header a.close-btn i, .back-filter-header a.invoke-link i{
	font-size: 20px;
}

.filter-container.openned .filter-body{
	background: #FFF;
	padding-top: 53px;
	height: 100%;
}

.filter-body{
	display: inline-block;
	width:100%;
}

.row-filter{
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-filter.title{
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
}

.row-filter.title-reverse{
	border-top: 1px solid #c4c4c4;
}

#filter-tablist.panel-group .panel+.panel{
	margin-top:0;
}

#filter-tablist.panel-group .panel-heading{
	border: 0;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	background: #FFF;
	color: #2A5CAB;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 15px;
}

#filter-tablist.panel-group .panel{
	border: 0;
	border-top: 1px solid #f3f6fb;
	background: #FFF;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	margin: 2px 0;
	box-shadow: none;
}

.search-sidebar-cities-towns ul{
	list-style: none;
	margin:0;
	padding:0;
	max-height: 200px;
	overflow-y: auto;
	margin-bottom: 15px;
}

.search-sidebar-cities-towns ul li{
	display: inline-block;
	width: 50%;
}

.label-for-slider{
	margin-bottom: 5px;
	padding-left: 3px;
	display: inline-block;
}

.search-sidebar-cities-towns-filter{
	width:300px;
	float: left;
}

.search-sidebar-cities-towns-filter-clear{
	display:block;
	padding-top:5px;
	font-size:11px;
}

.sb-amenities-title{
	display: block;
	text-transform: uppercase;
}

.filter-container.openned{
	box-shadow: 4px 0 4px rgba(0,0,0,.2);
}

.row-top-header .label-desc{
	padding-left:5px;
	padding-top:5px;
	color: #FFF;
	font-style:italic;
}

.right-invoker{
	width: 20px;
	height: 100%;
	display: block;
	position: absolute;
	right: 27px;
	top: 0;
	background: #D02A38;
	cursor: pointer;
}

.filter-wrapper{
	float: left;
	width: 100%;
	padding: 15px;
	overflow: auto;
	height: 100%;
}

/*END FITLER BAR*/

.row-margin10{
	margin-left: -10px;
	margin-right: -10px;
}

.padding-lr-30{
	padding: 0 30px;
}

.padding-left5{
	padding-left: 5px;
}

.padding-left0{
	padding-left: 0;
}

.padding-lr-5{
	padding-left: 5px;
	padding-right: 5px;
}

.padding-lr-10{
	padding-left: 10px;
	padding-right: 10px;
}

.rating-disabled {
	cursor: default;
}

.margins-15{
	margin-left: 15px;
	margin-right: 15px;
}

.required-error{
	border-color: #E7BEBE !important;
	color: #e46f61 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: snow !important;
}

.on-top{
	z-index: 32000 !important;
}

.valid-msg-wrapper{
	padding-top: 30px;
}

.valid-msg-wrapper .valid-success{
	color:#83b538;
}

.valid-msg-wrapper i {
	font-size:16px;
}

.valid-msg-wrapper span{
	line-height:18px;
	display:inline-block;
	vertical-align:bottom;
}

.valid-msg-wrapper .valid-error{
	color:#cc0000
}

.nowrap{
	white-space: nowrap;
}

.fronend-save-btn{
	width: 80px;
}

.select2-dropdown {
	z-index: 3000 !important;
}

/*ALERTS*/
.alert.nc-alert-yellow{
  border-color: #fef7da;
  color: #c6b057;
  background: #fef7da;
  padding: 15px 10px;
}

.alert.nc-alert-yellow span{
	font-size: 12px;
}

.btn > i.fa{
	margin-right:0 !important;
}

.link-hover:hover{
	text-decoration: underline;
}

/* NC FILTER*/

a[data-level]:hover{
	text-decoration: underline;
}

.col-nc-filter-breadcrumbs a[data-level="0"]{
	color: #333;
}

.nc-filter-search-panel-row{
	background:#FFF;
	margin: 0;
	padding: 10px 0;
}

.nc-filter-list {
	list-style: none;
	margin: 0;
	padding: 0;
    max-height: 120px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;	
}

.nc-filter-list li {
	display: inline-block;
	margin: 10px;
	width: 20%;
}

.col-nc-filter-breadcrumbs, .col-nc-filter-breadcrumbs i{
    display: inline-block;
    font-size: 15px;
}

.col-nc-filter-breadcrumbs i{
	margin: 0 5px;
}

.nc-filter-list .checkbox{
	margin-top: 0;
	margin-bottom: 0;
}

.nc-filter-change{
	color: #2A5CAB !important;
}

.col-nc-filter-breadcrumbs .nc-filter-no-sublevels{
	font-weight: bold;
	color: #333;
}

.col-publish-panel-error{
	background: #EEE !important;
}

.row-list-prop-form .form-group{
	position:relative;
}

.required-asterisk{
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    color: #5db2ff;
    font-size: 16px;	
}

.no-padding-right{
	padding-right: 0;
}

.nc-input-group input{
	border-width: 0;
}

.nc-input-group .input-group-addon:last-child{
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left: 1px solid rgba(51,153,204,.3);
}

.filter-container .search-sidebar{
	height: 100%;
}

#viewCostsTab table.side-noborder-table tr td div.item-row {
	display: inline-block;
	width: 100%;
	margin-left: 5%;
	clear: both;
}
#viewCostsTab table.side-noborder-table tr td:last-child {
	vertical-align: top;
}

#geo-filter-body {
	background:#FFF;
    margin-bottom:10px;
    padding-bottom:20px;
}

.megamenu-main-container.dark .nc-megamenu-logo{
    opacity: 1;
}

.nc-megamenu-top-level a.mm-item-language span{
    display: block;
    height: 10px;
    position: relative;
}

.nc-megamenu-top-level a.mm-item-language span:after{
    content:" ";
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.nc-megamenu-top-level a.mm-item-language:hover span:after{
    display: none;
}

.megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-top-level a.mm-item-language{
    padding: 40px 25px 40px 10px;
}

.megamenu-main-container.nc-megamenu-docked .nc-megamenu-top-level a.mm-item-language{
    padding-top: 20.5px;
    padding-bottom: 20.5px;
}

.megamenu-responsive-caller, 
.megamenu-responsive-back{
  display: none;
}

.megamenu-responsive-caller:after{
    content: "\f0c9";
    position: absolute;
    top: 50%;
    margin-top: -22px;
    font-family: FontAwesome;
    font-size: 32px;
    left: 50%;
    margin-left: -13px;
}

/** MOBILE SUPPORT **/
.nc-mobile-megamenu{
  -webkit-transition: background 500ms;
  -moz-transition: background 500ms;
  -o-transition: background 500ms;
  transition: background 500ms;
}

.nc-mobile-megamenu .megamenu-responsive-caller,
.megamenu-responsive-back{
  position: absolute;
  font-size: 35px;
  right: 0;
  top: 0;
  color: #FFF !important;
  height: 90px;
  width: 90px;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.nc-mobile-megamenu .megamenu-main-container.nc-megamenu-docked a.megamenu-responsive-caller{
  color: rgba(51, 51, 51, 0.75) !important;
  height: 51px;
}

.nc-mobile-megamenu .megamenu-main-container:not(.nc-megamenu-docked) a.megamenu-responsive-caller{
  color: #FFF !important;
}

.nc-mobile-megamenu.showmenu .megamenu-responsive-caller,
.nc-mobile-megamenu.showmenu .megamenu-responsive-back{
  top: -90px;
}


.nc-mobile-megamenu .megamenu-responsive-caller,
.megamenu-responsive-back.active{
  display: inline-block;
}

.nc-mobile-megamenu .megamenu-responsive-caller:hover,
.megamenu-responsive-back:hover {
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.megamenu-responsive-back{
  right: auto;
  left: 0;
}

.megamenu-responsive-back:after{
  content: "\f104";
  font-family: FontAwesome;
  font-size: 40px;
  margin-top: -28px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
}


.nc-mobile-megamenu .nc-megamenu-top-level{
  display: none;
}

.nc-mobile-megamenu.showmenu .megamenu-responsive-caller:after{
  content: "\00d7";
  font-weight: bold;
  font-size: 50px;
  margin-top: -35px;
}

.nc-mobile-megamenu.showmenu{
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(74,163,223,0.95);
  padding-top: 90px;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-bg{
  background: #2980b9;
}

.nc-mobile-megamenu.showmenu .col-nc-megamenu-logo{
  display: none;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-top-level{
  display: block;
}  

.nc-mobile-megamenu .nc-megamenu-top-level{
  padding: 30px 0 0 0;
  width: 250px;
  margin: auto;
  float: none;
  height: auto;
}

.nc-mobile-megamenu .nc-megamenu-top-level li{
  display: block;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;    
}

.nc-mobile-megamenu .nc-megamenu-top-level li:hover{
  background: rgba(255,255,255,0.7);
}

.nc-mobile-megamenu .nc-megamenu-top-level li a{
  padding: 15px !important;
  font-size: 25px !important;
  color: #FFF;
}

.nc-mobile-megamenu .nc-megamenu-top-level li a:hover{
  color: #333;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-top-level-suitcase,
.nc-mobile-megamenu.showmenu .mm-item-language-li{
  position: absolute;
  float: none !important;
  top: -70px;
  left: 50%;
  margin: 0;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-top-level a.nc-megamenu-dropdown:after{
  display: none;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-top-level .mm-item-language-li a.nc-megamenu-dropdown:after{
  right: 4px;
  display: block;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-top-level-suitcase{
  margin-left: -90px;
  top: -82px;
}

.nc-mobile-megamenu.showmenu .mm-item-language-li{
  margin-left: 30px;
}

.nc-mobile-megamenu.showmenu .mm-item-login-li{
  float: none !important;
}

.nc-mobile-megamenu.showmenu .nc-megamenu-body{
  top: 0;
  position: absolute;
  /* height: 100%; */
}

/** MOBILE SUPPORT END **/


@media(max-width:1113px) {
	.nc-megamenu-docked .nc-megamenu-top-level a{
		font-size: 14px;
		padding: 15px 25px 15px 10px !important;
	}
	
	.megamenu-main-container.nc-megamenu-docked .nc-megamenu-top-level a.mm-item-language{
		padding-top: 20.5px !important;
		padding-bottom: 20.5px !important;
	}
    
    .megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-top-level a{
        font-size: 15px;
        padding: 35px 10px;
    }
    
    .nc-megamenu-top-level{
        padding-left: 180px;
    }
}	

.bg-centered{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}