@font-face {
	font-family: 'GothamBook';
	src: url('fonts/GothamBook.eot');
	src: local('GothamBook'), url('fonts/GothamBook.woff') format('woff'), url('fonts/GothamBook.ttf') format('truetype');
}

#nct-fullpage{
    font-family: 'GothamBook';
}

footer {
    margin-top:0 !important;
}

.megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-logo-colored{
    display: block;
    height: auto !Important;
    margin-top: 6px;
}

.megamenu-main-container:not(.nc-megamenu-docked) .nc-megamenu-logo-white{
    display: none;
}

.main-section{
    background: #F3F6FB;
    min-height: 655px;
}

#nct-fullpage .section{
    padding: 4em;
    position:relative;
}

.section h4{
    color: #49576c;
    font-weight: normal;    
}

#main-section{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;
    position: relative;
}

#main-section .sep{
    background:#333;
    height:1px;
    width:40%;
    margin: 60px auto;
    text-align: center;
    overflow: visible;
}

#main-section .sep img{
    position: absolute;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#main-section .city-title{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;    
}

#main-section .city-description{
    text-align: justify;
}

#main-section .main-section-bar{
    margin-top:50px;
    position: relative;
    text-align: center;
}

#main-section .main-section-bar-section{
    width: 250px;
    display: inline-block;
    height: 50px;
    background: #19345F;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    margin-bottom: 40px;
}

#main-section .main-section-bar-section:first-child{
    margin-right: -4px;
}

#main-section .main-section-bar-section>a{
    display: block;
    position:relative;
    color: #FFF;
    font-size: 18px;
    padding-left: 105px;
    line-height: 19px;
    height: 50px;
    max-width: 240px;
    width: 240px;
    font-weight: bold;
    padding-top: 4px;
}

#main-section .main-section-bar-section>a img{
    margin-top: 10px;
}

#main-section .main-section-bar-section>a:hover>span{
    background: #B10110;
}

#main-section .main-section-bar-section>a>span{
    width: 80px;
    height: 80px;
    border: 3px solid #FFF;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    top: -15px;
    background: #D02A38;
    text-align: center;
}

.main-section-image-list{
    list-style: none;
    margin: 0;
    padding:0;
    text-align: left;
    height: 120px;
}

.main-section-image-list>li{
    display: inline-block;
    margin-right: 3px;
    float: left;
}

.main-section-image-list>li>a{
    width: 160px;
    height: 120px;
    display: block;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.main-section-image-list>li>a>.image-list-item-content,
.hover-content>.image-content{
    width: 100%;
    position: absolute;
    padding: 5px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity:0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.main-section-image-list>li>a>.image-list-item-content>.image-list-item-content-name,
.main-section-image-list>li>a>.image-list-item-content>.image-list-item-content-city,
.hover-content>.image-content>.image-content-name,
.hover-content>.image-content>.image-content-city{
    color: #FFF;
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    line-height: initial;
}

.main-section-image-list>li>a>.image-list-item-content>.image-list-item-content-name{font-size: 14px;margin-bottom: 5px;line-height: 1em;}

.hover-content>.image-content>.image-content-name{
    top: 0;
    margin-bottom: 5px;
}

.hover-content>.image-content>.image-content-city{
    font-size:24px;
    bottom: 0;
}

.hover-content.hover-content-bottom>.image-content>.image-content-name, .hover-content.hover-content-bottom>.image-content>.image-content-city{
    font-size: 16px;
    text-align: left;
}

.hover-content.hover-content-bottom>.image-content>.image-content-city{
    font-size: 14px;
}    

.main-section-image-list>li>a:hover>.image-list-item-content, 
.hover-content:not(.hover-content-disabled):hover>.image-content{
    opacity: 1;      
}    

.see-all-map.hover-content .image-content{
    height: 100%;
    top: 0;
}

.see-all-map.hover-content .image-content .image-content-name{
    text-align: center;
    top: 50%;
    margin-top: -10px;
}

.section h4.primary-title{
    font-size:23px;
}

.bg-overlay{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: rgba(0,0,0,0.4);*/
}

.bg-overlay .section-bg-slider{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.bg-overlay .section-bg-slider li{
    height:100%;
    position: relative;
    display: block;
}

.bg-overlay .section-bg-slider li div{
    background-position: center center;
    background-size: cover;
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-overlay .section-bg-slider li div:not(.default-bg):after{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
}

.bg-overlay .section-bg-slider li div.default-bg{
    background-repeat: repeat;
    background-size: initial;
}

.section.highlights h4.primary-title{
    color: #FFF;
    font-size: 4em;
    font-weight: 600;
    margin-top: 100px;
}   

.section.highlights h5{
    font-weight: 100;
    font-style: italic;
    font-size: 2em;
    margin-top: 30px;
}

.nct-flex-slider{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    overflow: visible;
}

.nct-flex-slider .slide-content{
    box-shadow: 3px 3px 2px rgba(0,0,0,.25);
    position: relative;
    margin: 0;
    height: 270px;
    background-color: #fff;
}

.nct-flex-slider .slide-content:after{
    content: " ";
    height: 4px;
    width:100%;
    background: #2A5CAB;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nct-flex-slider .slide-content .img {
    width: 100%;
    height: 170px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: center center;
    display: block;
    -moz-transition: all 1s;
    transition: all 1s;
    background-repeat: no-repeat;
}

.nct-flex-slider .slide-content div.info {
    border-top: 1px solid #dfdfdf;
    height: 100px;
    padding: 6px 45px 0 10px;
    position: relative;
    background: #fff;
    text-align: left;
}

.nct-flex-slider .slide-content div.info p.name {
    line-height: 15px;
    color: #2d2d2d;
    height: 47px;
    margin: 0;
    overflow: hidden;
}

.nct-flex-slider .slide-content div.info .imMore {
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
}

.nct-flex-slider .slide-content div.info .city {
    font-size: 9px;
    color: #bcbdbe;
    text-transform: uppercase;
    margin: 4px 0 0;
}

.nct-flex-slider li {
    margin-right: 10px;
}

.nct-flex-slider .flex-custom-direction-nav{
    list-style: none;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next, 
.nct-flex-slider .flex-custom-direction-nav a.flex-prev,
.flex-custom-bg-direction-nav a.flex-next,
.flex-custom-bg-direction-nav a.flex-prev{
    position:absolute;
    top: 50%;
    height:50px;
    width: 50px;
    margin-top: -25px;
    font-size: 50px;
    color: #FFF;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next:after,
.nct-flex-slider .flex-custom-direction-nav a.flex-prev:after,
.flex-custom-bg-direction-nav a.flex-next:after,
.flex-custom-bg-direction-nav a.flex-prev:after{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -8px;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next{
    right: -50px;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next:after,
.flex-custom-bg-direction-nav a.flex-next:after{
    content: "\f105";
}

.nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    left: -50px;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-prev:after,
.flex-custom-bg-direction-nav a.flex-prev:after{
    content: "\f104";
}    

.flex-custom-bg-direction-nav a.flex-prev{
    left: 50px;
}

.flex-custom-bg-direction-nav a.flex-next{
    right: 50px;
}
    
.nct-flex-slider .flex-control-paging li a{
    width: 24px;
    height:24px;
    background: #FFF;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.9);
    position: relative;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.88);
}

.nct-flex-slider .flex-control-paging li a:hover{
    border-color: rgba(255, 255, 255, 0.7);
}

.nct-flex-slider .flex-control-paging li a.flex-active:after{
    content: " ";
    position: absolute;
    width:16px;
    height:16px;
    background: #0A4A63;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

.page-navigation{
    position: fixed;
    top: 150px;
    left: 30px;
    z-index: 15;
}

.page-navigation ul {
    list-style:none;
    margin:0;
    padding:0;
}

.page-navigation li{
    margin-bottom: 5px;
}

.page-navigation li a{
    width:24px;
    height:24px;
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(51, 51, 51, 0.75);
    display: block;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.88);
    position: relative;
}

.page-navigation li a.active:after{
    content: " ";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #0A4A63;
    top: 4px;
    left: 4px;
    border-radius: 50%;
}
    
#section3, #section5, #section7{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;
    min-height: 300px;
    position: relative;
}    

#section3 .city-section-container{
    width: 410px;
    margin: auto;
    position: relative;
    padding: 20px;
    border: 2px solid #BEB39E;
    margin-top: 20px;
}

.city-section-container-images{
    display: block;
    height: 250px;
    margin-top: 20px;
    width: 450px;
    /* margin-left: -40px; */
    position: relative;
    z-index: 1;
}

.city-section-container-content{
    text-align:center;
}

.nc-joined-image{
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 200px;
    border: 3px solid #FFF;
    position:absolute;
    cursor: pointer;
    z-index: 2;
	-webkit-transition: margin-left .400s;
	-moz-transition: margin-left .400s;
	-o-transition: margin-left .400s;
	transition: margin-left .400s;        
}

.nc-joined-image-left{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);    
}

.nc-joined-image-middle{
    left: 50%;
    margin-left: -125px;
    z-index: 3;
    height: 250px;
    width: 250px;
    margin-top: -20px;
}

.nc-joined-image-right{
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);    
    right: 0;
}

.city-section-slider{
    margin-top: 40px;
}

#section2{
    color: #FFF;
}

#nct-city-slider, 
#nct-section4-slider, 
#nct-section5-slider,
#nct-section6-slider{
    width: 100%;
    margin: 0;
}

.city-section-slider-bg{
    width: 100%;
    padding: 20px 40px;
    background: rgba(0,0,0,0.5);
    margin: auto;
    height: 410px;
}

.city-section-slider-bg h4{
    color: #FFF;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.city-section-slider-bg h4 a{
    color: #FFF;
    font-size: 10px;
    padding: 5px;
    /* position: a; */
    position: relative;
}

#section4{
    background-image: url('../img/asheville1.jpg');
    background-size: cover;
    background-position: center center;
    position:relative;
    min-height: 500px;
    color: #FFF;
}

#section4 .section4-slider{
    margin-top: 40px;
}

#section6{
    background-image: url('../img/linville1.png');
    background-size: cover;
    background-position: center center;
    position:relative;
    min-height: 500px;
    color: #FFF;
}

#section-more-cities{
    background-repeat: repeat;
    background-image: url('../img/more-cities-bg.png');
    min-height: 250px;
    color: #FFF;
    text-align:center;
    position: relative;
}

#section-more-cities ul li{
    display: inline-block;
}

#section-more-cities ul li a{
    padding: 12px 40px;
    display:block;
    font-size:14px;
    color: #FFF;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;    
}

#section-more-cities ul li a:hover{
    color: #2A5CAB;
    background: #FFF;
}

#section7-exploremore{
    width: 288px;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    margin-top: -40px;
    -webkit-transition: all .600s;
    -moz-transition: all .600s;
    -o-transition: all .600s;
    transition: all .600s;
}

#section7{
    min-height: 200px;
}

#section7-exploremore img{
}

#main-section:after, 
#section2:after, 
#section3:after, 
#section4:after, 
#section5:after, 
#section6:after, 
#section-more-cities:after, 
#section7:after{
    content: " ";
    position: absolute;
    width:100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: #FFF;
}

.city-title{
    font-size:40px;    
}

.city-sub-title{
    font-weight:400;
    font-size: 20px;
    font-style:italic;
    margin-top: 15px;
    margin-bottom: 15px;
}    

.city-description{
    font-size: 14px;
    line-height: 1.6;
}

.section-content{
    width: 100%;
    margin: auto;
    position: relative;
}

.section-content.section-content-explore{
    padding-left: 300px;
}

.see-all-map{
    margin-top: -20px;
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
    border-radius: 10px;
}

.hover-content-xs .image-content-name{
    font-size: 18px !important;
}

.main-section-image-list-wrapper{
    width: 100%;
    overflow: hidden;
}

.main-section-slider-nav{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.main-section-slider-nav i{
    font-size: 30px;
    color: #333;
}

.main-section-slider-nav.left{
    left: -10px;
}

.main-section-slider-nav.right{
    right: -10px;
}    

.section-bg-slider-element .rslides_tabs{
    margin-top: -35px;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
    margin-right: 50px;
}

.section-bg-slider-element .rslides_tabs{
    list-style: none;
    text-align: right;
}

.section-bg-slider-element .rslides_tabs li{
    display: inline-block;
    margin-right: 10px;
}

.section-bg-slider-element .rslides_tabs a{
    text-indent: 9999px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: #FFF;
    display: block;
    border-radius: 2px;
    border: 1px solid #333;
    position: relative;
}

.section-bg-slider-element .rslides_tabs li.rslides_here a:after{
    content: " ";
    width: 8px;
    height: 8px;
    background: #333;
    position: absolute;
    top: 1px;
    left: 1px;
}

.slide-item-star, .slide-item-value{
    padding: 5px 7px;
    display: inline-block;
    width: 32px;
}

.slide-item-value{
    background: #83B538;
}

.slide-item-star{
    background: rgba(211,84,0,0.75);
}

.slide-bookmark-container{
    width: 68px;
    height: 29px;
    position: absolute;
    top: 1px;
    text-align: right;
}

.slide-bookmark-container{
    right: 1px;
}

.slide-bookmark-container.center{
    left: 50%;
    margin-left: -32px;
    text-align: center;
}

.slide-bookmark-container a:first-child{
    border-bottom-left-radius: 5px;
}

.slide-bookmark-container.center a:first-child{
    margin-right: -4px;    
}    

.slide-bookmark-container a:last-child{
    border-bottom-right-radius: 5px;
}    

.slide-bookmark-container a:last-child:not(:first-child){
    margin-left:-4px;
}

.slide-bookmark-container.center a:last-child:not(:first-child){
    margin-left:0;
}    

.section-header{
    display: table;
}

.section-header-images, .section-header-text{
    display: table-cell;
    vertical-align: top;
}

._page-section{
    z-index: 1;
}

@media(max-width:810px) {
    .section-header .section-header-images{
        display: block;
        text-align: center;
    }
    
    .section-header .section-header-text{
        display: block;
        padding: 0 !important;
    }
    
    .section-header .section-header-images.section-header-images-right{
        margin-top: 50px;
    }
    
    .section-header .section-header-images .city-section-container-images{
        margin: auto;
    }
}

.svg-map-bg{
    position: absolute;
    width: 100%;
    z-index: -1;
    max-width: 1000px;
}

#nc-map-svg path:hover, path.highlighted{
    opacity: 0 !important;
    cursor: pointer;
}

.nc-map-svg-marker{
    cursor: pointer;
    position: absolute;
}

.nc-map-svg-marker.asheville{
    left: 16%;
    z-index: 1;
    top: 36%;
}

.nc-map-svg-marker.hendersonville{
    left: 18%;
    top: 37%;
}

.nc-map-svg-marker.chimney-rock{
    /* left: 20%; */
    /* top: 32%; */
}

.qtip2-custom .qtip-content{
    padding: 8px 12px;
    font-family: 'GothamBook';
}

.qtip2-custom .qtip-content .qtip2-marker-title{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.qtip2-custom .qtip-content span {
    font-size: 14px;
    display:block;
    margin: 5px 0;
}

.svgmap-container{
  display: table;
  width: 100%;
  height: 100%;
}

.svgmap-wrapper{
  height:100%;
  height:100%;
  display:table-cell;
  vertical-align: top;
  position:relative;
}

.svgmap-wrapper .svg-map-bg{
  width: 100%;
  max-width: none;
}

.svgmap-container.ie-map-fix{
  height:458px;
  display: inline-block;
  width: 100%;
}

.svgmap-container.ie-map-fix .svgmap-wrapper{
  height:100%;
  width:100%;
  display: block;
  position:relative;
  max-width: 1000px;
}

.svgmap-container.ie-map-fix .svg-map-bg{
  max-width: 1000px;
}

.box {
  width:100%;
  height:100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#pin-1 {
  top: 32%;
  left: 15%;
}

@media(max-width:500px) {
  #nct-fullpage .section{
    padding-left: 0;
    padding-right: 0;
  }
  
  .page-navigation{
    display: none;
  }
  
  .section.highlights h4.primary-title{
    margin-top: 50px;
  }
  
  .nct-flex-slider .slide-content{
    width: 100%;
  }
  
  .nct-flex-slider .flex-control-nav{
    display: none;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-next, 
  .nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    width: 18px;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-next{
    right: -20px;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    left: -20px;
  }
  
  .city-section-container-images{
    width: 100%;
  }
  
  .nc-joined-image{
    width: 150px;
    height: 150px;
  }
  
  .nc-joined-image-middle{
    width: 200px;
    height: 200px;
    margin-left: -100px;
  }
  
  .section-bg-slider-element .rslides_tabs{
    margin-right: 5px;
  }
  
  #section-more-cities ul li{
    display: block;
  }
  
  .section-content.section-content-explore{
    padding-left: 0;
  }
  
  #section7-exploremore{
    position: relative;
    margin-top: 0;
  }
  
  #section7{
    display: table;
    padding-left: 0 !important;
    padding-right: 0 !Important;
    text-align: center;
  }
  
  #main-section .col-lg-7{
    margin-bottom: 20px;
  }
  
  .city-section-container-images{
    height: 200px;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-next, 
  .nct-flex-slider .flex-custom-direction-nav a.flex-prev, 
  .flex-custom-bg-direction-nav a.flex-next, 
  .flex-custom-bg-direction-nav a.flex-prev{
    font-size: 30px;
  }
  
  .city-section-slider-bg{
    padding: 20px 25px;
  }
  
}