footer {
    margin-top:0 !important;
}

.main-section{
    background: #F3F6FB;
    min-height: 650px;
}

#nct-fullpage .section{
    padding: 4em;
    position:relative;
}

.section h4{
    color: #49576c;
    font-weight: normal;
    font-family: 'Roboto Light', sans-serif;
}

#main-section .sep{
    background:#333;
    height:1px;
    width:40%;
    margin: 60px auto;
    text-align: center;
    overflow: visible;
}

#main-section .sep img{
    position: absolute;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.section h4.primary-title{
    font-size:23px;
}

.section.highlights{
    background-image: url('../img/image 1.jpg');
    background-position: center top;
    background-size: cover;    
    color: #FFF;
}

.bg-overlay{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.section.highlights h4.primary-title{
    color: #FFF;
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 100px;
}   

.section.highlights h5{
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin-top: 30px;
}

.nct-flex-slider{
    width: 830px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    overflow: visible;
}

.nct-flex-slider .slide-content{
    box-shadow: 3px 3px 2px rgba(0,0,0,.25);
    width: 200px;
    position: relative;
    margin: 0;
    height: 270px;
    background-color: #fff;
}

.nct-flex-slider .slide-content:after{
    content: " ";
    height: 4px;
    width:100%;
    background: #2A5CAB;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nct-flex-slider .slide-content .img {
    width: 100%;
    height: 170px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: center center;
    display: block;
    -moz-transition: all 1s;
    transition: all 1s;
    background-repeat: no-repeat;
}

.nct-flex-slider .slide-content div.info {
    border-top: 1px solid #dfdfdf;
    height: 100px;
    padding: 6px 45px 0 10px;
    position: relative;
    background: #fff;
    text-align: left;
}

.nct-flex-slider .slide-content div.info p.name {
    line-height: 15px;
    color: #2d2d2d;
    height: 47px;
    margin: 0;
    overflow: hidden;
}

.nct-flex-slider .slide-content div.info .imMore {
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
}

.nct-flex-slider .slide-content div.info .city {
    font-size: 9px;
    color: #bcbdbe;
    text-transform: uppercase;
    margin: 4px 0 0;
}

.nct-flex-slider li {
    margin-right: 10px;
}

.nct-flex-slider .flex-custom-direction-nav{
    list-style: none;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next, .nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    position:absolute;
    top: 50%;
    height:50px;
    width: 50px;
    margin-top: -25px;
    font-size: 50px;
    color: #FFF;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next:after,
.nct-flex-slider .flex-custom-direction-nav a.flex-prev:after{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -8px;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next{
    right: -50px;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next:after{
    content: "\f105";
}

.nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    left: -50px;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-prev:after{
    content: "\f104";
}    
    
.nct-flex-slider .flex-control-paging li a{
    width: 24px;
    height:24px;
    background: transparent;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

.nct-flex-slider .flex-control-paging li a:hover{
    border-color: rgba(255, 255, 255, 0.7);
}

.nct-flex-slider .flex-control-paging li a.flex-active:after{
    content: " ";
    position: absolute;
    width:16px;
    height:16px;
    background: rgba(255, 255, 255, 0.9);
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

.page-navigation{
    position: fixed;
    top: 150px;
    left: 30px;
    z-index: 1;
}

.page-navigation ul {
    list-style:none;
    margin:0;
    padding:0;
}

.page-navigation li{
    margin-bottom: 5px;
}

.page-navigation li a{
    width:24px;
    height:24px;
    background: #FFF;
    border: 1px solid rgba(51, 51, 51, 0.6);
    display: block;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    position: relative;
}

.page-navigation li a.active:after{
    content: " ";
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgba(51, 51, 51, 0.48);
    top: 4px;
    left: 4px;
    border-radius: 50%;
}
    
#city-section, #section5, #section7{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;
    min-height: 300px;
    position: relative;
}    

#city-section .city-section-container{
    width: 410px;
    margin: auto;
    position: relative;
    padding: 20px;
    border: 2px solid #BEB39E;
    margin-top: 20px;
}

.city-section-container-images{
    display: block;
    height: 250px;
    margin-top: 20px;
    width: 450px;
    margin-left: -40px;
    position: relative;
}

.city-section-container-content{
    text-align:center;
}

.city-section-image{
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 200px;
    border: 3px solid #FFF;
    position:absolute;
}

.city-section-image-left{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);    
}

.city-section-image-middle{
    left: 50%;
    margin-left: -125px;
    z-index: 1;
    height: 250px;
    width: 250px;
    margin-top: -20px;
}

.city-section-image-right{
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);    
    right: 0;
}

.city-section-slider{
    margin-top: 40px;
}

#nct-city-slider, 
#nct-section4-slider, 
#nct-section5-slider,
#nct-section6-slider{
    width: 830px;
    margin: 0;
}

.city-section-slider-bg{
    width: 910px;
    padding: 20px 40px;
    background: rgba(0,0,0,0.5);
    margin: auto;
    height: 410px;
}

.city-section-slider-bg h4{
    color: #FFF;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.city-section-slider-bg h4 a{
    color: #FFF;
    font-size: 10px;
    padding: 5px;
}

#section4{
    background-image: url('../img/asheville1.jpg');
    background-size: cover;
    background-position: center center;
    position:relative;
    min-height: 500px;
    color: #FFF;
}
    
#section4 .section4-top-image{
    background-position: center center;
    width: 300px;
    height:200px;
    position:absolute;
    right: 0;
    border: 3px solid #FFF;
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);     
}

#section4 .section4-slider{
    margin-top: 50px;
}

#section6{
    background-image: url('../img/linville1.png');
    background-size: cover;
    background-position: center center;
    position:relative;
    min-height: 500px;
    color: #FFF;
}

#section6 .section6-top-image{
    background-position: center center;
    width: 300px;
    height:200px;
    position:absolute;
    right: 0;
    border: 3px solid #FFF;
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);     
}


#section-more-cities{
    background-repeat: repeat;
    background-image: url('../img/more-cities-bg.png');
    min-height: 250px;
    color: #FFF;
    text-align:center;
    position: relative;
}

#section-more-cities ul{
}

#section-more-cities ul li{
    display: inline-block;
}

#section-more-cities ul li a{
    padding: 12px 40px;
    display:block;
    font-size:14px;
    color: #FFF;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;    
}

#section-more-cities ul li a:hover{
    color: #2A5CAB;
    background: #FFF;
}

#section7-exploremore{
    height: 288px;
    width: 288px;
    position: absolute;
    display: inline-block;
    left: 0;
    top: -50px;
    -webkit-transition: all .600s;
    -moz-transition: all .600s;
    -o-transition: all .600s;
    transition: all .600s;
}

#section7-exploremore img{
}

#main-section:after, 
#highlights-section:after, 
#city-section:after, 
#section4:after, 
#section5:after, 
#section6:after, 
#section-more-cities:after, 
#section7:after{
    content: " ";
    position: absolute;
    width:100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: #FFF;
}

.city-title{
    font-size:40px;    
}

.city-sub-title{
    font-weight:400;
    font-size: 20px;
    font-style:italic;
    margin-top: 15px;
    margin-bottom: 15px;
}    

.city-description{
    font-size: 14px;
    line-height: 1.6;
}

.section-content{
    width: 910px;
    margin: auto;
    position: relative;
}

.section-content.section-content-explore{
    padding-left: 300px;
    margin-top: 50px;
}