@font-face {
	font-family: 'GothamBook';
	src: url('fonts/GothamBook.eot');
	src: local('GothamBook'), url('fonts/GothamBook.woff') format('woff'), url('fonts/GothamBook.ttf') format('truetype');
}

header{
    width: 100%;
    min-height: 51px !Important;
}

footer{
	margin-top:0;
}

.detail-top .detail-top-title{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 10%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.detail-top .detail-top-title h1{
    margin: 10px;
    padding: 0;
    color: #FFF;
    text-transform: uppercase;
}

.nc-megamenu-top-level-col{
    height: 51px !important;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nc-megamenu-logo{
    opacity: 1;
}

.bg-texture{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;
    position: relative;
}

.detail-top{
    height: 450px;
    background-image: url('../img/header-image.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: -51px;
    position: relative;
	font-family: 'GothamBook';
}

.detail-breadcrumbs-wrapper, .detail-share-wrapper{
    display: inline-block;
    line-height: 30px;
}

.detail-share-wrapper{
    float: right;
    color: #FFF;
}

.detail-breadcrumbs{
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
     display: block;
     padding: 15px 0;
     z-index: 1;
     position: relative;
     background: rgba(0,0,0,0.5);
     font-family: 'GothamBook';
     margin-bottom: 15px;
}

.detail-breadcrumbs-wrapper a{
    font-size:13px;
    color: #FFF;
}

#detail-main-add:hover,
.detail-breadcrumbs-wrapper a:hover{
    color: #83B538;
}

#detail-main-add.detail-on-trip-table{
	color: #83B538;
}

.detail-breadcrumbs-wrapper a:not(:last-child):after{
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
}

.detail-share-wrapper label, .detail-share-wrapper a{
    display: inline-block;
    vertical-align: top;
}

.detail-share-wrapper label{
    margin-bottom: 0;
    margin-right: 10px;
}

.detail-share-wrapper a{
    font-size: 22px;
    margin-right: 2px;
    color: #FFF;
}    

.detail-share-wrapper a:hover{
    color: #83B538;
}

.detail-main{
    padding: 0;
    padding-bottom: 60px;
    margin-top: 0;
    font-family: 'GothamBook';
}

.detail-main h4{
    font-size: 30px;
}

.detail-main h5{
    font-size: 16px;
    font-style: italic;
}    

.detail-main-container .rslides_tabs{
    margin-top: 10px;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

/*
.detail-main-container .rslides_tabs{
    list-style: none;
    text-align: right;
}

.detail-main-container .rslides_tabs li{
    display: inline-block;
    margin-right: 10px;
}

.detail-main-container .rslides_tabs a{
    text-indent: 9999px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: #FFF;
    display: block;
    border-radius: 2px;
    border: 1px solid #333;
    position: relative;
}

.detail-main-container .rslides_tabs li.rslides_here a:after{
    content: " ";
    width: 8px;
    height: 8px;
    background: #333;
    position: absolute;
    top: 1px;
    left: 1px;
}
*/

.detail-main-top{
    margin-bottom: 25px;
}

#detail-main-slider{
    height: 400px;
}

#detail-main-slider > li{
    height: 100%;
}

#detail-main-slider > li >div{
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.detail-main-middle, .detail-main-contact-info{
    padding: 20px;
    min-height: 440px;
    -webkit-box-shadow: 0px 0px 15px 3px rgb(189, 187, 175);
    -moz-box-shadow: 0px 0px 15px 3px rgb(189, 187, 175);
    box-shadow: 0px 0px 15px 3px rgb(189, 187, 175);
    margin-bottom: 50px;
    border-radius: 20px;
    border: 2px solid rgba(197, 195, 181, 0.73);
}

.detail-main-contact-info{
    margin-top: 50px;
    min-height: 320px;
}	

.detail-main-icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.detail-main-icons ul li{
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    min-width: 150px;
    text-align:center;
}

.detail-main-icons li a{
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    border: 2px solid #FFF;
    display: inline-block;
    margin-right: 50px;
}

.detail-main-icons a:last-child{
    margin-right: 0;
}

.detail-main-contact-info p{
	line-height: initial;
}

.detail-main-contact-info .col-left:after{
	content: "";
	position: absolute;
	height: 90%;
	top: 5%;
	right: 0;
	width: 1px;
	background: #FFF;
}

.detail-main-middle h5{
	font-style: normal;
	margin-top:0;
	position: relative;
	padding-bottom: 10px;
}

.detail-main-middle h5:after{
	content: "";
	width: 50%;
	bottom: 0;
	position:absolute;
	height: 3px;
	background: #19345F;
	left: 0;
}

.detail-main-contact-address,
.detail-main-contact-phone,
.detail-main-contact-email{
	font-size: 14px;
	margin-bottom:5px;
}

.detail-main-contact-buttons{
	margin-top: 40px;
	text-align: center;
}

.detail-main-contact-buttons .detail-main-contact-buttons-getdir,
.detail-main-contact-buttons .detail-main-contact-buttons-www{
	display: inline-block;
	padding: 5px 20px;
	text-align:center;
	width: 150px;
	color: #FFF;
	position: relative;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;
}

.detail-main-contact-buttons .detail-main-contact-buttons-getdir i,
.detail-main-contact-buttons .detail-main-contact-buttons-www i{
	display: block;
	margin: auto;
	font-size: 30px;
	margin-bottom: 5px;
}

.detail-main-contact-buttons .detail-main-contact-buttons-getdir span,
.detail-main-contact-buttons .detail-main-contact-buttons-www span{
	font-size: 14px;
}	

.detail-main-contact-buttons .detail-main-contact-buttons-getdir:hover{
	background: #0D1A30;
}

.detail-main-contact-buttons .detail-main-contact-buttons-getdir{
	background: #19345F;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-right: -4px;
}

.detail-main-contact-buttons .detail-main-contact-buttons-www{
	background: #83B538;	
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.detail-main-contact-buttons .detail-main-contact-buttons-www:hover{
	background: #61862A;
}


.nct-flex-slider {
    margin: auto;
    margin-top: 40px;
    position: relative;
    overflow: visible;
}

.nct-flex-slider .flex-custom-direction-nav {
    list-style: none;
}


.nct-flex-slider .flex-custom-direction-nav a.flex-next, 
.nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    font-size: 50px;
    color: #FFF;
}

.nct-flex-slider .slide-content {
    box-shadow: 3px 3px 2px rgba(0,0,0,.25);
    position: relative;
    margin: 0;
    height: 270px;
    background-color: #fff;
}

.slide-bookmark-container {
    width: 68px;
    height: 29px;
    position: absolute;
    top: 1px;
    text-align: right;
	right: 1px;
}

.nct-flex-slider .slide-content .img {
    width: 100%;
    height: 170px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: center center;
    display: block;
    -moz-transition: all 1s;
    transition: all 1s;
    background-repeat: no-repeat;
}

.nct-flex-slider .slide-content div.info {
    border-top: 1px solid #dfdfdf;
    height: 100px;
    padding: 6px 45px 0 10px;
    position: relative;
    background: #fff;
    text-align: left;
}

.nct-flex-slider .slide-content div.info p.name {
    line-height: 15px;
    color: #2d2d2d;
    height: 47px;
    margin: 0;
    overflow: hidden;
}

.nct-flex-slider .slide-content div.info .imMore {
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
}

.nct-flex-slider .slide-content div.info .city {
    font-size: 9px;
    color: #bcbdbe;
    text-transform: uppercase;
    margin: 4px 0 0;
}

.slide-bookmark-container{
    width: 68px;
    height: 29px;
    position: absolute;
    top: 1px;
    text-align: right;
}

.slide-bookmark-container{
    right: 1px;
}

.slide-bookmark-container.center{
    left: 50%;
    margin-left: -32px;
    text-align: center;
}

.slide-bookmark-container a:first-child{
    border-bottom-left-radius: 5px;
}

.slide-bookmark-container.center a:first-child{
    margin-right: -4px;    
}    

.slide-bookmark-container a:last-child{
    border-bottom-right-radius: 5px;
}    

.slide-bookmark-container a:last-child:not(:first-child){
    margin-left:-4px;
}

.slide-bookmark-container.center a:last-child:not(:first-child){
    margin-left:0;
}    

.slide-item-star {
    background: rgba(211,84,0,0.75);
}

.slide-item-value {
    background: #83B538;
}

.slide-item-star, .slide-item-value {
    padding: 5px 7px;
    display: inline-block;
    width: 32px;
}

.detail-main-highlight-slider h4 {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.see-all-map {
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
    border-radius: 10px;
	position: relative;
}

.hover-content>.image-content{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
	height:100%;
    background: rgba(0,0,0,0.5);
    opacity:0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.hover-content>.image-content>.image-content-name{
    color: #FFF;
    display: block;
    position: absolute;
    text-align: center;
	top: 50%;
	margin-top: -10px;
    width: 100%;
    line-height: initial;
}

.hover-content>.image-content>.image-content-name{
    font-size: 16px;
}
 
.hover-content:not(.hover-content-disabled):hover>.image-content{
    opacity: 1;      
}    

.nct-flex-slider .flex-control-paging li a {
    width: 24px;
    height: 24px;
    background: #FFF;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.9);
    position: relative;
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.18);
    box-shadow: inset 0px 0px 9px 0px rgba(119, 119, 119, 0.88);
}

.nct-flex-slider .flex-control-paging li a:hover {
    border-color: rgba(255, 255, 255, 0.7);
}

.nct-flex-slider .flex-control-paging li a.flex-active:after {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #0A4A63;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

.nct-flex-slider .slide-content:after {
    content: " ";
    height: 4px;
    width: 100%;
    background: #2A5CAB;
    position: absolute;
    bottom: 0;
    left: 0;
}

.detail-main-middle2{
	margin-top: 20px;
}

.detail-main-middle2 h6{
	font-size: 16px;
}

.detail-main-middle2-panel{
	min-height: 225px;
	text-align:left;
}

.detail-main-middle2-panel-hours label{
	width: 30px;
}

.detail-main-middle2-panel-price label{
	width: 60px;
}

.detail-main-middle2-note, .detail-main-middle2-note2{
	font-style: italic;	
	margin-bottom: 5px;
}

.detail-main-middle2-note{
	margin-top: 20px;
}
    
.detail-main-middle-tab-nav-list{
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    text-align: left;
    height: 90px;
}

.detail-main-middle-tab-nav-list li{
    display: inline-block;
    width: 20%;
    float: left;
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav{
    display: block;
    text-align: left;
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon{
    width: 64px;
    height: 64px;
    border:2px solid #FFF;
    border-radius: 50%;
    position: relative;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon svg{
    width: 48px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    margin-top: -24px;
    left: 6px;
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon img{
    display: none;
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon path,
.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon circle{
    fill: #333;
	-webkit-transition: all .400s;
	-moz-transition: all .400s;
	-o-transition: all .400s;
	transition: all .400s;    
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav:hover .detail-main-middle-tab-nav-icon,
.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav.active .detail-main-middle-tab-nav-icon{
    background: #FFF;
}

.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav:hover .detail-main-middle-tab-nav-icon path,
.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav:hover  .detail-main-middle-tab-nav-icon circle,
.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav.active .detail-main-middle-tab-nav-icon path,
.detail-main-middle-tab-nav-list .detail-main-middle-tab-nav.active  .detail-main-middle-tab-nav-icon circle
{
    fill: #83B538;
}    


.detail-main-middle-tab{
    display:none;
}

.detail-main-middle-tab.active{
    display: block;
}

.rslides_thumbs li, .rslides_thumbs a {
    display: inline-block;
    zoom: 1;
}

.rslides_thumbs a {
    padding: 0;
    border: 2px solid transparent;
    position: relative;
}

.rslides_thumbs li.rslides_here a {
    border: 2px solid #2980b9;
}

.rslides_thumb {
    display: block;
    background-repeat: no-repeat;
    background-position: initial;
    height: 50px;
    width: 50px;
    background-size: cover;
}

#detail-main-map{
    min-height: 400px;
}

#detail-main-map-filter{
    float: right;
    width: 150px;
}

#detail-main-add{
    display: inline-block;
    font-size: 15px;
    color: #333;
}

#detail-main-add i{
    font-size: 30px;
    /* display: block; */
    margin: auto;
    vertical-align: sub;
}

.detail-main-middle-tab-nav-title{
    text-align: center;
    max-width: 100%;
    margin-top: 5px;
    width: 64px;
}

.detail-main-contact-info .col-left,
.detail-main-contact-info .col-right{
    min-height: 300px;
}

.detail-main-middle-tab-scroll-content{
	max-height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
}

.iw-body .iw-body-image-wrapper > div{
    background-size: cover;
    background-position: center center;
	width: 280px;
	height: 200px;
}

.iw-body h5{
	text-align:center;
	font-family: 'GothamBook';
}

.iw-body .iw-body-fav{
	font-family: 'GothamBook';
	font-size: 11px;
	vertical-align: top;
}

.iw-body .iw-body-suitcase{
	float:right;
	font-family: 'GothamBook';
	font-size: 11px;
	vertical-align: top;
}

.iw-body .iw-body-suitcase-in{
	color: #83B538;
}

.detail-main-middle2-line{
    margin-bottom: 5px;
}

.detail-main-middle2-line .detail-main-middle2-note2{
    margin-left: 15px;
}

.detail-main-middle2-line label{
    width: 100px;
}

.detail-main-middle2-line span{
    width:110px;
    display: inline-block;
}

.nct-flex-slider .flex-custom-direction-nav a.flex-prev:after {
    content: "\f104";
}
.nct-flex-slider .flex-custom-direction-nav a.flex-next:after {
    content: "\f105";
}

.nct-flex-slider .flex-custom-direction-nav a.flex-next:after, .nct-flex-slider .flex-custom-direction-nav a.flex-prev:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -8px;
}

@media(max-width:1190px) {
    .detail-share-wrapper{
        float: left !important;
        margin-left: -15px;
        margin-top: 15px;
    }
}
    
@media(max-width:500px) {
  .detail-top .detail-top-title h1{
    font-size: 28px;
  }
  
  .detail-breadcrumbs-wrapper a{
    font-size: 10px;
  }
  
  .detail-breadcrumbs-wrapper a:not(:last-child):after{
    margin-left: 4px;
    margin-right: 1px;
  }
  
  .detail-main-top{
    margin-bottom: 15px;
  }
  
  .detail-main h4{
    font-size: 20px;
  }
  
  .detail-main h5{
    font-size: 14px;
  }

  #detail-main-add{
    font-size: 12px;
    margin-top: 10px;
  }
  
  #detail-main-add i{
    font-size: 20px !important;
  }
  
  #detail-main-slider{
    height: 200px;
  }
  
  .rslides_thumb{
    width: 32px;
    height: 32px;
  }
  
  .detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon{
    width: 32px;
    height: 32px;
    margin: auto;
  }
  
  .detail-main-middle-tab-nav-list .detail-main-middle-tab-nav .detail-main-middle-tab-nav-icon svg{
    width: 16px;
    margin-top: -8px;
  }
  
  .nct-flex-slider .slide-content{
    width: 100%;
  }
  
  .detail-main-middle-tab-nav-title{
    font-size: 11px;
  }
  
  .xxs-nopad{
    padding-left:0;
    padding-right:0;
  }
  
  .xxs-txt-center{
    text-align: center;
  }
  
  .nct-flex-slider .flex-control-nav{
    display: none;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-next, 
  .nct-flex-slider .flex-custom-direction-nav a.flex-prev{
    width: 18px;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-prev {
    left: -30px;
  }
  
  .nct-flex-slider .flex-custom-direction-nav a.flex-next {
    right: -30px;
  }

  .see-all-map{
    margin-top: -10px;
  }
}
    