/*IMAGE LOADER*/
.logo-loader{
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: -90px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    width: 150px;
}
/*END IMAGE LOADER*/

.home-search-btn, .home-search-btn:hover{
	background: #83B538;
	border-color: #83B538;
}

.owl-controls .owl-nav div {
  position: absolute;
}

.owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next{
	bottom: 0; 
	height: 100%;
	width: 40px;
}

.featured-slider .owl-controls .owl-nav .owl-prev{
	left:0;
}

.owl-controls .owl-nav .owl-prev{
	left: 150px;
}

.owl-controls .owl-nav .owl-next{
	right:0;
}
 
.owl-nav-layout{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

.owl-nav-layout i{
	position: absolute;
	top:50%;
	margin-top:-5px;
	font-size:25px;
	left:8px;
	color: #FFF;
}

.label-desc{
	color: #FFF;
	padding-left: 10px;
	font-style: italic;
}

.header-control-checkout, .header-control-checkin{
	width:100% !important;
}

.feature-container{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.featured-slider .item h4{
	height: 150px;
	background: #FFF;
	margin: 0;
	padding: 0;
}

.rslides{
	height: 100%;
}

.mainmenu-a:first-child i{
	color: #2A5CAB;
}

.mainmenu-a{
	text-transform: uppercase;
	font-size: 12px;
}

.container.container-header{
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;	
	height: 100%;
	padding: 0;
}

.nc-header-h4{
	color: #49576c;
	font-weight: normal;
	font-family: 'Roboto Light', sans-serif;
	font-size: 20px;
}

.nc-header-h4.welcome{
	font-size: 23px;
}

.nc-header-h4.latest-news{
	font-size:20px;
}

.label-welcome{
	padding: 10px 0;
	font-size: 14px;
	color: #838c9a;
	text-align: center;
	font-weight: normal;
	font-family: 'Roboto Light', sans-serif;
	line-height: 25px;
}

.owl-height.mid-slider{
	height: 150px;
}

.mid-slider .owl-item, .mid-slider .owl-item .item{
	height: 150px;
}

.mid-slider .owl-item a{
  display: block;
  height: inherit;
}

.mid-slider .owl-item div.item a:not(.img-loaded):before,
.featured-slider .single-slide li a:not(.img-loaded):before{
  content: " ";
  position: absolute;
  background: #FFF;
  width:100%;
  height:100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.mid-slider .owl-item div.item a:not(.img-loaded):after,
.featured-slider .single-slide li a:not(.img-loaded):after{
  content: "\f110";
  font-family: FontAwesome;
  font-size: 30px;
  top: 50%;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  margin-top: -21px;
  color: #ddd;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.mid-slider .owl-item img{
	height:100%;
}

.freewall-container{
	/*height: 800px;*/
	width: 100%;	
}

#latest-news-events{
	width: 100%;	
}

#headerBackSlider{
	z-index: 1;
}

#featured-slider.owl-carousel .owl-item {
	background: #fff;
	float: none;
	display: inline-block;
	vertical-align: bottom;
}

.news-item{
	width: 200px;
	/*height: 300px;*/
	background-color: #FFF;
	border-bottom: 2px solid #e0e6ee;
}

.news-item .news-content{
	  padding: 0 10px 15px 10px;
}

.news-content h4{
	font-size:14px;
}

.grid-header-block{
	width: 150px;
	height: 150px;
	float: left;
}

.shadow{
	width: 25px;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	height: 100%;
}

.grid-header-block.places-to-stay{
	background: #2A5CAB;
}

.grid-header-block.where-to-eat{
	background: #630460;
}

.grid-header-block.things-to-do{
	background: #83b538;
}

.grid-header-block.cities-and-regions{
	background: #d02a38;
}

.grid-header-block label{
	color: #FFF;
	display: block;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 18px;
	margin-top: 50px;
	position: relative;
	padding: 0 25px;
}
 
 #search{
	text-transform: uppercase;
	text-transform: uppercase;
	padding: 0;
	width: 100px;
	height: 40px;
	font-size: 11px;
}
 
.header-control{
	width: 100%;
	display: inline-table;
	padding-left: 5px;
}

.header-control.vacation{
	padding-left: 0;
}

.header-control.vacation .input-group-addon i.fa{
	width:13px;
}
 
header .intro-text {
	width: 100%;
	position: absolute;
	top: 200px;	
}

header .intro-text .intro-lead-in {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 40px;
	color: #FFF;
	font-family: 'Roboto Light', sans-serif;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;    
    font-size: 20px;
    line-height: 20px;
	color: #FFF;
	font-family: 'Roboto Light', sans-serif;
}

.hover-featured-container{
	width: 300px;
	height: 250px;
}

.price-block{
	position: absolute; 
	right: 10px; 
	top: 10px; 
	height: 60px; 
	width: 60px;
	background: rgba(0,0,0,.5);
	z-index: 5;
	color: #FFF;
	font-size: 10px;
	opacity: 0.8;
	font-style:italic;
}

.price-block strong{
	display: block;
	font-size: 15px;
	padding-top: 12px;
	font-style:normal;
}

.row-location{
	padding: 10px 0;
	font-size: 11px !important;
}

.row-info{
	/*padding: 10px 0;*/
	background-color: #282f32;
	color: #FFF;
	padding-bottom:3px;
}

.info-div{
	display: inline-block;
	padding-right: 10px;
	font-size: 10px;	
}

.row-info .info-div i{
	display: block;
	text-align: center;
	font-size: 15px;
	padding-bottom: 2px;
}

.row-info .info-div i img{
	display: inline-block;
	width: 16px;
	height: 16px;
}

.col-rating{
	padding-top: 15px;
}

.location-container .location-div{
	display: inline-block;
}

.location-container .location-div.location-name{
	float: left;
	padding-left: 5px;
}

.location-container .location-div.location-loc{
	float: right;
	padding-right: 5px;
}

.single-slide label{
	margin:0;
}

.single-slide .info{
	display: block;
}

.single-slide .info .rating, .single-slide .info .details{
	display: inline-block;
	width: 50%;
}

@media(max-width:768px) {

    header .intro-text .intro-lead-in {
		margin-top: 45px;
		margin-bottom: 10px;
		font-size: 25px;
		font-style: italic;
		line-height: 25px;
    }

    header .intro-text .intro-heading {
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 20px;
    }	
	
	header .intro-text{
		top: 80px !important;
	}

	.col-m-header-padding{
		padding-left: 0;
		padding-right: 0;
	}
	
}
.nc-toures{
	height: 500px;
}

@media(min-width:992px) {
	.lg-padding-left15{
		padding-left: 15px !important;
	}
}

@media(max-width:992px) {
	
	.col-m-header-padding{
		padding: 5px 0;
	}
	
	.header-control{
		width: 100%;
	}
	
	header .intro-text{
		top: 100px;
	}
	
	.nc-toures{
		height: auto;
	}
	
	#search{
		width:100%;
		font-size: 15px;
		padding: 10px 0;
		height: auto;		
	}
	
	.header-control.header-control-checkin{
		padding-left: 0;
	}
	
	.owl-carousel .owl-item.hover li:first-child{
		width: 280px !important;
	}
		
}

.header-input{
	font-size: 11px;
}

.view-more{
	width: 100px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}

.view-more i{
	font-size: 30px;
}

.feat-tour-info{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: #d02a38;
}

.feat-tour-info.red{
	background: #d02a38;
}

.feat-tour-info.green{
	background: #83B538;
}

.feat-tour-info.blue{
	background: #1e92a8;
}

.feat-tour-info.dark-blue{
	background: #19345f;
}

.feat-tour-info a{
	color: #FFF;
	font-size: 14px;
	font-family: 'Roboto Light', sans-serif;
}

.feat-tour-info a label{
	font-size: 11px;
	padding-top: 3px;
	font-weight: normal;
}

/* featured Slider */

.featured-slider{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.thumb-slider {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.featured-slider-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.featured-slider .owl-stage-outer {
    padding: 0;
}

.owl-carousel .owl-item {
    background: #fff;
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

.owl-carousel .owl-item.hover {
    z-index: 9;
    position: relative;
}

.owl-carousel .owl-item.hover li:first-child{
	width: 350px;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li {
  margin-left: -70px;
  margin-right: -70px;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li .single-slide {
    max-width: 100%;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item > li .single-slide .rating-content {
    position: absolute;
    top: 7px;
    z-index: 9;
    right: 7px;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item > li .single-slide .featured {
    position: absolute;
    top: -1px;
    left: -5px;
    z-index: 3;
    display: none;
}

.featured-slider .owl-controls .owl-buttons div {
    bottom: 60px;
    z-index: 9;
    top: auto;
    background-position: 4px 5px;
    width: 31px;
    height: 45px;
    background-color: rgba(255,255,255,0.5);
}

.featured-slider .owl-controls .owl-buttons div.owl-next {
    right: 20px;
    background-position: -23px 5px;
}

.featured-slider .owl-controls .owl-buttons div.owl-prev {
    left: 20px;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item > li .single-slide .rating-content .rating {
    display: none;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li .single-slide .rating-content .rating {
    display: inline-block;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li .single-slide .featured {
    display: block;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li .single-slide .rating-content {
    top: 35px;
    right: 10px;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li .single-slide .info > p {
    font-size: 13px;
    line-height: 15px;
}

.featured-slider > .owl-stage-outer > .owl-stage > .owl-item.hover > li .single-slide > p {
    display: block;
}

.featured-slider .single-slide {
    background: #fff;
    padding: 5px 4px 0 4px;
    max-width: 221px;
    margin: 0 auto;
    position: relative;
}

.featured-slider .single-slide > p {
    font-size: 17px;
    text-align: center;
    display: none;
    margin-bottom: 0;
}

.featured-slider .single-slide .info {
    display: table;
    width: 100%;
}

.featured-slider .single-slide .info > p {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    /*font-size: 13px;
    line-height: 15px;*/
    font-size: 0;
    line-height: 0;
    width: 15%;
}

.featured-slider .single-slide .info > p span {
    display: block;
    font-size: 25px;
    line-height: 25px;
}

.header-feature-row{
	display: block;
	width: 100%;	
	z-index: 1;
}

.header-feature-dd-wrapper{
	background: #83B538;
	display: inline-block;
	padding-left: 15px;
}

.header-feature-dd-wrapper label{
	margin: 11px 0;
	padding-right:15px;
	color: #599543;
	border-right: 1px solid #64a04f;
}
.dropdown-menu.featured{
	font-size: 12px;
}

.btn-featured-dd{
	background: transparent;
	border:0;
	color: #FFF;
	font-size: 11px;
	padding: 10px 12px;
}

.featured-detail .star-rating{
	margin-top: -5px;
}

.featured-slider .single-slide img{
	max-height:150px;	
}

.view-more{
	width: 100px;
	display: inline-block;
	font-size: 12px;	
}

.view-more a{
	color: #2A5CAB;
	font-size: 14px;
	font-weight: normal;
}

.view-more i{
	font-size: 20px;
	display: block;
	color:#8892a6;
}
#headerBackSlider li{
	height: 100%;
	overflow: hidden;
}

#headerBackSlider li img{
	height: auto;
	width: auto;
 }
 
 .navbar-brand{
	padding-left: 0;
 }
 
.news-img-wrapper{
	width: 100%;
	height: 150px;
}

.middle-sliders .row{
	margin: 5px 0;
}

.search-submenu{
	text-align: left;
	background: #FFF;
	padding: 10px;
	border: 1px solid rgba(51,153,204,.3);
	margin-top: -6px;
	margin-left: 0px;
	box-sizing: content-box;
}

.search-submenu .radio.radio-inline{
	margin-left: 0;
	margin-left: 10px;
}

#home-all-area-expand-panel-wrapper{
	position: absolute;
	width: 300px;
	height: 150px;
	z-index: 3;	
}

#home-all-area-expand-panel{
	position: absolute;
	width: 100%;
    background: #FFF;
	border: 1px solid rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
	padding: 15px;
	bottom: 0;
}

#all-area-clear-city{
    position: absolute;
    top: 8px;
    right: 25px;
    cursor: pointer;
	color: #D02A38;
}

#home-all-area-ga{
	padding-right: 25px;
}

.featured-slider .single-slide li a{
    display: block;
    height: 150px;
    width: 100%;
}
.errorForGettingMoreRecords
{
    text-align: left;
	background: #FFF;
	padding: 10px;
	border: 1px solid rgba(51,153,204,.3);
	margin-top: -6px;
	margin-left: 0px;
	box-sizing: content-box;
}

@media(max-width:500px) {
  .intro-text > .row{
    display: none;
  }
  
  .featured-slider .single-slide{
    width: 100%;
    max-width: none;
  }
  
  .shadow{
    display: none;
  }
  
  .grid-header-block{
    width: 100%;
    float: none;
    display: block;
    position: relative;
    height: 40px;
  }
  
  .grid-header-block label{
    margin-top: 0;
    padding: 0;
    position: absolute;
    top: 9px;
  }
  
  .owl-controls .owl-nav .owl-prev{
    left: 0;
  }
  
  .grid-header-block:before{
    content: " ";
    width: 15px;
    background: rgba(0,0,0,.5);
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
  }
  
  
}