.ncim-list{
	list-style: none;
	margin: 0;
	padding:0;
	width: 100%;
}

.ncim-list li{
	display: inline-block;
	position: relative;
	margin: 5px;
}

.ncim-list li a{
	display: block;
	width: 150px;
	height: 150px;
	position: relative;
}

.ncim-list li a img{
	width: 100%;
	height: 100%;
}

.ncim-disabled{

}

.ncim-list li a.ncim-disabled:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

.ncim-controls{
	display: inline-block;
	position: absolute;
	right: 0;
	z-index: 2;
	height: 100%;
	top: 0;
	padding: 2px;
	/*background: rgba(0,0,0,0.8);*/
}

.ncim-controls button{
	padding: 0;
	display: block;
	width: 24px;
	height: 21px;
}

.ncim-controls button.btn-remove{
	bottom: 0;
	bottom: 3px;
	position: absolute;	
}

.ncim-controls button i{
	font-size: 15px;
}

.ncim-upload-row{
	display: block;
	padding-bottom: 5px;
	text-align: right;
}

#imageUploadCrop-dzone{
	width: 100%;
	height: 200px;
	border: 3px dashed #0890CB;
}

#imageUploadCrop-dzone .dz-message{
	font-size: 30px;
	padding-top: 80px;
	margin: 0 auto;
	text-align: center;
}

#imageUploadCropModal .cropper-container{
	width: 100%;
	height: 450px;
	display: block;
}

#imageUploadCropModal .cropper-preview > img {
  max-width: 100%;
}

.cropper-preview {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.cropper-rotate-input{
	height: 31px;
}

.row-cropper-controls{
	padding-bottom: 15px;
}

.ncimPreviewImage{
	width: 100%;
}

.btn-im-image-btn{
	margin-top: 3px;
}