.navbar-collapse{
	padding-left:0;
	padding-right:0;
}

.nc-logo-img{
	margin-top:-35px;
	margin-left: -8px;
}

.navbar-nav>li:last-child>a{
	padding-right:0;
}

.navbar-nav>li>a{
	padding: 10px;
}

.navbar-toggle{
	color: #FFF;
}

.navbar-nav{
	float: right;
	margin:0;
}

 .navbar-default {
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #2A5CAB;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2A5CAB;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(max-width:768px) {
	.nc-logo-img{
		margin-top: -10px !important;
	}
	
	.navbar-toggle{
		font-size: 25px;
		margin-top: 20px !important;
	}
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
	.navbar-right{
		
	}

}

@media (max-width: 1058px) {

	
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
		margin-top: 5px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		padding: 20px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
		color: #2A5CAB!important;
    }
    .collapse.in{
        display:block!important;		
    }
	.navbar-default .navbar-collapse{
		background: #FFF;		
	}	
	
	.nc-logo-img{
		margin-top:-25px;
	}
	
	.navbar-collapse.collapse.in .navbar-nav{
		/*padding: 20px;*/
	}

}

@media (max-width: 1145px) {
    .navbar-nav>li>a {
		padding: 10px 5px;
		font-size: 11px;
    }	
}

