.navbar-brand{
	height: auto;
	padding: 5px 15px;
}

.row-top-nav{
	background: #FFF;
	border-bottom: 1px solid #2A5CAB;
}

.row-mainmenu{
	background: #FFF;
}

.mainmenu-nav{
	margin: 0;
	padding: 0;
}

.mainmenu-list a{
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 7px !important
}

.mainmenu-list li:last-child a{
	padding-right: 0!important;
}

.nc-logotype{
	margin-left: -23px;
	width: 150px;
	height: 80px;
}

.menu-top li a.header-menu-select{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 9px;
	padding-bottom: 9px;
}

a.header-menu-select .bootstrap-select.btn-group .dropdown-toggle {
    background: transparent !important;
    border-color: transparent !important;
    padding-left: 3px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 15px;
    box-shadow: none;
	color: #2A5CAB;
}

a.header-menu-select .bootstrap-select.btn-group .dropdown-toggle .caret{
	right: 5px;
}

a.header-menu-select .bootstrap-select.btn-group .dropdown-menu.inner{
	font-size: 12px;
}

@media (max-width: 992px) {
	.nc-logotype{
		  margin-left: -13px;
	}
	
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
		margin-top: 5px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
		color: #2A5CAB!important;
    }
    .collapse.in{
        display:block!important;		
    }
	.navbar-default .navbar-collapse{
		background: #FFF;		
	}
}
