body{
    background-image: url('../img/paper_hatched_bg_tile.jpg');
    background-repeat: repeat;    
}

.panel-group .panel+.panel{
	margin-top:0;
}

.panel-group .panel-heading{
	border: 0;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	background: #FFF;
	color: #2A5CAB;
	cursor: pointer;
	font-weight: normal;
	padding: 15px;
}

.panel-group .panel-heading i{
	color: #acbfce;
}

.panel-group .panel{
	border: 0;
	border-top: 1px solid #f3f6fb;
	background: #FFF;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
	margin: 2px 0;
	box-shadow: none;
}

#accordion.panel-group .panel-heading{
	font-size: 14px;
}

#accordion.panel-group .panel-heading.active, #accordion.panel-group .panel-heading.active i{
	background : #7485a5;
	color: #FFF;
	border: 0;
}

#accordion.panel-group .panel-heading i, #accordion.panel-group .panel-heading img{
	margin-right: 5px;
	text-align: center;
	font-size: 14px;
}

.padding15{
	padding: 15px;
}

.row-panel-title{
	border-bottom: 1px solid #d9e5ee;
	border-top: 1px solid #d9e5ee;
	padding: 10px 15px;
	
	margin-left: -10px;
}
.row-panel-title.first{
	border-top: 0;
	padding-top: 0;	
}

.sub-title{
	font-size: 13px;
}

.title-color{
	color: #7485a5;
	font-weight: bold;
}

#panel-desc-table{
	width: 100%;
}

#panel-desc-table tr{
	height: auto !important;
}

#panel-desc-table td{
	padding: 5px 0;
}

#panel-desc-table td.title{
	width: 30%;
	color: #929bad;
	font-weight: bold;
}

.col-amentities{
	color: #929bad;
}

.prop-info-list{
	list-style: none;
	margin:0;
	padding:0;
}

.row-prop-info div.disabled{
	color: #c6cad3;
}

.row-prop-info img{
	display: block;
	margin: 0 auto;
}

.row-prop-info i{
	display: block;
	text-align: center;
	font-size: 25px;
	height: 30px
}

.row-prop-info .only-for-users i.btn-toggle-check{
	font-size: 22px !important
}

.fav-icon{
	height: 30px;
	font-size: 21px !important;
	text-align: center;
	display: block !important;
}

.rating-container .rating-stars{
	color: #2A5CAB;
}

.border-left{
	border-left: 1px solid #caced6
}

.border-right{
	border-right: 1px solid #caced6
}

.btn-toggle-check{
	cursor: pointer;
	font-size: 30px !important;
}

.btn-toggle-check-on{
	color: #83B538;
}

.btn-toggle-check-off{
	color: #e47158;
}

/*right side*/

.row1{
	margin:0;
	background: #FFF;
}

.row1-top-margin{
	margin-top: 15px;
}

.col-right-side table{
	width: 100%;
}

.col-right-side table td{
	padding: 5px 0;
}

table.bg-yellow{
	color: #000;
	background: #ffffa1 !important;
	border-collapse:collapse;
}

.bg-yellow strong{
	color:#000;
}

.bg-yellow td:not(.text-right){
	padding-left: 15px;
}

.bg-yellow tr{
	border-bottom: 1px solid #e1de41;
}

.bg-yellow tr td.text-center{
	border-left: 1px solid #e1de41;
	padding: 3px;
	padding-right: 10px;
}

.btn-booknow{
	width:100%;
	background: #e47158;
	color: #FFF;
	padding: 12px 0;
	font-weight: bold;
}

.btn-booknow:hover, .btn-booknow:active, .btn-booknow:focus{
	color: #fff !important;
	background-color: #c9302c;
	border-color: #ac2925;
}

.side-noborder-table td{
	padding: 5px 0;
	color:#000;
}

.side-noborder-table td:not(.price){
	padding-left: 15px;
}

.side-noborder-table td.price{
	text-align: right;
	font-weight: bold;
	padding-right: 15px;
}

.side-noborder-table tr:nth-child(even){
	background: #FFF;
}

.side-noborder-table tr:nth-child(odd){
	background: #f0f7ff;
}

.btn-contact-manager, .btn-contact-us{	
	width: 180px;
	padding: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	border-radius: 4px;
}

.btn-more-props{
	width: 180px;
	padding: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	border-radius: 4px;
}

.btn-get-detailed-quote{
	width: 100%;
	padding: 12px 0;
}

#checkinDate, #checkoutDate{
	font-size: 10px;
}

.row-review{
	display: table;	
	color: #8892a6;
}

.row-who-review{
	padding-bottom: 15px;
	padding-right: 20px;
	padding-top: 10px;
	color: #8892a6;
	font-style: italic;
}

.row-review .col-image{
	float:none;
	display: table-cell;
	vertical-align:middle;
}

.row-comment {
	display: table;
	font-size:11px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row-comment .col-rating{
	float:none;
	display: table-cell;
	vertical-align:middle;
}

.row-review .col-image div.person{
	color: #508ade;
	font-weight: bold;
	padding-top: 3px;
}

.row-review-offset{
	margin-left: 8%;
}

#reviewsTab .popover{
	z-index: 1 !important;
}

.popover-review{
	position: relative;
	display: block;
	float: left;	
	max-width: 100%;
}

.rightbar-date-col-left{
    padding-left:10px !important;
}

.rightbar-date-col-right{
	padding-left: 10px !important;
	padding-right: 10px !important;
}

@media(max-width:992px) {
	#main-slider > li > a{
		min-height: 400px;		
	}
	
	.mobile-nopadding{
		padding:0;
	}
	
	.mobile-no-left-border{
		border:0;
	}
	.mobile-pading-top10{
		padding-top:10px;
	}
	.info-item{
		margin: 5px 0;
	}
	
	.input-group.spinner {
		width: 60px !important;
	}
	
	.input-group.spinner  input{
		padding: 3px;
		height: 34px !important;
	}
	
	.input-group-btn-vertical i{
		font-size: 20px !important;
		left:3px !important;
		margin-top: -3px;
	}
	
	.input-group-btn-vertical > .btn{
		padding: 8px !important;
	}
	
	.row-prop-info .only-for-users i.btn-toggle-check{
		font-size: 30px !important;
	}
	
	.input-group.header-control{
		padding: 0;
	}
	
	.back-filter-header{
		margin-top: -48px;
	}
	
	#amentitiesTab .rooms-list .room-amentity-row{
		width: 50% !important;
	}
    
    .rightbar-date-col-left{
        padding-right: 10px !important;
    }
    .col-right-side{
        margin-left: 8.33333333%;
    }    
}

@media(max-width:1100px) {
	.input-group.spinner{
		width: 40px;
	}
}
 
#accordion.panel-group .panel-heading i{
	margin-right: 5px;
	font-size: 14px;
}

/* thumbnail UL*/
.rslides_tabs {
	list-style: none;
	width: 100%;
	margin: 10px 0 0 0;
	max-height: 65px;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

/* Thumbnail stuff */

.rslides_thumbs li, 
.rslides_thumbs a {
    display : inline-block;
    *display : block;
    zoom : 1;
}

.rslides_thumbs a{
    padding : 0;
    margin-left : 2px;
    margin-right : 2px;
	position:relative;
}
.rslides_thumbs .rslides_here a{
    border-color : #2A5CAB;
}

.rslides_thumbs .rslides_here a:after{
	opacity: 0;
}

.rslides_thumbs img{
    max-width : 100%;
    width : 80px;
	max-height: 60px;
}

.rslides_thumbs a:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; 
	left:0;
    background:rgba(0,0,0,0.6);    
    transition: all 1s;
    -webkit-transition: all 1s;
}

.rslides_thumb {
    display : block;
    background-repeat : no-repeat;
    background-position : 50% 50%;
    height : 50px;
    width : 50px;
}

.main-slider-thumbcontrol{
	position: absolute;
	height: 100%;
	display: inline-block;
	right:0;
	top:0;
	background: #FFF;
}

.main-slider-thumbcontrol div.up, .main-slider-thumbcontrol div.down{
	padding: 5px 10px;
	color: #2A5CAB;
	cursor: pointer;
}

.main-slider-thumbcontrol div.down{
	bottom:0;
	position: absolute;
}

.thumb-container{
	position: relative;
}

.prop-map{
	width: 100%;
	height:300px;
}

.panel-body{
	padding: 10px;
}

.rslides_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 1;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/themes.png") no-repeat left top;
	margin-top: -61px;
	display: inline-block;
}

.rslides_nav:active {
	opacity: 1.0;
}

.rslides_nav.prev {
	left: 0;
}

.rslides_nav.next {
	right: 0;
	background-position: right top;
}

.nav-container{
	position: absolute;
	top: 50%;
	height: 61px;
	width: 100%;
	margin-top: -80px;
}

.nav-container .rslides_tabs{
	margin: 0;	
}

.nav-container .rslides_nav{
	margin-top:0;
}

.row-manager-div{
	font-size:11px;
	line-height: 25px;
}

.view-more{
	width: 100px;
	display: inline-block;
	font-size: 12px;	
}

.view-more a{
	color: #2A5CAB;
}

.view-more i{
	font-size: 15px;
	display: block;
	color:#8892a6;
}


/*SPINNER*/
.spinner {
  width: 50px;  
}
.spinner input {
  text-align: right;
  padding: 0 6px;
  font-size:12px;
  height: 26px;
}

.spinner .input-group-addon:first-child {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-right: 0;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 6px;
  margin-left: -1px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px !important;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 12px !important;
}

.input-group.spinner{
	margin: 0 auto;
}

.info-item .only-for-users{
	margin-top:5px;
}

#bedroom-info, #bathroom-info, #guest-info, #pet-info, #handicap-info, #parking-info{
	min-height: 60px;
}

#search{
  width: 100%;
  font-size: 11px !important;
  padding: 0;
}

.rate-header{
	display:block;
	padding-left:15px;
	color:#000
}

.rate-price-table{
	padding-top:10px;
	padding-bottom:15px;
	border-bottom:1px solid #dcdcdc;
}

.rate-edit-row {
	padding-top: 15px;
	background-color: #fcf8e3;
}

.rate-edit-align{
	height: 26px;
	line-height: 26px;
	margin:0;
	float: left;
	display: inline-block;
	margin-right: 5px;
}

#add-new-rate{
	width: 100%;
	padding: 14px 0;
}

.rate-price-table table tr{
	background:transparent!important;
}


.add-new-rate-panel .checkbox label::after{
	top:-4px;
}

.add-new-rate-panel .checkbox label{
	padding:0;
}

.rate-container div.input-group.edit-input, .new-rate-form-wrapper div.input-group.edit-input{
	width: 100px;
	float: right;
}

.rate-container div.input-group.edit-input input, .new-rate-form-wrapper div.input-group.edit-input input{
	text-align: right;
}

.i-tabs-fixed-width{
	width: 16px;
}

/*EDIT MODE*/

.rslides_tabs.edit-mode{
	display: none;
}

.prop-single-title{
	font-size:22px;
	display:block;
	font-weight: 300;
}

.prop-single-location{
	font-weight: 300;
}

.prop-single-location-input{
	margin-bottom: 5px;
}
.ps-desctab-title-input{
	width: 80%;
	float: left;
}

.ps-desctab-description{
	padding-bottom:15px;
	line-height: 20px;
}

.ps-desctab-description-input{
	margin-bottom: 10px;
}

.table-inline-edit{
	width: 200px !important;
	text-align: right;
}

/*EDIT - ROOMS*/

.room-container{
	padding: 3px;
}

.room-name, .room-type{
	margin-bottom:3px;
}

.room-type{
	font-size: 11px;
	font-weight: normal;
}

.amentity-container .amentities-list .baRow{
	margin-bottom: 3px;
}

.room-edit-btn{
	margin-left: 5px;
}

.room-delete-btn{
	color: #d9534f; 
}

.room-note{
	margin-top: 10px;
	padding: 10px;
	border:1px solid #d8e6f8;
}

#addEditRoomModal ul, .row-rooms ul{
	list-style: none;
	margin:0;
	padding:0;	
}

#addEditRoomModal ul{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#addEditRoomModal ul li{
	display: inline-block;
	width: 45%;
	margin: 5px 5px 5px 0;
}

#addEditRoomModal div.aerm-checkbox-wrapper, #addEditRoomModal div.aerm-spinner-wrapper{
	display: inline-block;
	float: left;
}

#addEditRoomModal div.aerm-checkbox-wrapper .checkbox{
	margin-bottom: 0;
	margin-top: 5px;
}

#addEditRoomModal div.aerm-spinner-wrapper{
	padding-left: 5px;
}

#addEditRoomModal .aerm-amentity-label-wrapper{
	padding-left: 5px;
	line-height: 26px;
	float: left;
}

#addEditRoomModal hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

.row-rooms ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 25px 25px 25px;
	max-width: 200px;
}

.delete-bedroom-inline:hover{
	color: #c9302c;
}

.ncae-delete-prompt{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	max-width: 200px;
}

.ncae-delete-prompt label{
	font-size: 12px;
}

.ncae-delete-prompt-btns button{
	margin-left: 5px;
	padding: 3px 6px;
	font-size: 10px;
}

.ncae-delete-prompt.popover.right>.arrow{
	border-right-color: #ebccd1;
}

.ncae-delete-prompt.popover.right>.arrow:after{
	border-right-color: #f2dede;
}

.ncae-amentity-desc{
	font-style: italic;
	white-space: normal;
	font-size: 11px;	
	color: #888;
	overflow: hidden;
}

.room-amentity-row.ncae-collapsed .ncae-amentity-desc{
	max-height: 30px;
}

.room-amentity-row.ncae-expanded .ncae-amentity-desc{
	max-height: auto;
}

.ncae-amentity-desc-lessmore{
	display: block;
	font-size: 11px;
	text-align: right;
}

.nc-btn-standard{
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 16px;
}

.bootstrap-datetimepicker-widget tr{
	height: auto !important;
}

#rightAccordion tr{
	height: 25px;
}

#rightAccordion.panel-group .panel-heading{
	font-size: 14px;
	font-weight: bold;
}

.media-row h6{
	font-weight: bold !important;
	text-align: left;
	font-size: 12px;
}

.media-row a{
	display: block;
	text-align: left;
	margin-left: 20px;
	padding: 3px 0;
}

.media-row {
	margin: 20px 0;
}

#viewRatesTab .panel-body, #viewCostsTab .panel-body{
	padding-bottom:0;
}

.aerm-desc-wrapper{
	display: inline-block;
	width: 80%;
	margin-left: 30px;
	padding-top: 3px;
}

.aerm-desc-wrapper span{
	display: block;
	text-align: right;
	font-size: 9px;
}

.editmode-row-medialinks{
	padding: 5px 0;
}

.editmode-row-medialinks-table-wrapper{
	margin-left: 20px;
}

#editRatesFeesModalIFrame, #editReviewsModalIFrame{
	border:0;
}

@media(max-width:500px) {
	#addEditRoomModal ul li{
		width: 100%;
	}
}

#reviewsTab-summary-rate .star-rating, #reviewsTab-filter-container .star-rating, #reviewsTab-filter-container .checkbox, #reviewsTab-filter-container .progress{
	display: inline-block;
}

#reviewsTab-filter-container .checkbox{
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

#reviewsTab-summary-rate label{
	font-size: 14px;
}

.review-answer{
	margin-left: 35px;
	margin-top: 10px;
	border: 1px dashed #BBB;
	padding: 5px;
	margin-right: 9px;
	background: rgb(255, 255, 231);
}

.roomeditor-body .room-container .amentities-list{
	margin-top: 5px;
}

.roomeditor-body .room-container .amentities-list > li{
	display: block;
	padding: 3px 3px 3px 0;
}

#main-slider > li > a{
    display: block;
    float: left;
    width: 100%;
    min-height: 600px;
}

.main-slider-wrapper .thumb-container li a{
	display: block;
	height: 60px;
	width: 80px;
}

/** PUBLISH/CANCEL PANEL **/
#publishPanel {
	position: fixed;
	top: 10px;
	width: 100%;
	margin: 0 auto;
	/*z-index: 9999;*/
	z-index: 1000;
}

body.have-adminbar #publishPanel{
	top: 45px;
}

#publishPanel .publishPanel-msg{
	margin-right: 150px;
	text-align: center;
	line-height: 31px;
}

#publishPanel .publishPanel-msg i{
	font-size: 20px;
	vertical-align: middle;
	margin-right: 5px;
}

#publishPanel .publishPanel-buttons{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
}

#publishPanel .publishPanel-wrapper{
	padding: 5px;
	border-radius: 2px;
	border: 1px solid rgb(255, 194, 55);
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
	color: rgb(130, 98, 0);
	cursor: pointer;
	background-color: rgb(255, 234, 168);
	position: relative;
}

#main-slider a:not(.img-loaded):before{
  content: " ";
  position: absolute;
  background: #FFF;
  width:100%;
  height:100%;
  z-index: 1;
  left: 0;
  top: 0;
}
#main-slider a:not(.img-loaded):after{
  content: "\f110";
  font-family: FontAwesome;
  font-size: 30px;
  top: 50%;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  margin-top: -21px;
  color: #ddd;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}