section.search-content{
	padding-top: 0;
	position: relative;
	margin-bottom: -30px;
	padding-bottom: 30px;
	min-height: 600px;
}

.header-control{
	height: 35px;
}

.header-input{
	font-size: 11px;
}

.search-block i{
	font-size: 20px;
}

.search-label{
	display: inline-block;
	font-size: 15px;
	/*margin-top: 10px;*/
}

.search-label strong{
	color: #2A5CAB;
}

.row-search-label{
	margin-top:20px;
}

/*
.row-search-toolbar, .row-search-results, .row-search-label{
	padding: 0 30px 0 80px;	
}
*/

.row-padding-top20{
	padding-top: 20px;
}

.btn.active{
	background: #2A5CAB;
	color: #FFF;
}

.btn-group.view button{
	width: 40px;
	height: 33px;
	border-color: rgba(51,153,204,.3);
	border-width: 0 1px;
	border-style: solid;	
}

.search-result-body, .thumb-slider{
	list-style: none;
	margin: 0;
	padding:0;
}

.search-result-body{
	
	width: 100%;
	position: relative;
}

.search-result-body.grid {
	text-align: center;
	display: inline-block;
	width: 101.11111%;
}

a.view-prop-details{
	display: block;
	width: 100%;
	height: 250px;
}

a.view-prop-details:not(.img-loaded):before{
  content: " ";
  position: absolute;
  background: #FFF;
  width:100%;
  height:100%;
  z-index: 1;
  left: 0;
  top: 0;
}

a.view-prop-details:not(.img-loaded):after{
  content: "\f110";
  font-family: FontAwesome;
  font-size: 30px;
  top: 50%;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  margin-top: -21px;
  color: #ddd;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.search-result-body.grid li.main{
	display: inline-block;
	width: 33.33333%;
	/*border: 2px solid #d5d7db;*/
	/*max-width: 350px;*/
	float:left;
}

.search-result-body.list li.main{
	display: block;
	background: #FFF;
	border: 1px solid #dadde1;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);	
}

.search-result-body li{
	position: relative;
	z-index: 2;
}

.search-result-body.grid .result-item-container{
	padding-right: 10px;
	padding-bottom: 10px;
	/*width: 350px;
	height: 300px;
	padding: 20px;*/
}

.search-result-body.grid .result-item-wrapper{
	border: 2px solid #d5d7db;
	position: relative;
}

.search-result-body.grid .result-item-container .row{
	padding-top: 6px;
}

.search-result-body.grid .result-item-container .extra{
	float: left;
	font-weight: normal;
	font-size: 11px;
	height: 30px
}

.search-result-body.grid .result-item-container .hotelname{
	font-weight: bold;
	text-transform: uppercase;
	color: #2A5CAB;
	height: 35px;
}

.price-block strong{
	display: block;
	font-size: 20px;
	padding-top: 15px;
	font-style: normal;
}

.price-block{
	position: absolute; 
	height: 80px; 
	width: 80px;
	background: rgba(0,0,0,.5);
	z-index: 5;
	color: #FFF;
	font-size: 10px;
	text-align: center;
	font-style: italic;
}

.rate-block{
	position: absolute; 
	height: 21px; 
	width: 80px;
	top: 3px;
	left: 3px;
	z-index: 5;
	background: rgba(0,0,0,.5);
}

.price-block.qv{
	top:0;
	right:0;
}

.col-toolbar-noborder-left{
	border-left: 0;
}

.col-toolbar-noborder-right{
	border-right: 0;
}

.col-search-toolbar-borders, .col-search-toolbar-borders1{
	background: #FFF;
	border: 1px solid rgba(51,153,204,.3);
	padding-right: 0;
}

.search-result-body.grid .price-block{
	right: 3px; 
	top: 3px; 
}

.search-result-body.list .price-block{
	right: 18px;
	top: 3px;
	text-align: center;
}

.price-block.map{
	right:2px;
	top:2px;
	text-align: center;
}

.row-highlight{
	background: #f3f6fb;
}

.row-highlight label{
	color: #ec985c;
}

.search-result-body.grid .btn-book-now{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.search-result-body.grid .label-location{
	color: #333;
	font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;	
}

.search-result-body.grid .btn-book-now:hover{
	background: #4e4f53 !important;
	color: #FFF !important;
}

.search-result-body.list .btn-book-now{
	font-size: 11px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	padding: 6px 18px;
}

.search-result-body.grid .btn-book-now{
	width: 100%;
	padding: 12px 0;
}

div.inline{
	display: inline-block;
}

.list-hotelname{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color:#2A5CAB;
}

.search-result-body.list div.info{
	padding: 0 5px;
	color: #ec985c;
}

.col-info{
	color: #ec985c;
}

.inside-row{
	padding-top: 13px;
	padding-right: 20px;
}

.search-result-body.list div.description{
	max-height: 80px;
	overflow: auto;
	padding-top: 0;
 }

.search-result-body.list div.buttons{
	height: 45px;
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
}

.search-result-body.list div.buttons a{
	padding-right: 20px;
}

.view-more{
	width: 100px;
	display: inline-block;
	font-size: 12px;	
}

.view-more a{
	color: #2A5CAB;
}

.view-more i{
	font-size: 15px;
	display: block;
	color:#8892a6;
}

.hotel-map{
	width: 100%;
	height: 250px;
}

.text-orange{
	color: #ec985c;
}

.text-green{
	color: #83b538;
}

.row-extra-hotel{
	padding: 3px 0;
	font-size: 13px;
	font-weight: bold;
}

a.quickview{
	text-transform: uppercase;
	font-weight: bold;
	white-space:nowrap;
}

a.quickview:hover, a.quickview:active, a.hotelname-link:hover, a.hotelname-link:active{
	text-decoration: underline;
}

.quickview .extra{
	font-size: 10px;
	font-weight: bold;
	padding: 5px 0 !important;
}

#view-map{
	width: 100%;
	height: 800px;
	margin-left: 34px;
}

.xs-no-border-left{
	border-left: 0;
}

.xs-no-border-right{
	border-right: 0;
}

.btn-style-map{
	border-right-width:0 !important;
}

.stoolbar-container{
	display: inline;
	text-align: center;
}

@media(max-width:992px) {

	.btn-style-grid{
		border-left-width:0 !important;
	}

	.select2-container .select2-selection--single{
		border-width: 0 0 1px 0 !important;
	}

	.filter-select2, .select2-selection.popularity, .select2-selection.price, .select2-selection.rating{
		width: 100%!important;
	}
	
	.mobile-rule-1st-col{
		/*
		border-right: 1px solid rgba(51,153,204,.3);
		border-bottom: 0;
		*/
	}

	.mobile-rule{
		border-top: 0;
		border-left: 1px solid rgba(51,153,204,.3);		
	}
	
	.btn-group.view{
		display: block;
	}
	
	.btn-group.view button{
		width: 33.33333% !important;
	}
	
	.btn-sort{
		float:left;
		width:33.33333% !important;
		border-bottom: 0;
		border-top: 0;	
	}
	
	.search-result-body.grid, .search-result-body.grid .result-item-container{
		width: 100%;
		padding-right:0;
	}
	
	.search-result-body.grid li{
		display: block;
	}
	
	div.extra.list, div.list.info{
		display: block;
		float: none !important;
		padding-top: 5px !important;
		padding-left: 0 !important;
	}
	
	.btn-sort.popularity{
		border-left-width: 0 !important;
	}
	
	.search-result-body.list .inside-row{
		padding-left: 15px; 
		padding-right: 15px;
	}
	
	.search-result-body.list div.buttons{
		float: left;
		bottom: auto;
		position:relative;
		padding-right: 30px;
		margin-top: 15px;		
	}
	
	.search-result-body.list{
		padding-right: 0;
	}
	
	.search-result-body.grid li.main {
		width: 50%;
	}
	
	.search-label{
		margin-left: 30px;
	}
	
	/*MAP*/
	.infoBox{
		width: 280px !important;
	}
	
	.row-search-map a.view-prop-details{
		height: 200px !important;
	}	
	
}

.infoBox:before{
	content: " ";
	position: absolute;
	bottom: 100px;
	left: -12px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #d02b38; 
}

.btn-map-red{
	background: #d02b38;
	color: #FFF;
	width:100%;
	height: 50px;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;	
}

.row-map{
	padding: 10px 0;
}

.map-hotelname{
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #2A5CAB;
}

.rating-container .rating-stars{
	color: #2A5CAB;
}

.row-map-location{
	background: #f3f6fb;
}

#infobox-body div.extra{
	font-size: 10px;
}

#infobox-body a.quickview{
	color: #2A5CAB;
}

.rslides_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 1;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/themes.png") no-repeat left top;
	margin-top: -61px;
	display: inline-block;
}

.rslides_nav:active {
	opacity: 1.0;
}

.rslides_nav.prev {
	left: 0;
}

.rslides_nav.next {
	right: 0;
	background-position: right top;
}


.search-result-body.grid .rslides_nav.prev{
	left: 0;
}

.search-result-body.grid .rslides_nav.next{
	right: 0;
}

.search-result-body.list .rslides_nav.prev{
	left: 15px;
}

.search-result-body.list .rslides_nav.next{
	right: 15px;
}

#quickViewModal .modal-content{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.row-qv-info{
	padding:5px 15px;
}

.qv-hotel-name{
	text-transform:uppercase;
	color: #2A5CAB;
	font-size:12px;
	font-weight: bold;
}

#quickViewModal .thumb-slider img, .search-result-body.grid .thumb-slider img, 
.search-result-body.list .thumb-slider img, .infoBox .thumb-slider img{
    float: none;
    /*width: auto;*/
    height: auto;
    max-height: 250px;
    margin: 0 auto;
}

.qv-col-left{
	background: #fafafa;
}

#quickViewModal .extra-hotel{
	margin-top:10px;
	margin-bottom: 20px;
}

#quickViewModal .extra-hotel i{
  margin-right: 5px;
}

.btn-sort{
	background: transparent;
	width: 100px;
	height:33px;
	border-left: 1px solid #cedef5;
}

.btn-sort:last-child{
	border-right: 1px solid #cedef5;
}

.btn-sort:first-child{
	border-left: 0;
}

.btn-sort i{
	float:right;
}

.search-result-body.grid .result-item-container div.row.no-margins:not(.row-highlight){
	background: #FFF;
}

#search{
  width: 100%;
  font-size: 11px !important;
  padding: 0;
}
.search-submenu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(51, 153, 204, 0.3);
    box-sizing: content-box;
    margin-left: 0;
    padding: 10px;
    text-align: left;
}
.search-submenu .radio.radio-inline {
    margin-left: 10px;
}
.errorForGettingMoreRecords {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(51, 153, 204, 0.3);
    box-sizing: content-box;
    margin-left: 0;  
    padding: 10px;
    text-align: left;
}

@media(max-width:768px) {
	.search-result-body.grid li.main{
		display: block;
		width:100%;
	}	
}

@media only screen and (min-width : 1224px) {
	.search-result-body.grid li.main {
		width: 25%;
	}
}

@media only screen and (max-width : 1485px) {
	.search-result-body.grid .row-highlight label{
		font-size: 10px;
	}
}

@media only screen and (min-width : 1824px) {
	.search-result-body.grid li.main {
		width: 20%;
	}
}

@media (min-width : 521px) and (max-width : 992px){
	.search-label{
		line-height: 51px;
	}
}

@media (min-width: 992px){
	.col-sort-options {
		border-right: 0;
	}
}