.tripadder-list{
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 250px;
}

.tripadder-list li{
  display: block;
  position:relative;
  padding: 6px 0;
}

.tripadder-list li .checkbox{
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0; 
}

.trip-adder-title .close{
  margin-top: -3px;
}

.trip-adder-footer{
  padding: 6px 0;
  display: block;
  margin-top: 20px;
  min-height: 30px;
}

.trip-adder-footer a{
  display: inline-block;
}

.trip-adder-footer a.save-button{
  float:right;
}

.tripadder-list .trip-adder-live-input{display: inline-block;border-top: 0;width: 200px;border-left: 0;border-radius: 0;border-right: 0;padding: 0;box-shadow: none;height: 24px;background: #F9F7F7;}
.tripadder-list .trip-adder-live-input:focus{
      box-shadow: none;
}