/**
* Custom css style
* Revision: 14
* Date: 19-11-2015
* Author: Alexander Bulei
*/

#showModal .modal-dialog {
    z-index: 1070 !important;
}
.modal-backdrop.fade.in:nth-child(2){
    z-index: 1060 !important;
}
.loginbox-title {
    padding-top: 20px;
    padding-bottom: 60px;
}
.form-title-main {
    line-height: 50px !important;
    font-size: 18px !important;
}
.widget-header-main {
    min-height: 55px;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top: 5%;
    overflow: auto;
}
#wiredstep1 {
    padding-top: 20px;
}
.form-control {
    height: 30px !important;
}
select.form-control {
    height: 35px !important;
}
.widget-body.step1-body {
    background-color: #fbfbfb;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;);
}
.widget-body.comp-body {
    background-color: #eeeeee;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;);
}
.btm-form {
    margin-top: 30px;
    margin-bottom: 17px;
}
.darker {
    margin: 0 auto !important;
}

#WiredWizard > ul > li {
    width: 25%;
}
#step-3 {
    margin-bottom: 20px;
}
.centered {
    text-align: center !important;
}
.congrats {
    margin-top: 20px;
    background-color: #FFF;
}
.comp-form-head {
    min-height: 50px !important;
    padding-left: 20px !important;
}
.comp-form-head > .widget-caption {
    line-height: 45px;
    font-size: 26px;
}
.close-tab {
    position: relative;
    top: 45px;
    margin-left: 45%;
    z-index: 9999;
    display: none;
}
#horizontal-form {
    height: 100%;
    overflow:auto;
}
.edit-control {
    width: 90% !important;
    margin-bottom: 10px;
}
.alert-danger {
    display: none;
}
#mainModal > .modal-dialog {
    width: 95%;
}
#editModal > .modal-dialog, #viewModal > .modal-dialog {
    width: 95%;
    overflow: auto;
}
.tab-content {
    overflow: auto;
}
#viewModal .row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-edit {
    margin: 0 !important;
}
.DTTTFooter {
    margin-top: 30px;
}
.actions-table {
    width: 180px;
}
.dd2-content .btn {
    float: right;
    margin-right: 5px;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top !important;
    padding-left: 0 !important;
}
.dd-add > .dd2-content {
    height: 70px;
}
#edp-form > li {
    list-style: none;
}
#edp-form {
    display: none;
}
.site-button {
    width: 450px !important;
}
.btn {
    margin: 2px !important;
}
.btn-smll {
    width: 60px !important;
}
.btm-form{
    margin-top: 30px;
    margin-bottom: 19px;
}
.widget-header-main2 {
    min-height: 55px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 2%;
}
.widget-header-main3 {
    min-height: 55px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}
.page-user {
    padding-top: 2.8% !important;
}
input[type=search] {
    border: 1px solid #5db2ff;
    background-position: 5px center;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    width: 169px !important;
    border-radius: 2px !important;
	text-indent: 28px;
}

#mediadatatable_length > label, #sitetable_length > label, #emaildatatable_length > label, #phonedatatable_length > label, #designdatatable_length > label, #landatatable_length > label, #phrasedatatable_length > label, #userdatatable_length > label, #countrydatatable_length > label, #statesdatatable_length > label, #municipiesdatatable_length > label, #userManagerDatatable_length > label, #userListDatatable_length > label, #userTileDatatable_length > label, #skilldatatable_length > label, #skillEditdatatable_length > label, #skillClonedatatable_length > label, #wfdatatable_length > label, #tasksdatatable_length > label, #unitsdatatable_length > label, #payTypesDatatable_length > label, #pagesdatatable_length > label, #sysOptionsDT_length > label , #listingOptionsDT_length > label, #tabRatesDT_length > label, #reviewsdatatable_length > label, #worldRegionsDT_length > label,#countryRegionsDT_length > label, #stateRegionsDT_length > label, #neihborhoodDT_length > label, #permModuleDT_length > label, #permSectionsDT_length > label, #permElemDT_length > label, #permissionDT_length > label, #shareGeoDT_length > label, #shareLocDT_length > label,#shareAggDT_length > label, #ratesDT_length > label, #categoriesDT_length > label, #userTasksDT_length > label{
    float: right;
}
#mediadatatable_filter, #sitetable_filter, #emaildatatable_filter, #phonedatatable_filter, #designdatatable_filter, #landatatable_filter, #phrasedatatable_filter, #userdatatable_filter, #countrydatatable_filter, #statesdatatable_filter, #municipiesdatatable_filter, #userManagerDatatable_filter, #userListDatatable_filter, #userTileDatatable_filter, #skilldatatable_filter, #skillEditdatatable_filter, #skillClonedatatable_filter, #tasksdatatable_filter, #unitsdatatable_filter, #payTypesDatatable_filter, #pagesdatatable_filter ,#sysOptionsDT_filter, #listingOptionsDT_filter, #tabRatesDT_filter, #reviewsdatatable_filter, #worldRegionsDT_filter, #countryRegionsDT_filter, #stateRegionsDT_filter, #neihborhoodDT_filter, #wfdatatable_filter ,
#permModuleDT_filter, #permSectionsDT_filter, #permElemDT_filter, #permissionDT_filter, #shareGeoDT_filter, #shareLocDT_filter, #shareAggDT_filter, #ratesDT_filter, #categoriesDT_filter,  #userTasksDT_filter{
    float: left;
    margin-bottom: 10px;
    margin-left: 0 !important;
}
#landatatable_filter input, #userdatatable_filter input, #sitetable_filter input, #emaildatatable_filter input, #phonedatatable_filter input, #mediadatatable_filter input, #countrydatatable_filter input, #statesdatatable_filter input, #municipiesdatatable_filter input, #userManagerDatatable_filter input, #userListDatatable_filter input, #userTileDatatable_filter input, #skilldatatable_filter input, #skillEditdatatable_filter input, #skillClonedatatable_filter input, #wfdatatable_filter input, #tasksdatatable_filter input, #unitsdatatable_filter input, #payTypesDatatable_filter input, #pagesdatatable_filter input, #sysOptionsDT_filter input , #listingOptionsDT_filter input, #tabRatesDT_filter input, #reviewsdatatable_filter input, #worldRegionsDT_filter input, #countryRegionsDT_filter input, #stateRegionsDT_filter input, #neihborhoodDT_filter input, #permModuleDT_filter input, #permSectionsDT_filter input, #permElemDT_filter input, #permissionDT_filter input, #shareGeoDT_filter input, #shareLocDT_filter input, #shareAggDT_filter input, #ratesDT_filter input, #categoriesDT_filter input, #userTasksDT_filter input{
    position: relative;
    top: -43px;
}
.btn-add {
    position: relative;
    top: 43px;
    width: 169px !important;
    margin-left: 0 !important;
}
#sitetable_paginate, #emaildatatable_paginate, #phonedatatable_paginate, #mediadatatable_paginate, #designdatatable_paginate, #landatatable_paginate, #phrasedatatable_paginate, #userdatatable_paginate, #countrydatatable_paginate, #statesdatatable_paginate, #municipiesdatatable_paginate, #userManagerDatatable_paginate, #userListDatatable_paginate, #userTileDatatable_paginate, #skilldatatable_paginate, #skillEditdatatable_paginate, #skillClonedatatable_paginate, #wfdatatable_paginate, #tasksdatatable_paginate , #unitsdatatable_paginate, #payTypesDatatable_paginate, #pagesdatatable_paginate, #sysOptionsDT_paginate, #listingOptionsDT_paginate, #tabRatesDT_paginate, #reviewsdatatable_paginate, #worldRegionsDT_paginate, #countryRegionsDT_paginate, #stateRegionsDT_paginate, #neihborhoodDT_paginate, #permModuleDT_paginate, #permSectionsDT_paginate, #permElemDT_paginate, #permissionDT_paginate, #shareGeoDT_paginate, #shareLocDT_paginate, #shareAggDT_paginate, #ratesDT_paginate, #categoriesDT_paginate, #userTasksDT_paginate{
    float: right;
}
.down {
    margin-top: 4px !important;
}
.well > .form-inline {
    margin: 0 auto;
    max-width: 900px !important;
}
#sitetable, #emaildatatable, #phonedatatable, #mediadatatable, #designdatatable, #landatatable, #phrasedatatable, #userdatatable, #countrydatatable, #statesdatatable, #municipiesdatatable, #userManagerDatatable, #userListDatatable, #userTileDatatable, #skilldatatable, #skillEditdatatable, #skillClonedatatable, #unitsdatatable, #payTypesDatatable, #pagesdatatable, #sysOptionsDT, #listingOptionsDT,#tabRatesDT, #reviewsdatatable, #worldRegionsDT, #countryRegionsDT, #stateRegionsDT, #neihborhoodDT, #wfdatatable, #permModuleDT, #permSectionsDT, #permElemDT, #permissionDT, #shareGeoDT, #shareLocDT, #shareAggDT, #ratesDT, #categoriesDT, #userTasksDT{
    clear: both;
}
#selectSite {
    margin: 2px !important;
}
.input-well {
    margin-top: 50px;
    overflow: auto;
}
.site-table {
    display: none;
}
#siteDescription, #siteName {
    display: none;
}
.activate, .deactivate, .unpublish, .publish {
    width: 85px;
}
.site-button2 {
    width: 350px !important;
}

.publish {
    display: none;
}
#designdatatable button.activate, #countrydatatable button.activate, #statesdatatable button.activate, #municipiesdatatable button.activate, #userManagerDatatable button.activate, #userListDatatable button.activate, #tileview-table button.activate {
    display: none;
}
#userdatatable button.deactivate {
    display: none;
}

.dropzone, .custom-dropzone {
	min-height: 100px !important;
    border-radius: 10px;
    border: 2px dashed #2dc3e8;
    background: white;
    padding: 20px 20px;	
	cursor: pointer;
}
.custom-dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
	cursor: pointer;
}
.custom-dropzone.dz-started .dz-message {
  display: block;
}
.custom-dropzone.dz-max-files-reached .dz-message {
  display: none;
}
td {
    vertical-align: middle !important;
}
.sign {
    text-align: center;
    vertical-align: middle !important;
}
.sign .fa-check {
    color: green;
}
.sign .fa-times {
    color: red;
}
.lan-well {
    margin-top:50px;
    overflow: auto;
}
.links-pages {
    margin-top: 20px;
}
.link {
    font-size: 1.6rem;
    padding: 15px;
}
.half {
    width: 50% !important;
}

#userdatatable textarea {
    overflow: scroll !important;
    resize: both !important;
    height: 30px !important;
}
td > input.form-control, td > div > input.form-control {
    width: 130px;
    height: 30px !important;
    margin: 0 !important;
    position: relative;
}
#mediadatatable td > input.form-control, #mediadatatable td > div > input.form-control {
    width: 120px !important;
    height: 30px   !important;
    margin: 0 !important;
    position: relative;
}
td > select.form-control {
    height: 30px !important;
	border-radius: 0;
	padding: 4px 12px;
}

.btn .shiny {
    margin: 1px;
}
input .form-control {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 1.5rem !important;
}
.dd-dragel>li>.dd2-handle, .dd2-handle {
    height: 42px !important;
}
td > input.extra-smll {
    width: 80px !important;
}
td > input.extra-smll-2 {
    width: 50px !important;
}
td > select.extra-smll-2 {
    width: 55px !important;
}
.grid-toolbar {
    float: right;
}
#newModal .modal-dialog, #editUserModal .modal-dialog, #cloneUserModal .modal-dialog {
    width: 80%;
}
#dashboardModal .modal-dialog {
    width: 90%;
}
#dashboardModal .modal-body, #newModal .modal-body, #cloneUserModal .modal-body, #editUserModal .modal-body {
    overflow: auto;
    height: 620px;
}
textarea.form-control {
    height: auto !important;
}
.profile-img {
    margin-top: 50px;
    margin-bottom: 80px;
}
.profile-img {
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn .glyphicon {
    display: inline;
    margin-right: 0 !important;
    font-size: 18px;
}
.menu-btn:hover {
    background-color: #2dc3e8;
    color: #FFF;
    border: 1px solid #2dc3e8;
}
.menu-btn.active {
    background-color: #2dc3e8 !important;
    color: #FFF !important;
    border: 1px solid #2dc3e8 !important;
}
#userListDatatable {
    border: none;
}
#userListDatatable thead, #userTileDatatable thead {
    display: none;
}
#userListDatatable tr {
    margin-top: 5px;
    margin-bottom: 5px;

    height: 110px !important;
    font-size: 1.6rem;
}
#userListDatatable tr.odd {
    background-color: rgba(45, 195, 232, 0.25);
    border: 15px solid #fbfbfb;

}

#userListDatatable tr.even {
    background-color: #2dc3e8!important;
    border: 15px solid #fbfbfb;
}
.tabbable {
    margin-top: 30px;
}

#userListDatatable > tfoot > tr {
    border: 0 !important;
    background-color: #fbfbfb;
    height: 60px !important;
}
#userListDatatable {
    background-color: #fbfbfb;
    margin-bottom: 0;
}
#userListDatatable > tfoot > tr > th {
    border: 1px solid #fbfbfb !important;
}
#userListDatatable td {
    border: none;
}

.tile-view-table {
    display: none;
}

.list-view-table {
    display: none;
}
.list-tile-table {
    display: none;
}
#userTileDatatable td {
    border: 15px solid #fbfbfb;
    padding: 0 !important;
    overflow: hidden;
    min-width: 360px;
}
#userTileDatatable tr {
    background-color: #FFF
}
#userTileDatatable tr.even {
}
td > .databox >  .databox-top {
    height: 130px !important;
}
.databox-text-smll {
    font-size: 12px !important;
}
td .databox {
    display: inline-block;
    width: 100%;
    height: 65px;
    padding: 0;
    font-size: 0;
    margin-bottom: 0px;
    vertical-align: top;
    min-width: 130px;
    background-color: rgba(93,178,255, 0.3);
}
td > .databox > .databox-bottom {
    height: auto !important;
    overflow: auto;
    background-image: none !important;

}
td > .databox > .databox-bottom > .databox-row > .databox-row{
    padding-top: 10px !important;
}

.users-role-databox {
    padding-top: 10px;
    padding-bottom: 10px;
}
.users-role-databox i{
    color: #FFF;
    font-size: 9.5rem;
}
span.white {
    font-size: 1.6rem;
}
.databox .databox-text {
    font-size: 16px;
}
.databox .databox-icon {
    text-align: left;
    padding-left: 20px;
    font-size: 5rem;
}
.databox-icon>.fa:before {
    font-size: 5rem !important;
}
.databox.databox-vertical.databox-xxlg.databox-halved .databox-top {
    height: 90px;
}
.databox.databox-vertical .databox-bottom {
    /*background-image: linear-gradient(to right,#ddd,#fff);*/
	/*min-height: 300px;*/
}
.databox.databox-vertical.databox-xxlg {
    height: 100%;
    width: 100%;
	min-height: 370px;
	background-image: linear-gradient(to right,#ddd,#fff);
}
.databox-bottom {
    height: 100% !important;
    overflow: auto;
}

label.checkbox-slider-wrapper{
	height: 20px;
	margin-bottom: 0 !important;
}

input[type=checkbox].checkbox-slider.actinac+.text:before {	
	font-family: 'Open Sans','Segoe UI';
	content: "ACTIVATE\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0INACTIVATE";
	width: 75px;
}

input.checkbox-slider.actinac[type="checkbox"] + .text::before{
	text-indent: -56px;
}

input.checkbox-slider.actinac[type="checkbox"]:checked + .text::before{
	text-indent: 10px;
}

input.checkbox-slider.actinac[type="checkbox"]:checked + .text::after{
	left: 56px;
}

@media only screen and (max-width: 1360px) {
    .close-tab {
        position: static;
        margin-left: 1%;
        display: none;
    }
    #alert-email {
        position: relative;
        top: 0;
    }
}
@media only screen and (max-width: 760px) {
    .form-title-main {
        font-size: 14px !important;
    }
    #siteDescription {
        margin-top: 10px;
    }
    #userManagerDatatable_wrapper, #countrydatatable_wrapper, #userListDatatable_wrapper, #userTileDatatable {
        overflow-x:scroll;
    }
    .databox .databox-text {
        font-size: 10px;
    }
	
	.profile-container .profile-header .profile-info .btn-follow{
	  top: 6px !important;
	  position: relative;
	  margin: auto !important;
	  right: auto !important;
	}
	
	.databox.databox-vertical.databox-xxlg.databox-halved .databox-top{
		height: 60px !important;
	}
	
	.databox .databox-icon{
		font-size: 25px !important;
		padding-left: 10px !important;
	}
	
	.databox .databox-icon>.fa {
		line-height: 20px;
	}
	
	.dashboard-badge {
	  font-size: 17px !important;
	  height: 24px !important;
	  padding: 3px 6px !important;
	  right: -2px !important;
	  top: -4px !important;
	}

	.databox-icon>.fa:before{
		font-size: 30px !important;
	}
	
	.dashboard-btn-wrapper, .dashboard-btn-wrapper button{
		margin: 0 !important;
		padding: 0 !important;
	}
	
	
	.dashboard-btn-wrapper button{
	  height: 30px;
	  width: 80px;
	  right: 12px;
	}

	
	.databox.databox-xlg .databox-left {
		width: 100px;
		height: 170px;
	}
	.users-role-databox i{
		font-size: 4rem;
	}
	.databox.databox-xlg .databox-right{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);	
	}
	
	.users-role-databox{
		padding-top: 40px !important;
	}
	
	.bottom-title{
		display: inline-block !important;
	}
	
	.user-dashboard-databox-btns{
		display: block !important;
		float: none !important;
	}
	
	.user-dashboard-databox-btns button.dashboard-btn-fixed-width{
		float: right;
	}
	
	.user-dashboard-databox .databox-bottom{
		display: table !important;
	}
	
	.user-dashboard-databox .databox-bottom .col-md-6, .user-dashboard-databox .databox-bottom .col-md-12{
		display: table-row !important;
	}
	
}

@media only screen and (max-width: 560px) {
	#statesdatatable th{
		font-size: 11px;
	}
	#statesdatatable {
		font-size: 10px;
	}	
}

@media only screen and (max-width: 420px) {

	.table-toolbar .btn-group{
		float: none !important;
		top: -30px;
		width: 100%;
	}	
	.table-toolbar .btn-group button{
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
	#landatatable_filter input, #userdatatable_filter input, #sitetable_filter input, #emaildatatable_filter input, #phonedatatable_filter input, #mediadatatable_filter input, #countrydatatable_filter input, #statesdatatable_filter input, #municipiesdatatable_filter input, #userManagerDatatable_filter input, #userListDatatable_filter input, #userTileDatatable_filter input, #skilldatatable_filter input, #skillEditdatatable_filter input, #skillClonedatatable_filter input, #wfdatatable_filter input, #tasksdatatable_filter input, #unitsdatatable_filter input, #payTypesDatatable_filter input, #pagesdatatable_filter input, #reviewsdatatable_filter input, #worldRegionsDT input, #countryRegionsDT input, #stateRegionsDT input, #neihborhoodDT input, #permModuleDT input, #permSectionsDT input, #permElemDT input, #permissionDT input, #shareGeoDT_filter input, #shareLocDT_filter input, #shareAggDT_filter input, #ratesDT_filter input, #categoriesDT_filter input, #userTasksDT input{
		top: 0;	
	}	
	
	#payTypesDatatable_new, #sitePagesdatatable_new, #unitsdatatable_new{
		width: 100% !important;
	}
	
	#s2id_selectSite{
		width: 100% !important;
	}
	
	#unitsdatatable_new{
		top: 0;
	}
}

.dashboard-btn-fixed-width{
	width: 130px;
	height: 40px;
	padding: 0 !important;
}

.dashboard-badge{
    font-size: 22px;
    height: 32px;
    padding: 3px 10px;
    position: absolute;
    right: 0;
    top: 0;	
	border: 1px solid #fff;	
	border-radius: 25px !important;
    background-clip: padding-box !important;
    background-color: #ccc;
    font-weight: 300;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;	
}

.dashboard-col-nopadding-left{
	padding-left: 0 !important;
}

.dashboard-ul-list{
	font-size: 13px;
	list-style: none;
	padding:0;
	margin:0;	
}

.dashboard-ul-list li a{
	color: #555;
}

.dashboard-ul-list li a:hover{
	text-decoration: none;
}

.dashboard-ul-list.li-blue li:before{
    content: "• ";
    color: #5db2ff;
}

.dashboard-ul-list.li-darkorange li:before{
    content: "• ";
    color: #ed4e2a;
}

.dashboard-ul-list.li-yellow li:before{
    content: "• ";
    color: #ffce55;
}

.dashboard-ul-list.li-blueberry li:before{
    content: "• ";
    color: #6f85bf;
}
.dashboard-ul-list.li-green li:before{
    content: "• ";
    color: #8cc474;
}

.table-toolbar .btn-group{
	float: right;
}

.command-btn{
	width: auto !important;	
}

.command-btn i{
	margin-right: 0 !important;
}

.pagination>li>a{
	cursor: pointer;
}

.tileview-item{
	max-width: 33%;
	max-height: 200px;
	display: inline-block;
}

.tileview-item .databox{
	padding: 0 !important;
	margin: 0 !important;
}

.tileview-item .databox.databox-vertical.databox-xlg.databox-halved .databox-top{
	height: 120px;
}

.tileview-item  .databox.databox-vertical.databox-xlg.databox-halved .databox-bottom{
	height: 80px !important;
}

#tileview-table{
	list-style: none;
	padding: 0;
	margin: 0  
}

.tileview-row{
	margin: 15px 0;
}

.tileview-info{
  display: inline-block;
  position: absolute;
  left: 24px;
}

body.modal-open[style] {
    padding-right: 0px !important;
}

.user-dashboard-table th{
	padding: 3px 8px !important;
}

.user-dashboard-table tr{
	height: 30px !important;	
}

.user-dashboard-table td{
	font-size: 12px !important;
	padding: 0 8px !important;
}

.cat-list-wrapper{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
	max-height: 300px;
}

#available-cat-list, #selected-cat-list{
	min-height: 150px;	
}

.cat-list-item{
	cursor: move;
}

.list-cmd-btn{
	margin-top: -2px !important;
	float: right;
}

#newPayTypeModal-radio div.radio{
	display: inline-block;
}

a.command-btn .badge{
	top: -8px;
	position: absolute;
	left: 12px;
	font-size: 10px !important;
	height: 16px;
}

@media (min-width: 760px) {
	.user-dashboard-databox .databox-bottom{
		min-height: 300px !important;
	}
	
	.user-dashboard-databox .col-md-6, .user-dashboard-databox .col-md-12{
		min-height: 290px !important;
	}
	
	.user-dashboard-databox-btns{
		bottom: 0;
		position: absolute !important;
		right: 0;
	}

	.user-dashboard-databox-btns.fav-left{
		right: 25px;
	}
}

.required-error{
	border-color: #E7BEBE !important;
	color: #e46f61 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: snow !important;
}

.full-width{
	width: 100% !important;
}

#listingOptionsDT thead>tr>th{
	white-space: nowrap;
}

#listingOptionsDT thead>tr>th div.tooltip{
	white-space: normal;
}

#lo-variationsDT_length{
	display: none;
}

#lo-newOpModal div.row{
	margin-bottom: 20px;
}

#lo-newOpModal .widget-caption{
	font-size: 16px;
}

#lo-newOpModal .widget-caption i{
	color: #5db2ff;
}

.select-listing-modal.aslink{
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

#available-cat-list .unit-categ-span, #selected-cat-list .unit-categ-span{
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#available-cat-list .unit-categ-span.header, #selected-cat-list .unit-categ-span.header{
	font-weight: bold;
}

input[type=number].no-webkit-spinner::-webkit-inner-spin-button, 
input[type=number].no-webkit-spinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Listing Options - TAB: PAYMENTS & DEPOSITS */
.lo-widget1{
	color:#000 !important;
	font-size:13px !important;
	margin:5px!important;
	line-height:25px!important;
	display: block!important;
	font-weight: normal!important;
}

.lo-widget1 .radio{
	margin-top: 0;
	margin-bottom:0;
}

.datepicker tr{
	height: 25px !important;
}

.lor-dp-mp-firstpayment.disabled{
	color: #EEE;
}

.flip-scroll th, .flip-content td{
	height: 50px !important;
}
.flip-scroll tbody tr{
	margin-left: -1px;
	border-left: 0;
}

@media(max-width:992px) {
	.admin-mobile-bottom-padding-5{
		padding-bottom: 5px;
	}
	
	.admin-mobile-width-100{
		width: 100% !important;
	}	
}

@media(max-width:1200px) {
	.admin-mobile-block{
		display: block;
	}	
}

/*PERMISSION MANAGER*/

#permEditExModal-perm-tree-container{
	width: 100%;
	max-height: 500px;
	overflow: auto;
}

#permEditExModal-perm-tree-container ul{
	list-style: none;
	margin:0;
	padding:0;
}

#permEditExModal-perm-tree-container li{
	display: block;
}

#permEditExModal-perm-tree-container a.permEditExModal-tree-action{
	margin-right: 10px;
}

#permEditExModal-perm-tree-container .pt-handle{
    display: block;
    padding: 5px 12px;
	background: #f5f5f5;
    color: #737373;	
	margin-bottom: 3px;
}

#permEditExModal-perm-tree-container ul ul{
	margin-left: 20px;
}

.pt-sub-chk-container{
	float:right;
    font-size: 10px;
    font-weight: bold;	
}
.pt-sub-chk-wrapper{
	display: inline-block;
    width: 70px;
    text-align: center;
}

.pt-sub-chk-wrapper .checkbox{
	margin-top: 0;
	margin-bottom: 0;
}

.perm-section-name, .perm-element-name{
	display: inline-block;
}

.input-group-small input, .input-group-small span{
    padding: 6px;	
}

#sharesLocationsModal-list{
	list-style:none;
	margin:0;
	padding:0;
	max-height: 300px;
}

#sharesLocationsModal-list .checkbox{
    margin-top: 5px;
    margin-bottom: 5px;	
}

.invi{
	display: none;
}

#mut-toggle-tasks{
    position: relative;
    top: 43px;
    width: 169px !important;
    margin-left: 0 !important;
}  

/*END*/