<div class="row top-row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="well bordered-top bordered-bottom bordered-palegreen">
			<div class="row">
				<div class="col-sm-12 col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2 text-right admin-mobile-bottom-padding-5">
					<div class="form-inline">
						<div class="form-group admin-mobile-width-100">
							<label style="text-align:left" for="lor-listing-id" class="control-label admin-mobile-block">Listing ID:</label>
							<input type="text" class="form-control admin-mobile-width-100" id="lor-listing-id" placeholder="Listing ID" disabled="disabled">
						</div>					
					</div>
				</div>
				<div class="col-sm-12 col-md-3 col-lg-3 admin-mobile-bottom-padding-5">
					<div class="form-inline">
						<div class="form-group admin-mobile-width-100">
							<label for="lor-listing-title" class="control-label admin-mobile-block">Listing Title:</label>
							<input type="text" class="form-control admin-mobile-width-100" id="lor-listing-title" placeholder="Listing Title">
						</div>					
					</div>				
				</div>
				<div class="col-sm-12 col-md-3 col-lg-3">
					<a id="lo-save-form" href="#" class="btn btn-success btn-xs shiny save btn-smll" style="font-size:11px;"><i class="fa fa-edit"></i> Save</a> <a style="font-size:11px;" href="#" class="btn btn-warning shiny btn-smll btn-xs"><i class="fa fa-times"></i> Cancel</a>
					<span style="position:absolute;margin-left:-130px;margin-top:29px;font-size: 10px;">(make all changes on all tabs and click save)</span>
				</div>			
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="tabbable">
			<ul class="nav nav-tabs nav-justified">
				<li class="tab-blue active"><a class="lo-rates-tab" data-toggle="tab" href="#lor-rates-tab">Rates</a></li>
                <li class="tab-blue"><a class="lo-pd-tab" data-toggle="tab" href="#lor-payment-deposits-tab">Payments & Deposits</a></li>				
                <li class="tab-blue"><a class="lo-lo-tab" data-toggle="tab" href="#lor-lo-tab">Listing Options (Fees|Taxes|Insurance)</a></li>
                <li class="tab-blue"><a class="lo-nca-tab" data-toggle="tab" href="#lor-notes-cancel-agree-tab">Notes, Cancellations and Agreements</a></li>
            </ul>
			<div class="tab-content">
				<div id="lor-rates-tab" class="tab-pane active">
					<div class="col-xs-12 col-md-12">
						<div class="table-toolbar">
							<button class="btn btn-default btn-add" id="tabRatesDT_new">Add New Rate Period</button>
						</div>						
						<table class="table table-striped table-hover table-bordered responsive" style="width:100%" id="tabRatesDT">
							<thead>
							<tr role="row">
								<th>Rate Start Date</th><th>Rate End Date</th><th>Rate Name</th><th>Daily</th><th>Weekly</th><th>Monthly</th><th>Minimum # <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="This is the minimum increment required for this listing during the rental period."></i></th><th>Changeover Day <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Choosing a day here will limit new reservation to only start on this day. It could reduce your number of reservation requests. Please use it carefuly."></i></th><th>Status</th><th></th></tr>
							</thead>
							<tbody>
								<tr id="rate1">
									<td>06/20/2015</td>
									<td>06/25/2016</td>
									<td>Rate 1</td>
									<td>$50</td>
									<td>$300</td>
									<td>$1200</td>
									<td>1 days</td>
									<td>Friday</td>
									<td>Active</td>
									<td><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-warning shiny btn-xs clone tooltip-warning command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Clone"><i class="fa fa-copy"></i></button><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button></td>
								</tr>
								<tr id="rate2">
									<td>06/20/2015</td>
									<td>06/25/2016</td>
									<td>Rate 1</td>
									<td>$50</td>
									<td>$300</td>
									<td>$1200</td>
									<td>1 days</td>
									<td>Friday</td>
									<td>Active</td>
									<td><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-warning shiny btn-xs clone tooltip-warning command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Clone"><i class="fa fa-copy"></i></button><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button></td>
								</tr>								
							</tbody>
						</table>
					</div>
				</div>
				<div id="lor-lo-tab" class="tab-pane">
					<div class="row" style="margin-right:0;margin-left:0;">
						<div class="col-xs-12 col-md-12">
							<span>In this section you can add your tax rate and all additional fees, both mandatory and optional.</span>
							<div class="widget" style="margin-top:15px">
								<div class="widget-header bordered-left bordered-green">
									<span class="widget-caption" style="font-weight:bold!important;">Taxes <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="right" data-original-title="Check with your local and state taxing authority for the tax rate in your area."></i></span>
								</div>
								<div class="widget-body">
									<div style="display:inline-block">
										<span style="line-height:30px;float:left;">Include a tax rate of </span>
										<div style="width:100px;display:inline-block;float:left;padding-left:3px;">
											<div class="input-group">							  
											  <input type="number" min="0" max="100" step="any" value="0" class="form-control" aria-label="Tax rate">
											  <span class="input-group-addon">%</span>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>
					<div class="row" style="margin-right:0;margin-left:0;">
						<div class="col-xs-12 col-md-12">
							<div class="widget" style="margin-top:15px">
								<div class="widget-header bordered-left bordered-blue">
									<span class="widget-caption" style="font-weight:bold!important;">Fees and Insurance <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="right" data-original-title="Add fees like Cleaning fee, added services, insurance. Choose from defaults or add your own."></i></span>
								</div>
								<div class="widget-body">
									<div style="display:inline-block;width:100%;">
										<div class="row" style="margin-right:0;margin-left:0;">
											<div class="col-xs-12 col-md-12" style="padding-right:0;padding-left:0;">
												<div class="table-toolbar">
													<button class="btn btn-default btn-add" id="listingOptionsDT_new">Add New Listing Option</button>
													<select class="form-control" style="float:right;width:120px" id="listingOptionsDTCChooser"></select>
												</div>						
												<table class="table table-striped table-hover table-bordered responsive" style="width:100%" id="listingOptionsDT" data-cchooser="true" data-cchooser-selector="#listingOptionsDTCChooser">
													<thead>
													<tr role="row">
														<th>Option Name</th><th>Listing</th><th>Amount <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Choose either a currency amount or a percentage of this listing price to charge for this option."></i></th><th>Required <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Select yes to list this as a mandatory fee.  Visitor will see it but cannot unselect it."></i></th><th>Due <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Select a payment schedule for this option/fee in conjunction with the full listing payment schedule."></i></th><th>Unit of Measure</th><th>Favorite <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Select yes to easily use this option in future listings."></i></th><th>Taxable <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Choose Yes if this option is taxable at the tax rate specified above."></i></th><th>Status</th><th></th></tr>
													</thead>
													<tbody>
														<tr id="1">
															<td>Premium Insurance</td>
															<td><label class="label-listing-modal" data-id="0">Beach House 1</label></td>
															<td><span data-type="%">12%<span></td>															
															<td>No</td>
															<td>In Full at Transaction</td>
															<td>Month</td>
															<td>Yes</td>
															<td>Yes</td>
															<td>Active</td>
															<td><button type="button" class="btn btn-blue shiny btn-xs variations tooltip-blue command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Variations"><i class="fa fa-upload"></i></button><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-warning shiny btn-xs clone tooltip-warning command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Clone"><i class="fa fa-copy"></i></button><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button></td>
														</tr>
													</tbody>
												</table>							
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>					
				</div>
				<div id="lor-payment-deposits-tab" class="tab-pane">
					<div class="col-xs-12 col-md-12">
						<div class="widget" style="margin-top:15px">
							<div class="widget-header bordered-left bordered-green">
								<span class="widget-caption" style="font-weight:bold!important;">Payment Scheduler</span>
							</div>
							<div class="widget-body">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<div class="widget" style="font-size:11px;">
											<div class="widget-header bordered-bottom bordered-sky">
												<span class="widget-caption" style="font-size:12px;font-weight:bold!important;">Single Payment</span>
											</div>
											<div class="widget-body">
												<div class="row">
													<div class="col-xs-12 col-md-12">
														<label>I require a single payment:</label>
														<div class="radio">
															<label>
																<input name="lor-pd-radiogroup" type="radio">
																<span class="text">100% at the time of booking</span>
															</label>
														</div>
														<div class="radio">
															<label>
																<input name="lor-pd-radiogroup" type="radio">
																<span class="text">100% at the start of rental</span>
															</label>
														</div>
														<div class="radio">
															<label>
																<input name="lor-pd-radiogroup" type="radio">
																<span class="text">100% at <input style="display:inline-block;width:50px;margin:0 3px" type="number" min="1" max="1095" value="1" /> days before start of rental</span>
															</label>
														</div>														
														<div>
														
														</div>
													</div>
												</div>
											</div>
										</div>	
										<div class="widget widget-multiple-payments" style="font-size:11px;">
											<div class="widget-header bordered-bottom bordered-green">
												<span class="widget-caption" style="font-size:12px;font-weight:bold!important;">Multiple Payments <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Scheduler between 2 and 5 payments using this option."></i></span>
											</div>
											<div class="widget-body">
												<div class="row">
													<div class="col-xs-12 col-md-12">
														<label>I require payments on the following scheduler:</label>
														<div class="row">
															<div class="col-xs-12 col-md-12">
																<h5 class="row-title before-warning lo-widget1"><div class="lor-dp-mp-firstpayment" style="display:inline-block">Payment 1 is <input class="percentage-input percentage-input-p1" style="line-height:20px;" type="number" min="1" max="99" />% of the total rental cost and is due <input style="line-height:20px;" type="number" min="1" max="1095" /> days before the start of the rental period </div><span style="color:#4190DD;font-weight:bold;margin:0 20px;"> - OR - </span><div style="display:inline-block;"><div class="checkbox" style="margin: 0 auto;"><label><input type="checkbox" id="lor-pd-mp-atbooking"><span class="text">at the time of booking <i style="font-size:12px;" class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="right" data-original-title="We highly recommend requiring some payment at the time of booking."></i></span></label></div></div></h5>
																<h5 class="row-title before-warning lo-widget1">Payment 2 is <input class="percentage-input" style="line-height:20px;" type="number" min="1" max="99" />% of the total rental cost and is due <input style="line-height:20px;" type="number" min="1" max="1095" /> days before the start of the rental period</h5>
																<h5 class="row-title before-warning lo-widget1">Payment 3 is <input class="percentage-input" style="line-height:20px;" type="number" min="1" max="99" />% of the total rental cost and is due <input style="line-height:20px;" type="number" min="1" max="1095" /> days before the start of the rental period</h5>
																<h5 class="row-title before-warning lo-widget1">Payment 4 is <input class="percentage-input" style="line-height:20px;" type="number" min="1" max="99" />% of the total rental cost and is due <input style="line-height:20px;" type="number" min="1" max="1095" /> days before the start of the rental period</h5>
																<h5 class="row-title before-warning lo-widget1">Payment 5 is <input class="percentage-input" style="line-height:20px;" type="number" min="1" max="99" />% of the total rental cost and is due <input style="line-height:20px;" type="number" min="1" max="1095" /> days before the start of the rental period</h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
									</div>
								</div>
							</div>
						</div>						
						<div class="widget lor-dp-ddp-widget" style="margin-top:15px">
							<div class="widget-header bordered-left bordered-green">
								<span class="widget-caption" style="font-weight:bold!important;">Deposits and Damage Protection</span>
							</div>
							<div class="widget-body">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<label>Check each option you would like to offer to your customer <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="You must select at least one option. Your visitor will also be required to select one of the options you have setup below."></i></label>
										
										<div class="row">
											<div class="col-xs-6 col-md-4">
												<div>
													<div class="checkbox">
														<label>
															<input type="checkbox" class="lor-dp-ddp-checkbox">
															<span class="text">Property Damage Protection <a href="#" data-toggle="modal" data-target="#lo-damage-learnmore">Learn more</a></span>
														</label>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-md-3">
												<select class="form-control">
													<option value="0">$5000 coverage (for 89$)</option>
												</select>										
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 col-md-4">
												<div>
													<div class="checkbox">
														<label>
															<input type="checkbox" class="lor-dp-ddp-checkbox">
															<span class="text">Refundable Damage Deposit</span>
														</label>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-md-3">
												<div class="input-group">							  
													<input type="number" min="0" max="100" step="any" class="form-control">
													<span class="input-group-addon">$</span>
												</div>											
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 col-md-4 text-right">
												<label style="line-height:35px;">Deposit will be due:</label>
											</div>
											<div class="col-xs-6 col-md-3">
												<select id="lo-pdtab-due-select" class="form-control"></select>										
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-md-12">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="lor-dp-ddp-checkbox">
														<span class="text">None, I do not require damage protection or a deposit.</span>
													</label>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div id="lor-notes-cancel-agree-tab" class="tab-pane">
					<div class="col-xs-12 col-md-12 col-lg-5">
						<div class="widget" style="margin-top:15px">
							<div class="widget-header bordered-left bordered-green">
								<span class="widget-caption" style="font-weight:bold!important;">Policies for this rental</span>
							</div>
							<div class="widget-body">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<label>This will show all rates and fees on listing page.</label>
										<textarea class="form-control" rows="10" placeholder="Add any notes about cancellation policies or term or payments for this property here."></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<div class="checkbox">
											<label>
												<input type="checkbox" id="lor-nca-tab-useour">
												<span class="text" style="font-size:12px;">Check here to use a rates and cancellation policy document we've created for you.</span>
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12">
										It's use is subject to our <a href="#">Terms and Use Policy</a><a href="#" class="pull-right" style="white-space:nowrap;"><i class="fa fa-file-text-o"></i> VIEW DOCUMENT</a>
									</div>
									<div class="col-xs-6 col-md-6 text-right">
										
									</div>
								</div>
							</div>
						</div>					
					</div>
					<div class="col-xs-12 col-md-12 col-lg-3">
						<div class="widget" style="margin-top:15px">
							<div class="widget-header bordered-left bordered-blue">
								<span class="widget-caption" style="font-weight:bold!important;">Cancellation Policy</span>
							</div>
							<div class="widget-body">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<select class="form-control" style="width:100%">
											<option value="-1">Select One</option>
											<option value="0">30 Day Cancellation</option>
											<option value="1">60 Day Cancellation</option>
											<option value="2">90 Day Cancellation</option>
											<option value="3">No Refund</option>
											<option value="4">Please refer owner's stated policy</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-md-12 col-lg-4">
						<div class="widget" style="margin-top:15px">
							<div class="widget-header bordered-left bordered-gold">
								<span class="widget-caption" style="font-weight:bold!important;">Rental Agreement</span>
							</div>
							<div class="widget-body">
								<div class="row" style="margin-bottom: 10px;">
									<div class="col-xs-12 col-md-12">
										<label>Guest can be provide a copy of your rental agreement if you choose to include one with your listing. You can create a default rental agreement in your Account settings that can be used on any listing. Or you can download one below to use  for this specific listing.</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12 col-lragreement"></div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

<!--Activate Modal Templates-->
<div id="lo-activateModal" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="glyphicon glyphicon-check"></i>
			</div>
			<div class="modal-title">Are you sure you want to activate this Listing Option?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="activate-btn">OK</button>
				<button type="button" class="btn btn-danger" id="activate-btn-close" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!--Deactivate Modal Templates-->
<div id="lo-modalDeactivate" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="glyphicon glyphicon-check"></i>
			</div>
			<div class="modal-title">Are you sure you want to deactivate this Listing Option?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="deactivate-btn">OK</button>
				<button type="button" class="btn btn-danger" id="deactivate-btn-close" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!--Delete Modal Templates-->
<div id="lo-deleteModal" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to delete this Listing Option?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn" id="delete-btn">OK</button>
				<button type="button"  class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!--Clone Modal Templates-->
<div id="lo-cloneModal" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to clone Listing Option?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" id="clone-btn">OK</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!--Delete Modal Templates-->
<div id="lo-var-deleteModal" class="modal modal-message modal-danger fade" style="display: none; z-index: 2000;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to delete this Variation?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn" id="delete-btn">OK</button>
				<button type="button"  class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!-- Manage Variation -->
<div id="lo-varModal" class="modal fade modal-blue" style="display: none;" aria-hidden="true" role="dialog" aria-labelledby="varModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="varModalLabel">Manage Variations</h4>			
			</div>
			<div class="modal-body">
				<div class="table-toolbar">
					<button class="btn btn-default btn-add" id="lo-variationsDT_new" style="top:0">Add New Variation</button>
				</div>			
				<table class="table table-striped table-hover table-bordered responsive" style="width:100%" id="lo-variationsDT">
					<thead>
						<tr role="row">
							<th>Option Variation Name</th><th>Amount</th><th></th>
						</tr>
					</thead>
					<tbody>
						<tr id="v-1">
							<td>Option ABC</td>
							<td>80</td>
							<td><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button></td>
						</tr>
						<tr id="v-2">
							<td>Option ZXC</td>
							<td>100</td>
							<td><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button></td>
						</tr>	
						<tr id="v-3">
							<td>Option POI</td>
							<td>50</td>
							<td><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- New Modal -->
<div id="lo-newOpModal" class="modal fade modal-blue" style="display: none;" aria-hidden="true" role="dialog" aria-labelledby="newOpModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newOpModalLabel">New Listing Option</h4>			
			</div>
			<div class="modal-body">
				<div class="new-modal-top">
					<div class="row">
						<div class="col-md-5 col-lg-5">
							<div class="widget">
								<div class="widget-header bordered-left bordered-green">
									<span class="widget-caption">Options <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Select from one of our system default options and customize it for your listing"></i></span>
								</div><!--Widget Header-->
								<div class="widget-body">
									<select id="new-options-select" style="width:100%"></select>
								</div><!--Widget Body-->
							</div>					
						</div>
						<div class="col-md-2 col-lg-2 text-center">
							<label style="height: 50px;line-height:50px;">- OR -</label>
						</div>
						<div class="col-md-5 col-lg-5">
							<div class="widget">
								<div class="widget-header bordered-left bordered-blue">
									<span class="widget-caption">Favorites <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Select from an option you've used previously. You can save an option as favorite in the next step."></i></span>
								</div><!--Widget Header-->
								<div class="widget-body">
									<select id="new-favorites-select" style="width:100%" data-tags="true" data-placeholder="Select an option"></select>
								</div><!--Widget Body-->
							</div>					
						</div>
					</div>
					<div class="row row-continue" style="display:none">
						<div class="col-md-12 col-lg-12 text-center">
							<button id="new-modal-continue-btn" class="btn btn-sky shiny">Continue <i class="fa fa-angle-double-right"></i></button>
						</div>				
					</div>
				</div>
				<div class="new-modal-bottom" style="display:none">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<label>Select a single listing below and click add to finish adding this option.</label>
						</div>				
					</div>					
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<select id="new-listing-select" style="width:100%"></select>
						</div>				
					</div>
					<div class="row row-finish">
						<div class="col-md-12 col-lg-12 text-center">
							<button class="btn btn-success shiny" id="new-modal-add-btn"><i class="fa fa-plus"></i> Add</button>
						</div>				
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- LO-Tab: Payments & Deposits -->
<div id="lo-damage-learnmore" class="modal fade modal-blue" style="display: none;" aria-hidden="true" role="dialog" aria-labelledby="lo-damage-learnmore-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lo-damage-learnmore-label">Property Damage Protection</h4>			
			</div>
			<div class="modal-body">
				<p> Dummy text ...</p>
			</div>
		</div>
	</div>
</div>

<!--Delete Modal Tab Rates-->
<div id="lo-tabrates-deleteModal" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to delete this Rate?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn" id="lo-tabrates-delete-btn">OK</button>
				<button type="button"  class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!--Clone Modal Tab Rates-->
<div id="lo-tabrates-cloneModal" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to clone Rate?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" id="lo-tabrates-clone-btn">OK</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>


<!-- Document Uploader -->
<div class="modal fade modal-success" id="lo-uploaderModal" tabindex="-1" role="dialog" aria-labelledby="lo-uploaderModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="lo-uploaderModalLabel">Upload...</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 col-sm-8 col-xs-8 col-md-offset-3">
						<form action="/file-upload" enctype="multipart/form-data" id="dropForm" class="dz-default dropzone">
							<div class="fallback">
								<input name="file" type="file" multiple />
							</div>
							<input type="hidden" name="docId" id="drop-doc-id" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(".close", "#lo-newOpModal").click(function(e){
		$("#lo-newOpModal").modal("hide");
	});
</script>