<style>
	th.show-sortable.sorting_asc:after, th.show-sortable.sorting_desc:after{
		content: " ";
		width: 0; 
		height: 0; 	
		float: right;
		margin-top:	8px;
	}
	
	th.show-sortable.sorting_asc:after{
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid rgb(0, 184, 250);
	}
	
	th.show-sortable.sorting_desc:after{
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 4px solid rgb(0, 184, 250);
	}	
	
	.bootstrap-datetimepicker-widget a[data-action]{
		border: 1px solid transparent !important;
	}
</style>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="widget">
			<div class="widget-header bordered-bottom bordered-blue widget-header-wired widget-header-main2">
				<span class="widget-caption form-title-wired form-title-main">Manage Reviews</span>
			</div>
			<div class="widget-body comp-body">
				<div class="row">
					<div class="widget no-header">
						<div class="widget-body colored-purple">
							<div class="table-toolbar">
								<button class="btn btn-default btn-add" id="reviewsdatatable_new">Add New Review</button>
									<select class="form-control" style="float:right;width:120px" id="reviewsCChooser"></select>
							</div>
							<table style="width:100%" class="table table-striped table-hover table-bordered responsive" id="reviewsdatatable" data-cchooser="true" data-cchooser-selector="#reviewsCChooser">
								<thead>
									<tr class="search_inputs">
										<th rowspan="1" colspan="1"><input type="text" name="search_listing" placeholder="Search Listing" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_name" placeholder="Search author name" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_review" placeholder="Search review" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_response" placeholder="Search response" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_date_submitted" placeholder="Search date submitted" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_reservation" placeholder="Search reservation" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_rating" placeholder="Search rating" class="form-control input-sm full-width"></th>
										<th rowspan="1" colspan="1"><input type="text" name="search_status" placeholder="Search status" class="form-control input-sm full-width"></th>
									</tr>								
									<tr class="table-columns">
										<th class="show-sortable">Listing</th><th>Author Name</th><th>Review</th><th>Response</th><th class="show-sortable">Date submitted</th><th class="show-sortable">Reservation</th><th class="show-sortable">Rating</th><th>Status</th><th></th>
									</tr>
								</thead>
								<tbody>
									<tr id="review-1">
										<td>Listing ABC</td>
										<td>Alex Bulei</td>
										<td>My first review.</td>
										<td>Owner response!</td>
										<td>7/27/2015</td>
										<td><label class="reservation-start">08:00 07/25/2015</label><label class="reservation-end">23:00 08/01/2015</label></td>
										<td><input type="number" value="5" class="rating-input" /></td>
										<td class="td-status">Active</td>
										<td>
											<button type="button" class="btn btn-blue shiny btn-xs contact-reviewer tooltip-blue command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Contact Reviewer"><i class="fa fa-envelope-o"></i></button><button type="button" class="btn btn-purple shiny btn-xs request-moderation tooltip-blue command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Request Moderation"><i class="fa fa-asterisk"></i></button><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-warning shiny btn-xs clone tooltip-warning command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Clone"><i class="fa fa-copy"></i></button><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
										</td>
									</tr>
									<tr id="review-2">
										<td>Listing XYZ</td>
										<td>Jack Morris</td>
										<td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</td>
										<td>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</td>
										<td>7/27/2015</td>
										<td><label class="reservation-start">08:00 07/20/2015</label><label class="reservation-end">23:00 07/27/2015</label></td>
										<td><input type="number" value="3" class="rating-input" /></td>
										<td class="td-status">Active</td>
										<td>
											<button type="button" class="btn btn-blue shiny btn-xs contact-reviewer tooltip-blue command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Contact Reviewer"><i class="fa fa-envelope-o"></i></button><button type="button" class="btn btn-purple shiny btn-xs request-moderation tooltip-blue command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Request Moderation"><i class="fa fa-asterisk"></i></button><a href="#" class="btn btn-palegreen shiny btn-xs edit tooltip-success command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a><button type="button" class="btn btn-warning shiny btn-xs clone tooltip-warning command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Clone"><i class="fa fa-copy"></i></button><button type="button" class="btn btn-danger delete btn-smll shiny btn-xs tooltip-danger command-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Clone Modal Templates-->
<div id="cloneModal" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to clone this review?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" id="clone-btn">OK</button>
				<button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>

<!--Delete Modal Templates-->
<div id="deleteModal" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-copy"></i>
			</div>
			<div class="modal-title">Are you sure you want to delete this review?</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn" id="delete-btn">OK</button>
				<button type="button"  class="btn btn-danger"  data-dismiss="modal">Close</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div>