<div style="display: none" data-popup="assign" data-title="Choose Users">
	<div data-list="users" style="display: none" data-url="users.json">
		<div class="currently">
			<div class="header">
				Currently selected 
				<span data-value="selected"></span> of <span data-value="of"></span>
			</div>
			<div class="rows" data-curr="users"></div>
		</div>

		<div class="filter">
			<div class="input-group">
				<span class="input-group-addon">Filter</span>
				<input type="text" name="filter" class="form-control input-sm" placeholder="Search on name, email, city">
			</div>
		</div>
		
		<div class="search">
			<div class="header text-mute">Select additional users below</div>
			<div class="rows" data-rows="users"></div>
		</div>

		<div style="display: none" class="row" data-row="example">
			<div class="col-xs-1 col-sm-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="user[]" data-field="id">
						<span class="text"></span>
					</label>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<a href="#" class="btn-settings" data-button="config"><i class="fa fa-cog"></i></a>
			</div>
			<div class="col-xs-5 col-sm-2" data-field="firstname"></div>
			<div class="col-xs-5 col-sm-2" data-field="lastname"></div>
			<div class="col-xs-7 col-sm-3 text-over"><a href="#" data-field="email"></a></div>
			<div class="col-xs-5 col-sm-3" data-field="city"></div>
		</div>
	</div>
	<div data-list="roles" style="display: none" data-url="extra/roles.json">
		<div class="currently">
			<div class="header">
				Currently selected 
				<span data-value="selected"></span> of <span data-value="of"></span>
			</div>
			<div class="rows" data-curr="roles"></div>
		</div>

		<div class="filter">
			<div class="input-group">
				<span class="input-group-addon">Filter</span>
				<input type="text" name="filter" class="form-control input-sm" placeholder="Search on name, role">
			</div>
		</div>
		
		<div class="search">
			<div class="header text-mute">Select additional users below</div>
			<div class="rows" data-rows="roles"></div>
		</div>

		<div style="display: none" class="row" data-row="example">
			<div class="col-xs-1 col-sm-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="user[]" data-field="id">
						<span class="text"></span>
					</label>
				</div>
			</div>
			<div class="col-xs-1 col-sm-1">
				<a href="#" class="btn-settings" data-button="config"><i class="fa fa-cog"></i></a>
			</div>
			<div class="col-xs-2 col-sm-2" data-field="site"></div>
			<div class="col-xs-3 col-sm-4" data-field="name"></div>
			<div class="col-xs-5 col-sm-4" data-field="role"></div>
		</div>
	</div>
	<div data-list="reg" style="display: none">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="triggered" data-field="triggered">
				<span class="text">Triggered user</span>
			</label>
		</div>
	</div>
</div>