<div style="display: none" data-popup="select" data-title="Select users">
	<div class="checkbox">
		<a href="#" data-target="users" data-title="Select Specific User(s)">Specific User(s)</a>
	</div>
	<hr>
	<div class="checkbox">
		<a href="#" data-target="roles" data-title="Select Specific Role(s)">Specific Role(s)</a>
	</div>
	<hr>
	<div class="checkbox" data-target="reg">
		<label>
			<input type="checkbox" name="target[]" value="reg">
			<span class="text">Triggered User</span>
		</label>
	</div>
</div>