<div style="display: none" data-popup="notify" data-title="Notify">
	<div class="row">
		<div class="col-xs-12">Notify On:</div>
		<div class="col-xs-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="notifyon[]" value="active"> 
					<span class="text">Active</span>
				</label>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="notifyon[]" value="expire"> 
					<span class="text">Expire</span>
				</label>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="checkbox second">
				<label>
					<input type="checkbox" name="notifyon[]" value="reminder"> 
					<span class="text">Reminder</span>
				</label>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="checkbox second">
				<label>
					<input type="checkbox" name="notifyon[]" value="escalate"> 
					<span class="text">Escalate</span>
				</label>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="checkbox second">
				<label>
					<input type="checkbox" name="notifyon[]" value="approval"> 
					<span class="text">Approval/Completion</span>
				</label>
			</div>
		</div>
		<div class="col-xs-6">Notify via</div>
		<div class="col-xs-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="notify_via[]" value="email"> 
					<span class="text">Email</span>
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="notify_via[]" value="sms"> 
					<span class="text">SMS</span>
				</label>
			</div>
		</div>
	</div>
</div>
