<div style="display: none" data-popup="escalate" data-title="Escalate">
	<div class="row">
		<div class="col-xs-6">Escalate in</div>
		<div class="col-xs-6"><input type="text" name="escalate_in" class="form-control"></div>
		<div class="col-xs-6">Escalate via</div>
		<div class="col-xs-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="escalate_via[]" value="email"> 
					<span class="text">Email</span>
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="escalate_via[]" value="sms"> 
					<span class="text">SMS</span>
				</label>
			</div>
		</div>
	</div>
</div>