<div class="profile-container">
	<div class="profile-header row">
		<div class="col-lg-2 col-md-4 col-sm-12 text-center">
			<img src="assets/img/avatars/divyia.jpg" alt="" class="header-avatar" />
		</div>
		<div class="col-lg-5 col-md-8 col-sm-12 profile-info">
			<div class="header-fullname">Kim Ryder</div>
			<a href="#" class="btn btn-palegreen btn-sm  btn-follow">
				<i class="fa fa-envelope-o"></i>
				Contact Me
			</a>
			<div class="header-information">
				Kim is a software developer in Microsoft. She works in ASP.NET MVC Team and collaborates with other teams.
			</div>
		</div>
		<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
					<div class="stats-value pink">284</div>
					<div class="stats-title">TASKS</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
					<div class="stats-value pink">803</div>
					<div class="stats-title">REVIEWS</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
					<div class="stats-value pink">1207</div>
					<div class="stats-title">TRANSACTIONS</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
					Lorem Ipsum
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
					Lorem Ipsum
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
					Lorem Ipsum
				</div>
			</div>
		</div>
	</div>
	<div class="profile-body">
		<div class="col-lg-12">
			<div class="tabbable">
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="databox databox-xlg radius-bordered databox-shadowed databox-graded">
							<div class="databox-left bg-pink">
								<div class="users-role-databox">
									<i class="fa fa-group"></i>
								</div>
								<span class="white">User Roles</span>

							</div>
							<div class="databox-right bordered-thick bordered-pink">
								<div class="databox-row row-3 bordered-bottom bordered-platinum">
									<span class="databox-text darkgray padding-10">ADMIN</span>
								</div>
								<div class="databox-row row-3">
									<span class="databox-text darkgray padding-10">WRITER</span>
								</div>
								<div class="databox-row row-3">
									<span class="databox-text darkgray padding-10 pull-right dashboard-btn-wrapper">
										<button type="button" class="btn btn-info btn-lg">SHOW ALL</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="databox databox-xlg radius-bordered databox-shadowed databox-graded">
							<div class="databox-left bg-palegreen">
								<div class="users-role-databox">
									<i class="fa fa-home"></i>
								</div>
								<span class="white">Listings</span>

							</div>
							<div class="databox-right bordered-thick bordered-palegreen">
								<div class="databox-row row-3 bordered-bottom bordered-platinum">
									<span class="databox-text darkgray padding-10">101 SACREST AVE</span>
								</div>
								<div class="databox-row row-3">
									<span class="databox-text darkgray padding-10">201 SEAVIEW RD</span>
								</div>
								<div class="databox-row row-3">
									<span class="databox-text darkgray padding-10 pull-right dashboard-btn-wrapper">
										<button type="button" class="btn btn-info btn-lg">SHOW ALL</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="databox databox-xxlg radius-bordered databox-shadowed databox-halved databox-vertical user-dashboard-databox">
							<div class="databox-top bg-blue">
								<div class="databox-icon">
									<i class="fa fa-pencil-square"><span class="bg-blue dashboard-badge">3</span></i> REVIEWS
								</div>
							</div>
							<div class="databox-bottom">
								<div class="col-md-6">
									<span class="databox-text darkgray padding-10 bottom-title">ABOUT ME</span>
									<ul class="dashboard-ul-list li-blue">
										<li><a href="#">Item 1</a></li>
										<li><a href="#">Item 2</a></li>
										<li><a href="#">Item 3</a></li>
										<li><a href="#">Item 4</a></li>
									</ul>
									<span class="databox-text darkgray padding-10 pull-right text-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-palegreen btn-lg dashboard-btn-fixed-width">LEAVE A REVIEW</button>
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
								</div>
								<div class="col-md-6">
									<span class="databox-text darkgray padding-10 bottom-title">BY ME</span>
									<ul class="dashboard-ul-list li-blue">
										<li><a href="#">Item 1</a></li>
										<li><a href="#">Item 2</a></li>
										<li><a href="#">Item 3</a></li>
										<li><a href="#">Item 4</a></li>
									</ul>
									<span class="databox-text darkgray padding-10 pull-right text-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-palegreen btn-lg dashboard-btn-fixed-width">GIVE A REVIEW</button>
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="databox databox-xxlg radius-bordered databox-shadowed databox-halved databox-vertical user-dashboard-databox">
							<div class="databox-top bg-green">
								<div class="databox-icon">
									<i class="fa fa-envelope"><span class="bg-green dashboard-badge">3</span></i> INBOX														
								</div>
							</div>
							<div class="databox-bottom">
								<div class="col-md-12">
									<span class="databox-text darkgray padding-10 bottom-title">MESSAGES</span>
									<table class="table table-striped table-hover table-bordered responsive user-dashboard-table">
										<thead>
											<tr role="row">
												<th>Date</th><th>From</th><th>Subject</th>
											</tr>
										</thead>
										<tbody>
											<tr><td>05/27/2015</td><td>Johnny</td><td>loved your place</td></tr>
											<tr><td>04/21/2015</td><td>Joyce Smith</td><td>looking to rent in August</td></tr>
											<tr><td>04/16/2015</td><td>Rob Stevens</td><td>does your place have a pool</td></tr>
											<tr><td>01/21/2014</td><td>George Jones</td><td>need size on plane engine</td></tr>
										</tbody>
									</table>
										
									<span class="databox-text darkgray padding-10 pull-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="databox databox-xxlg radius-bordered databox-shadowed databox-halved databox-vertical user-dashboard-databox">
							<div class="databox-top bg-darkorange">
								<div class="databox-icon">
									<i class="fa fa-calendar-o"><span class="bg-darkorange dashboard-badge">3</span></i> TRANSACTIONS
								</div>
							</div>
							<div class="databox-bottom">
								<div class="col-md-6">
									<span class="databox-text darkgray padding-10 bottom-title">SOLD/RENTED</span>
									<table class="table table-striped table-hover table-bordered responsive user-dashboard-table">
										<thead>
											<tr role="row">
												<th>Date</th><th>Listing</th>
											</tr>
										</thead>
										<tbody>
											<tr><td>05/27/2015</td><td>801 N. Main Street</td></tr>
											<tr><td>12/17/2014</td><td>Red Piper Cub</td></tr>
											<tr><td>02/05/2015</td><td>1100 Beach Club Lane</td></tr>
											<tr><td>03/29/2015</td><td>Mine Games Cruise</td></tr>
										</tbody>
									</table>
									<span class="databox-text darkgray padding-10 pull-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
								</div>
								<div class="col-md-6">
									<span class="databox-text darkgray padding-10 bottom-title">BOUGHT/LEASED</span>
									<table class="table table-striped table-hover table-bordered responsive user-dashboard-table">
										<thead>
											<tr role="row">
												<th>Date</th><th>Listing</th>
											</tr>
										</thead>
										<tbody>
											<tr><td>05/27/2015</td><td>801 N. Main Street</td></tr>
											<tr><td>12/17/2014</td><td>Red Piper Cub</td></tr>
											<tr><td>02/05/2015</td><td>1100 Beach Club Lane</td></tr>
											<tr><td>03/29/2015</td><td>Mine Games Cruise</td></tr>
										</tbody>
									</table>
									<span class="databox-text darkgray padding-10 pull-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="databox databox-xxlg radius-bordered databox-shadowed databox-halved databox-vertical user-dashboard-databox">
							<div class="databox-top bg-yellow">
								<div class="databox-icon">
									<i class="fa fa-tasks"><span class="bg-yellow dashboard-badge">3</span></i> TASKS
								</div>
							</div>
							<div class="databox-bottom">
								<div class="col-md-12">
									<span class="databox-text darkgray padding-10 bottom-title">UPCOMING TASKS</span>
									<table class="table table-striped table-hover table-bordered responsive user-dashboard-table">
										<thead>
											<tr role="row">
												<th>Date Due</th><th>Task</th>
											</tr>
										</thead>
										<tbody>
											<tr class="danger"><td>06/11/2015</td><td>Review listing 801 Green St.</td></tr>
											<tr class="warning"><td>04/27/2015</td><td>Send email to customer for Red Piper Cub</td></tr>
											<tr><td>04/25/2015</td><td>Update Cleaning fees on properties in Surf City</td></tr>
											<tr><td>03/17/2015</td><td>Sign contract on engagement ring</td></tr>
										</tbody>
									</table>
									<span class="databox-text darkgray padding-10 pull-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="databox databox-xxlg radius-bordered databox-shadowed databox-halved databox-vertical user-dashboard-databox user-dashboard-databox-fav">
							<div class="databox-top bg-blueberry">
								<div class="databox-icon">
									<i class="fa fa-star"><span class="bg-blueberry dashboard-badge">3</span></i> FAVORITES
								</div>
							</div>
							<div class="databox-bottom">
								<div class="col-md-6">
									<span class="databox-text darkgray padding-10 bottom-title">WHO LIKES ME</span>
									<ul class="dashboard-ul-list li-blueberry">
										<li><a href="#">Item 1</a></li>
										<li><a href="#">Item 2</a></li>
										<li><a href="#">Item 3</a></li>
										<li><a href="#">Item 4</a></li>
									</ul>
									<span class="databox-text darkgray padding-10 pull-right fav-left user-dashboard-databox-btns">
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width ">SHOW ALL</button>
									</span>
								</div>
								<div class="col-md-6">
									<span class="databox-text darkgray padding-10 bottom-title">THINGS I LIKE</span>
									<ul class="dashboard-ul-list li-blueberry">
										<li><a href="#">Item 1</a></li>
										<li><a href="#">Item 2</a></li>
										<li><a href="#">Item 3</a></li>
										<li><a href="#">Item 4</a></li>
									</ul>
									<span class="databox-text darkgray padding-10 pull-right user-dashboard-databox-btns">
										<button type="button" class="btn btn-info btn-lg dashboard-btn-fixed-width">SHOW ALL</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
