.fancydrop-combo {
	display: block;
	overflow: hidden;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 20px 0 12px;
	position: relative;
	line-height: 29px;
	width:100%;
}

.fancydrop-combo:hover{
    text-decoration: none;    
}

.fancydrop-combo-icon{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 3px;	
    width:16px;
    text-align:center;
}

.fancydrop-combo-title{
	display: block;
	margin-right: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}

.fancydrop-popup-container{
    z-index: 99999;
    margin-top: -1px;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    padding: 5px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
}

.fancydrop-tree-wrapper{
    max-height: 300px;
    overflow: auto;
}

.fancydrop-search-panel{
    height: 31px;    
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    /*z-index: 10000;*/
    white-space: nowrap;    
}

.fancydrop-search-input {
    width: 100%;
    height: 30px;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;    
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    background: #fff url('fancydrop.png') no-repeat 100% -22px;
    background: url('fancydrop.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('fancydrop.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('fancydrop.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('fancydrop.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('fancydrop.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('fancydrop.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.fancydrop-combo-container{
    display: inline-block;
}

.fancydrop-search-input, .fancydrop-search-panel, .fancydrop-combo-container, .fancydrop-filter{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}

.fancydrop-combo, .fancydrop-filter-span{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */	
	-o-user-select: none;
	user-select: none;	
}

.fancydrop-treeview{
    border: none !important;
}

.fancydrop-filter{
    width: 30px;
    height: 30px;
    padding: 4px 0;
    border: 1px solid #AAAAAA;
    top: 0;
    position: absolute;
    left: 3px;
    text-align: center;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}

.fancydrop-filter-span{
    display: block;
    cursor: pointer;
}

.fancydrop-filters-ul{
    margin: 0;    
    list-style: none;
    display: block;
    position: absolute;   
    font-size: 1em !important;
    min-width: 100px;
    padding: 2px 5px;
    z-index: 99999;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
}

.fancydrop-filters-ul a{
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
    cursor: pointer;
}

.fancydrop-filters-ul a .fancydrop-filters-name{
    color: #333;
}

.fancydrop-filters-ul a:hover{
    font-weight: normal;
}

.fancydrop-filters-title {
    width: 25px;
    display: inline-block;
    text-align: center;
}

.fancydrop-toolbar{
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    height: 34px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    padding: 3px;
}    

.fancydrop-toolbar-item{
    float: right;
}

.fancydrop-overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    z-index: 99998; 
    display: none;
    top: 0;
    left: 0;
}    