﻿<footer>
	<div class="row row-links">
		<div class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 no-padding">
			<div class="row">
				<div class="col-xs-6 col-md-2 col-lg-2 xs-text-left">
					<div style="display:inline-block;text-align:left;">
						<h4>Tours</h4>
						<ul class="links">
							<li><a href="#">Where to Stay</a></li>
							<li><a href="#">Where to Eat</a></li>
							<li><a href="#">Things to Do</a></li>
							<li><a href="#">Siteseeing</a></li>
							<li><a href="#">Trip Ideas</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-6 col-md-2 col-lg-2 xs-text-right">
					<div style="display:inline-block;text-align:left;">
						<h4>Adventures</h4>
						<ul class="links">
							<li><a href="#">Hiking & Biking</a></li>
							<li><a href="#">Sky Driving</a></li>
							<li><a href="#">Flying</a></li>
							<li><a href="#">Something</a></li>
							<li><a href="#">Something</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-6 col-md-2 col-lg-2 xs-text-left">
					<div style="display:inline-block;text-align:left;">
						<h4>Accomodations</h4>
						<ul class="links">
							<li><a href="#">Hiking & Biking</a></li>
							<li><a href="#">Sky Driving</a></li>
							<li><a href="#">Flying</a></li>
							<li><a href="#">Something</a></li>
							<li><a href="#">Something</a></li>
						</ul>			
					</div>
				</div>
				<div class="col-xs-6 col-md-2 col-lg-2 xs-text-right">
					<div style="display:inline-block;text-align:left;">
						<h4>Cities & Regions</h4>
						<ul class="links">
							<li><a href="#">Hiking & Biking</a></li>
							<li><a href="#">Sky Driving</a></li>
							<li><a href="#">Flying</a></li>
							<li><a href="#">Something</a></li>
							<li><a href="#">Something</a></li>
						</ul>			
					</div>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-4 text-right xs-text-center xs-padding-top15">
					<a href="#" class="social-icon"><i class="fa fa-facebook-square"></i></a><a href="#" class="social-icon"><i class="fa fa-twitter-square"></i></a><a href="#" class="social-icon"><i class="fa fa-pinterest-square"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row row-copyright">
		<div class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 no-padding">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6 xs-text-center">
					<label class="copyright-label">© 2015 NC Tourism, Inc All Rights Reserved</label>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 text-right xs-text-center">
					<a href="#">Terms & Conditions</a> &middot; <a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>