<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12 col-nc-filter-breadcrumbs">
		<label class="search-label" style="float:left;">Searching within <a id="geo-filter-reset" href="#">North Carolina</a></label>
		<div id="geo-filter-breadcrumbs-body" style="float:left;"></div>
		<a href="#" class="nc-filter-change geo-filter-toggle" style="float:left;margin-left:5px">(change)</a>
	</div>
</div>
<div id="geo-filter-body" style="display:none;">
	<div class="row nc-filter-search-panel-row">
		<div class="col-xs-12 col-md-12 col-lg-12">
			<label class="nc-filter-title"></label>
			<a class="nc-filter-collapse pull-right" href="javascript:void(0)"><i class="fa fa-times"></i></a>
		</div>
		<div class="col-xs-12 col-md-12 col-lg-12 nc-filter-panel">
			<ul id="geo-filters" class="nc-filter-list"></ul>
		</div>
	</div>
	<div class="row" style="margin:0">
		<div class="col-xs-6 col-md-6 col-lg-6" id="col-geo-filter-live">
			<input id="geo-filter-live" class="form-control input-sm nc-filter-live-input" type="text" style="width:50%;display:inline-block"/>
			<div class="checkbox checkbox-success" style="display:inline-block;margin-left:20px"><input class="nc-filter-case-sensitive" type="checkbox"><label>Case-sensitive</label></div>
		</div>
		<div id="geo-filter-by-distance" class="col-xs-6 col-md-6 col-lg-6 col-nc-filter-distance" style="display:none">
			<div class="checkbox checkbox-success" style="display:inline-block">
				<input class="nc-filter-check-distance" type="checkbox" /><label>Select a city or cities and get results within</label>
			</div>
			<select style="width:150px;display:inline-block;margin-left:5px" class="form-control input-sm">
				<option value="25">25mi/40km</option>
				<option value="50">50mi/80km</option>
				<option value="100">100mi/160km</option>
				<option value="9999">> 100mi/160km</option>
			</select>
		</div>
	</div>
</div>
