<!-- Header -->
<header style="min-height:90px">
    <div style="z-index:999;position:absolute;width:100%;" id="megamenu-place"></div>
</header>

<script>
    $(function(){
        nc.megamenu && nc.megamenu.create({
            secondaryPages: true,
            suitcaseCounter: 15,
            $place: $("#megamenu-place"),
            json: "demo/megamenu.json"
        });    
    });
</script>	