<div class="modal fade nc-modal" id="imageUploadCropModal">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Upload & Edit</h4>
	  </div>
	  <div class="modal-body">
		<div class="imageUploadCrop-dz" style="display:none">
			<form action="/" id="imageUploadCrop-dzone">
				<div class="dz-default dz-message"><span>Click or Drop one file at a time to upload</span></div>
			</form>
		</div>			
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save-btn">Save Picture</button>
	</div>		  
	  </div>
	</div>
  </div>
</div>

<div class="modal fade nc-modal" id="ncimPreviewPicModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Preview Picture</h4>
			</div>
			<div class="modal-body">
				<img src="" class="ncimPreviewImage" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>		  
		</div>
	</div>		
</div>

<div class="modal fade nc-modal" id="ncimSimpleEditorModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add | Edit Picture url</h4>
			</div>
			<div class="modal-body">
				<div class="form-group url">
					<label for="ncim-imgurl">Url</label>
					<input id="ncim-imgurl" type="tex" class="form-control nc-input" placeholder="Url" />
				</div>
				<div class="form-group caption" style="display:none">
					<label for="ncim-imgurl">Caption</label>
					<input id="ncim-img-caption" type="tex" class="form-control nc-input" placeholder="Image Caption" />
				</div>				
			</div>
			<div class="modal-footer">
				<button id="ncim-urlsave" type="button" class="btn btn-primary">Save</button>
			</div>		  
		</div>
	</div>		
</div>