﻿<style>
.pac-container{
	z-index: 8000 !important;
}

.super-modal-lg{
	width: 90%;
}

</style>

<div class="modal fade nc-modal" id="listProps" data-backdrop="static" tabindex="-1" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">List My Property</h4>
      </div>
      <div id="row-list-prop-modal-body" class="modal-body">
		<div id="listProps-form">
			<div class="row row-list-prop-body">
				<div class="col-xs-12 col-md-9 col-lg-9">
					<div class="row">
						<div class="col-xs-12 col-md-4 col-lg-4">
							<h6>REACH THE MOST TRAVELERS</h6>
							<div>List automatically on NCTourism.com and reach travelers searching for your property in your location.</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4" style="border-left: 1px solid #d8e6f8">
							<h6>GET THE BEST VALUE</h6>
							<div>Pay as little $10/year with no booking percentage fees to pay ever.</div>
						</div>			
						<div class="col-xs-12 col-md-4 col-lg-4" style="border-left: 1px solid #d8e6f8">
							<h6>EASY OWNER TOOLS</h6>
							<div>Correspond with guests and take reservation from anywhere.</div>
						</div>
					</div>
					<div class="row row-list-prop-form">					
						<div class="col-xs-12 col-md-12 col-lg-12">
							<div style="display: block;height: 30px;margin:10px 0;">
								<h5 style="display:inline-block;background:#FFF;padding-right:10px">Personal Information</h5>
								<hr style="border-color:#d8e6f8;margin:0; margin-top:-18px;" />
							</div>
							<div class="row" style="padding-bottom:15px">
								<div class="col-xs-12 col-md-12 col-lg-12">
									Already a registered user?  <a class="link-hover" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">Log in here</a>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-firstname">First name</label>
										<input data-errormsg="Please enter the first name!" id="list-prop-firstname" type="text" class="form-control nc-input" placeholder="First name" />
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-lastname">Last name</label>
										<input data-errormsg="Please enter the last name!" id="list-prop-lastname" type="text" class="form-control nc-input" placeholder="Last name" />
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>					
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-phone">Phone</label>
										<input data-errormsg="Please enter the phone number!" id="list-prop-phone" type="text" class="form-control nc-input" placeholder="Phone" />
										<span title="Required" class="required-asterisk">*</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-email1">Email</label>
										<input data-errormsg="Please enter the email!" id="list-prop-email1" name="list-prop-email1" type="email" class="form-control nc-input" placeholder="Email" />
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-email2">Confirm email</label>
										<input data-errormsg="Please enter the confirmation email!" id="list-prop-email2" type="email" class="form-control nc-input" placeholder="Confrim your email" />
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>					
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="valid-msg-wrapper valid-msg-wrapper-email" style="display:none;">
										<div class="valid-success">
											<i class="fa fa-check-circle"></i> 
											<span>Email address match.</span>
										</div>
										<div class="valid-error">
											<i class="fa fa-times-circle"></i> 
											<span>Email address mismatch.</span>
										</div>									
										<!--<div class="valid-error" style="color:#cc0000"><i class="fa fa-times-circle"></i> </div>-->
									</div>
								</div>										
							</div>				
							<div class="row">
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-pw1">Password</label>
										<input data-errormsg="Please enter the password!" id="list-prop-pw1" type="password" class="form-control nc-input" placeholder="Password">
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-pw2">Confirm password</label>
										<input data-errormsg="Please enter the confirmation password!" id="list-prop-pw2" type="password" class="form-control nc-input" placeholder="Confrim your password">
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>					
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="valid-msg-wrapper valid-msg-wrapper-pw" style="display:none;">
										<div class="valid-success">
											<i class="fa fa-check-circle"></i> 
											<span>Password match.</span>
										</div>								
										<div class="valid-error">
											<i class="fa fa-times-circle"></i> 
											<span>Password mismatch.</span>
										</div>
									</div>
								</div>										
							</div>						
							<div style="display: block;height: 30px;margin:10px 0;">
								<h5 style="display:inline-block;background:#FFF;padding-right:10px">Your First Listing</h5>
								<hr style="border-color:#d8e6f8;margin:0; margin-top:-18px;" />
							</div>						
							<div class="row">
								<div class="col-xs-12 col-md-8 col-lg-8">
									<div class="form-group">
										<label for="list-prop-titlelist">Title for your listing</label>
										<input data-errormsg="Please enter title for your listing!" id="list-prop-titlelist" type="text" class="form-control nc-input" placeholder="Title for your listing">
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>
								<div class="col-xs-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label for="list-prop-rentloc">Rental Location <i class="fa fa-question-circle tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Enter just your city, state and country and let Google verify it. You'll add your full address later."></i></label>									
										<input data-errormsg="Please enter the Rental Location!" class="form-control nc-input" id="list-prop-rentloc" />
										<span title="Required" class="required-asterisk">*</span>
									</div>						
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3 col-lg-3" style="border-left: 1px solid #d8e6f8">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<label class="faq-question" style="padding-top:0;">Manage 5 or more properties?</label>
							<div>We can help you with the right plan for your business.</div>
							<a href="#">Connect with us today</a>
							<label class="faq-question">Questions?</label>
							<a href="#">1-877-TOURISM</a>
							<label class="faq-question" style="padding-top:15px;padding-bottom:0;">Frequently asked questions</label>
							<a class="faq-question" href="#">What does it mean to pay 3% per booking?</a>
							<a class="faq-question" href="#">How do I comunicate with guests?</a>
							<a class="faq-question" href="#">Do guests pay a booking fee?</a>
							<a class="faq-question" href="#">What does it mean to pay 3% per booking?</a>
							<a class="faq-question" href="#">How do I comunicate with guests?</a>
							<a class="faq-question" href="#">Do guests pay a booking fee?</a>
							<a class="faq-question" href="#">What does it mean to pay 3% per booking?</a>
							<a class="faq-question" href="#">How do I comunicate with guests?</a>
							<a class="faq-question" href="#">Do guests pay a booking fee?</a>
						</div>
					</div>			
				</div>			
			</div>
			
			<div class="row row-list-prop-bottom xs-padding-bottom15" style="padding-top:20px;">
				<div class="col-xs-12 col-md-12 col-lg-12 text-center">
					<button id="btn-nc-start" class="btn btn-nc-blue">SAVE & GET STARTED</button>
				</div>
				<div class="col-xs-12 col-md-12 col-lg-12 text-center" style="padding-top:10px;">
					<p style="font-size:10px;">By clicking "Save & Get Started" you agree to NC Tourism <a href="#">Terms and Conditions</a></p>
				</div>			
			</div>
		</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="listPropsAlert" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">Changes to this page will not be saved if you continue and you will not be able to return to this wizard. However, steps leading up to this page have been saved and you will be able to maintain your listing from your dashboard.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="listPropsAlert-confirm">Ok</button>
      </div>
    </div>
  </div>
</div>

<script>
	var GA_RENTAL_LOCATION;
	window.NCT_MYLIST_CLOSE_ALERT = false;
	
	$("#list-prop-email2").on("change input", function(e){
		var $msgW = $(".valid-msg-wrapper-email");
		var v1 = $("#list-prop-email1").val();
		var v2 = $("#list-prop-email2").val();
		var isValid = ((v1 != "") && (v1 == v2));
		
		$msgW.show();
		
		if (isValid) {
			$(".valid-success",$msgW).show();
			$(".valid-error",$msgW).hide();
		} else{
			$(".valid-success",$msgW).hide();
			$(".valid-error",$msgW).show();
		}	
	});
	
	$("#list-prop-pw2").on("change input", function(e){
		var $msgW = $(".valid-msg-wrapper-pw");
		var v1 = $("#list-prop-pw1").val();
		var v2 = $("#list-prop-pw2").val();
		var isValid = ((v1 != "") && (v1 == v2));
		
		$msgW.show();
		
		if (isValid) {
			$(".valid-success",$msgW).show();
			$(".valid-error",$msgW).hide();
		} else{
			$(".valid-success",$msgW).hide();
			$(".valid-error",$msgW).show();
		}	
	});	
	
	if (!GA_RENTAL_LOCATION){
		$input = $("#list-prop-rentloc");
		GA_RENTAL_LOCATION = new google.maps.places.Autocomplete($input[0],{ types: [] });
	}
	
	var $body = $("#listProps");
	$("input,select,textarea", $body).not("[type=submit]").jqBootstrapValidation();
	
	$body.on("show.bs.modal", function(e){
		window.NCT_MYLIST_CLOSE_ALERT = false;
		$(".listingwizard-container").show();
		$(".pricing-body").hide();
		$("#listProps-form").show();
		$body.find("iframe").remove();
		$body.find('.modal-dialog').removeClass('super-modal-lg');
	});
	
	$('[data-toggle="tooltip"]',$body).tooltip();
	
	$body.find(".modal-header button").click(_closeModal);
	
	
	$("#listPropsAlert-confirm").on('click', function(){
		$("#listPropsAlert").modal("hide");
		$body.modal("hide");
	});
	
	function _closeModal(){
		if (window.NCT_MYLIST_CLOSE_ALERT) {
			$("#listPropsAlert").modal("show");
		} else {
			$body.modal("hide");
		}
	}
	
	function _initWizard(bypass){
	
		var _source = bypass ? 'listing-wizard-frame.html' : 'user-acc-wizard-frame.html';
	
		function _load_(source){
			var $where = $("#row-list-prop-modal-body");
			$where.closest('.modal-dialog').addClass('super-modal-lg');
			$where.find("iframe").remove();
			$("#listProps-form").hide();
			var $iframe = $('<iframe>').css({
				'width': '100%',
				'height': '100%',
				'min-height': '600px',
				'border': '0'
			});
			$where.append($iframe);
			$iframe.attr("src", source);
			
			if (source == 'user-acc-wizard-frame.html') {
				$iframe.load(function(){					
					var iframewindow = this.contentWindow ? this.contentWindow : this.contentDocument.defaultView;
					var $body = $(iframewindow.document.body);
					
					iframewindow.onCustomFinished = function(){
						_load_('listing-wizard-frame.html');
					};
				});
			}
		}
		_load_(_source);
	}

	
	function isEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}	
	
	function _validate(){
		var res = true;
		var inputs = $(".row-list-prop-form input");
		
		$.each(inputs, function(i,input){
			var $input = $(input).removeClass("required-error")
			var inputVal = ($input.val());
			var msg = $(input).data("errormsg");
			if (inputVal && ($input.attr("type") == "email")){
				inputVal = inputVal && isEmail($input.val());
				if (!inputVal){
					if ($input.attr("id") == "list-prop-email2"){
						msg =  "Please enter the valid confirmation email.";
					} else {
						msg =  "Please enter the valid email.";
					}
				}
				
				
			}
			
			if (!inputVal){
				res = false;
				$input.addClass("required-error");
				nc.error(msg);
			}
		});
		
		return res;
	}
	
	$("#btn-nc-start").click(function(e){
		if (_validate()){
			window.NCT_MYLIST_CLOSE_ALERT = true;
			_initWizard(false);
			//_initWizard(true);
		}
	});
	
</script>
