<div class="modal fade nc-modal" id="loginModal" data-backdrop="static" tabindex="-1" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1">
				<form class="form">
					<div class="form-group">
						<label for="sign-email">Email Address</label>
						<input id="sign-email" type="text" class="form-control nc-input" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="sign-password">Password</label>
						<input id="sign-password" type="password" class="form-control nc-input" placeholder="Password">
					</div>
					<div class="form-group">
						<label style="display:block" class="text-right"><a href="#" class="forgot-pw-link">Forgot password?</a></label>
					</div>
					
					<div class="checkbox checkbox-success">
						<input type="checkbox" id="login-remember">
						<label for="login-remember"> Remember me next time</label>
					</div>
					
					<div class="form-group">
						<button class="btn btn-nc-blue btn-lg btn-block">Login</button>					  
					</div>
					
					<div class="form-group">
						<label style="text-align:center;">Don't have an account yet? <a href="#" class="sign-up-btn">Sign Up</a></label>
					</div>
				  </form>
			</div>
		</div>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade nc-modal" id="registerModal" data-backdrop="static" tabindex="-1" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body" style="padding: 5px">
		<div class="row">
			<div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1">
				<form class="form">
					<div class="form-group">
						<label for="reg-firstname">First name</label>
						<input id="reg-firstname" type="text" class="form-control nc-input" placeholder="First name">
					</div>
					<div class="form-group">
						<label for="reg-lastname">Last name</label>
						<input id="reg-lastname" type="text" class="form-control nc-input" placeholder="Last name">
					</div>
					<div class="form-group">
						<label for="reg-email">Email Address</label>
						<input id="reg-email" type="text" class="form-control nc-input" placeholder="Email Address">
					</div>			
					<div class="checkbox checkbox-success">
						<input type="checkbox" id="reg-tellme-check">
						<label for="reg-tellme-check"> Tell me about inspiring travel news about the island</label>
					</div>
					<div class="checkbox checkbox-success">
						<input type="checkbox" id="reg-subscribe-check" checked="checked">
						<label for="reg-subscribe-check"> Send me exclusive discounts and offers on the insland</label>
					</div>				
					<div class="form-group">
						<button class="btn btn-nc-blue btn-lg btn-block">Create Account</button>
					</div>
					
					<div class="form-group">
						<label style="text-align:center;">By clicking "Create Account" you confirm that you accept <a href="#">Term of Services</a> and <a href="#">Privacy Policy</a></label>
					</div>
				  </form>
			</div>
		</div>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade nc-modal" id="forgotPwModal" data-backdrop="static" tabindex="-1" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Forgot Password</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1">
				<form class="form">
					<div class="form-group">
						<label for="sign-email">Email Address</label>
						<input id="sign-email" type="text" class="form-control nc-input" placeholder="Email">
					</div>
					<div class="form-group">
						<button class="btn btn-nc-blue btn-lg btn-block">Submit Request</button>					  
					</div>
					<div class="form-group">
						<label>Don't have an account yet? <a href="#" class="sign-up-btn">Sign Up</a></label>
					</div>					
				  </form>
			</div>
		</div>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	$(function(){
		$(".sign-up-btn").on("click", function(e){
			$("#loginModal").modal("hide");
			$("#forgotPwModal").modal("hide");			
			$("#registerModal").modal("show");
		});
		$(".forgot-pw-link").on("click", function(e){
			$("#loginModal").modal("hide");
			$("#forgotPwModal").modal("show");
		});
	});
	
	
</script>