<div class="modal fade nc-modal" id="contactOwnerModal" data-backdrop="static" tabindex="-1" data-keyboard="false">
	<div class="modal-dialog" style="width:60%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Contact owner</h4>
			</div>
			<div class="modal-body">
				<h4>Your information:</h4>
				<div class="row">
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="contactOwnerModal-firstname">First Name</label>
							<input data-msg="First Name is required!" id="contactOwnerModal-firstname" type="text" class="form-control nc-input" placeholder="First Name">
						</div>			
					</div>
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="contactOwnerModal-lastname">Last Name</label>
							<input data-msg="Last Name is required!" id="contactOwnerModal-lastname" type="text" class="form-control nc-input" placeholder="Last Name">
						</div>			
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="contactOwnerModal-email">Email Address</label>
							<input data-msg="Email is required!" id="contactOwnerModal-email" type="text" class="form-control nc-input" placeholder="Email">
						</div>
					</div>
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="contactOwnerModal-phone">Phone number</label>
							<input data-msg="The Phone is required!" id="contactOwnerModal-phone" type="number" class="form-control nc-input" placeholder="Phone">
						</div>
					</div>					
				</div>
				<h4>Your trip</h4>
				<div class="row" style="margin-bottom: 15px;">
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="input-group input-group-sm nc-input nc-input-group">
							<input data-msg="Checkin date is required!" style="height:40px;" id="contactOwnerModal-checkin" type="text" class="form-control nc-input datepicker checkin" placeholder="Arrival">
							<span class="input-group-addon"><i class="fa fa-calendar-o text-primary"></i></span>
						</div>			
					</div>
					<div class="col-xs-3 col-md-3 col-lg-3">
						<label class="pull-left" style="display:inline-block;line-height:40px;margin-right:5px" for="contactOwnerModal-adults">Adults:</label>
						<select class="form-control nc-input pull-left" id="contactOwnerModal-adults" style="width:80px">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</div>
					<div class="col-xs-3 col-md-3 col-lg-3">
						<label class="pull-left" for="contactOwnerModal-children" style="display:inline-block;line-height:40px;margin-right:5px">Children:</label>
						<select id="contactOwnerModal-children" class="form-control nc-input pull-left" style="width:80px">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</div>
				</div>
				<div class="row" style="margin-bottom: 15px;">
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="input-group input-group-sm nc-input nc-input-group">
							<input data-msg="Checkout date is required!" style="height:40px;" id="contactOwnerModal-checkout" type="text" class="form-control datepicker checkout" placeholder="Depart">
							<span class="input-group-addon"><i class="fa fa-calendar-o text-primary"></i></span>
						</div>			
					</div>
					<div class="col-xs-6 col-md-6 col-lg-6">
						<div class="checkbox checkbox-success">
							<input type="checkbox" id="contactOwnerModal-flexible">
							<label for="contactOwnerModal-flexible"> My travel dates are flexible</label>
						</div>
					</div>					
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label for="contactOwnerModal-message">Message</label>
							<textarea data-msg="The message is required!" id="contactOwnerModal-message" rows="5" class="form-control nc-input" placeholder="Your message..."></textarea>
						</div>
					</div>
				</div>		
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="checkbox checkbox-success">
							<input type="checkbox" id="contactOwnerModal-save-inquiries">
							<label for="contactOwnerModal-save-inquiries"> Save info for other inquiries</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<label class="pull-left" style="font-size:11px;max-width:50%;text-align: left;">By clicking Send Message you are agreeing to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></label>
				<button type="button" id="contactOwnerModal-send" class="btn btn-primary">Send Message</button>
			</div>		  
		</div>
    </div>
</div>

<div class="modal fade nc-modal" id="contactGeneralModal" data-backdrop="static" tabindex="-1" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Contact us</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label for="contactGeneralModal-name">Your name</label>
							<input data-msg="The name is required!" id="contactGeneralModal-name" type="text" class="form-control nc-input" placeholder="Your name" required>
						</div>						
					</div>
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label for="contactGeneralModal-email">Your email</label>
							<input data-msg="The email is required!" id="contactGeneralModal-email" type="email" class="form-control nc-input" placeholder="Your email" required>
						</div>						
					</div>
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label for="contactGeneralModal-phone">Phone</label>
							<input data-msg="The phone is required!" id="contactGeneralModal-phone" type="number" class="form-control nc-input" placeholder="Your phone number" required>
						</div>						
					</div>
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label for="contactGeneralModal-message">Your message</label>
							<textarea data-msg="The message is required!" id="contactGeneralModal-message" class="form-control nc-input" placeholder="Your message" rows="5" required></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 text-center">
						<button type="button" id="contactGeneralModal-send" class="btn btn-primary">Send Message</button>
					</div>
				</div>
		</div>
    </div>
</div>


<script>
	$(function(){
		/* init datepickers */
		var $checkoutInput = $('#contactOwnerModal-checkout');
		initDatePickers( $('#contactOwnerModal-checkin'), $checkoutInput );
		
		function check_input($input){
			$input.removeClass("required-error");
			var v = $input.val();
			if (!v.length){
				$input.addClass("required-error");
				nc.error($input.data("msg"));
			}
		}

		function validateContactOwnerForm(){
			check_input($("#contactOwnerModal-firstname"));
			check_input($("#contactOwnerModal-lastname"));
			check_input($("#contactOwnerModal-email"));
			
			var $input = $("#contactOwnerModal-email");
			if (!nc.utils.isValidEmailAddress($input.val())){
				$input.addClass("required-error");
				nc.error("Invalid email address!");
			}
			
			check_input($("#contactOwnerModal-checkin"));
			check_input($("#contactOwnerModal-checkout"));
			check_input($("#contactOwnerModal-phone"));
			check_input($("#contactOwnerModal-message"));
			return true;
		}
		
		$("#contactOwnerModal-send").on("click", function(e){
			var result = validateContactOwnerForm();
			if (result){
				var data = {
					firstname: $("#contactOwnerModal-firstname").val(),
					lastname: $("#contactOwnerModal-lastname").val(),
					email: $("#contactOwnerModal-email").val(),
					checkin: $("#contactOwnerModal-checkin").val(),
					checkout: $("#contactOwnerModal-checkout").val(),
					adults: $("#contactOwnerModal-adults").val(),
					children: $("#contactOwnerModal-children").val(),
					isFlexible: $("#contactOwnerModal-flexible")[0].checked,
					phone: $("#contactOwnerModal-phone").val(),
					message: $("#contactOwnerModal-message").val(),
					save : $("#contactOwnerModal-save-inquiries")[0].checked
				}
				/** REPLACE URL AND UNCOMMENT TO SEND **/
				//nc.send("url", data);
			}
		});
		
		function validateSimpleContactForm(){
			check_input($("#contactGeneralModal-name"));
			check_input($("#contactGeneralModal-email"));
			check_input($("#contactGeneralModal-phone"));
			check_input($("#contactGeneralModal-message"));
			
			var $input = $("#contactGeneralModal-email");
			if (!nc.utils.isValidEmailAddress($input.val())){
				$input.addClass("required-error");
				nc.error("Invalid email address!");
			}
			return true;		
		}
		
		$("#contactGeneralModal-send").click(function(){
			var result = validateSimpleContactForm();
			if (result){
				var data = {
					name: $("#contactGeneralModal-name").val(),
					email: $("#contactGeneralModal-email").val(),
					phone: $("#contactGeneralModal-phone").val(),
					message: $("#contactGeneralModal-message").val()
				}
				/** REPLACE URL AND UNCOMMENT TO SEND **/
				//nc.send("url", data);
			}		
		});
	});
	
</script>
