<div class="row pricing-container">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="plan">
			<div class="header bordered-azure">Agency</div>
			<div class="price azure">$99</div>
			<div class="monthly">per year</div>
			<ul>
				<li><b>10-49</b> listings</li>
				<li>Up to <b>5</b> users</li>
				<li><b>Unlimited</b> page views</li>
				<li><b>24/7</b> account access</li>
			</ul>
			<a class="signup bg-azure" href="">Sign up</a>
		</div>			
		<div class="text-center">Have more than 50 listings?</div>
		<div class="text-center">Call today for special pricing.</div>
		<a style="display:block;" href="tel:877-693-8928" class="text-center">877-693-8928</a>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="plan popular-plan animated bounce">
			<div class="header bordered-palegreen">Investor</div>
			<div class="price palegreen">$39</div>
			<div class="monthly">per year</div>
			<ul>
				<li><b>2-9</b> listings</li>
				<li>Up to <b>3</b> users</li>
				<li><b>Unlimited</b> page views</li>
				<li><b>24/7</b> account access</li>
			</ul>
			<a class="signup bg-palegreen" href="">Sign up</a>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="plan">
			<div class="header bordered-orange">Standard</div>
			<div class="price orange">$9</div>
			<div class="monthly">per year</div>
			<ul>
				<li><b>1</b> listings</li>
				<li><b>1</b> user</li>
				<li><b>Unlimited</b> page views</li>
				<li><b>24/7</b> account access</li>
			</ul>
			<a class="signup bg-orange" href="">Sign up</a>
		</div>
	</div>			
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<button class="btn btn-magenta btn-lg">LATER, SIGN UP FOR 14 DAY FREE TRIAL</button>
	</div>
</div>