﻿<div class="search-sidebar">
	<div class="filter-header">Search Filters <a href="#" class="close-btn"><i class="fa fa-times"></i></a></div>
	<div class="filter-body">
		<div class="filter-wrapper">
			<div class="right-invoker"></div>
			<div class="filter-content">
				<div class="row row-filter title" style="padding-top:0">
					<div class="col-xs-12 col-md-12 col-lg-12 text-right no-padding">
						<a href="#" class="sb-clearall">Clear All Filters</a>
					</div>
				</div>
				<div class="row row-filter">
					<div class="panel-group" id="filter-tablist" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#cityTownTab" aria-expanded="true">CITY/TOWN<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="cityTownTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body search-sidebar-cities-towns"></div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#propLocTab" aria-expanded="true">PROPERTY LOCATION<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="propLocTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body">
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#propTypeTab" aria-expanded="true">PROPERTY TYPE<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="propTypeTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body">
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#bedroomsTab" aria-expanded="true">BEDROOMS<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="bedroomsTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body">
									<div>
										<div class="pull-left inline">Bedrooms Range:</div><div class="label-for-slider label-for-bedrooms">0 - 20</div>
									</div>
									<input type="hidden" class="slider-input slider-input-bedrooms" value="0,20" />
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#bathroomsTab" aria-expanded="true">BATHROOMS<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="bathroomsTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body">
									<div>
										<div class="pull-left inline">Bathrooms Range:</div><div class="label-for-slider label-for-bathrooms">0 - 10</div>
									</div>
									<input type="hidden" class="slider-input slider-input-bathrooms" value="0,10" />
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#sleepsTab" aria-expanded="true">SLEEPS<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="sleepsTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body">
									<div>
										<div class="pull-left inline">Sleep Range:</div><div class="label-for-slider label-for-sleeps">1 - 36</div>
									</div>
									<input type="hidden" class="slider-input slider-input-sleeps" value="1,36" />						
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" href="#amenitiesTab" aria-expanded="true">AMENITIES<span class="pull-right"><i class="fa fa-chevron-right"></i></span></div>
							<div id="amenitiesTab" class="panel-collapse collapse in" role="tabpanel">
								<div class="panel-body">
									<div class="col-xs-6 col-md-6 col-lg-6">
										<label class="sb-amenities-title">Kitchen</label>
										<div class="checkbox checkbox-success">
											<input data-id="1" type="checkbox" id="chk-kitchen-1">
											<label for="chk-kitchen-1"> Dishwasher</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="2" type="checkbox" id="chk-kitchen-2">
											<label for="chk-kitchen-2"> Blender</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="3" type="checkbox" id="chk-kitchen-3">
											<label for="chk-kitchen-3"> Coffee Maker</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="4" type="checkbox" id="chk-kitchen-4">
											<label for="chk-kitchen-4"> Kettle</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="5" type="checkbox" id="chk-kitchen-5">
											<label for="chk-kitchen-5"> Refrigerator</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="6" type="checkbox" id="chk-kitchen-6">
											<label for="chk-kitchen-6"> Freezer</label>
										</div>							
										<div class="checkbox checkbox-success">
											<input data-id="7" type="checkbox" id="chk-kitchen-7">
											<label for="chk-kitchen-7"> Toaster</label>
										</div>							
										<div class="checkbox checkbox-success">
											<input data-id="8" type="checkbox" id="chk-kitchen-8">
											<label for="chk-kitchen-8"> Paper Towels Provided</label>
										</div>							
										<div class="checkbox checkbox-success">
											<input data-id="9" type="checkbox" id="chk-kitchen-9">
											<label for="chk-kitchen-9"> Stove/Oven</label>								
										</div>							
										<div class="checkbox checkbox-success">
											<input data-id="10" type="checkbox" id="chk-kitchen-10">
											<label for="chk-kitchen-10"> Grill</label>
										</div>							
										<div class="checkbox checkbox-success">
											<input data-id="11" type="checkbox" id="chk-kitchen-11">
											<label for="chk-kitchen-11"> Microwave</label>
										</div>
										
										<label class="sb-amenities-title">PHONE/INTERNET</label>
										<div class="checkbox checkbox-success">
											<input data-id="12" type="checkbox" id="chk-phone-int-1">
											<label for="chk-phone-int-1"> Telephone</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="13" type="checkbox" id="chk-phone-int-2">
											<label for="chk-phone-int-2"> Internet access</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="14" type="checkbox" id="chk-phone-int-3">
											<label for="chk-phone-int-3"> Fax Machine</label>
										</div>	

										<label class="sb-amenities-title">ONSITE EQUIPMENT</label>
										<div class="checkbox checkbox-success">
											<input data-id="15" type="checkbox" id="chk-equip-1">
											<label for="chk-equip-1"> Washing Machine</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="16" type="checkbox" id="chk-equip-2">
											<label for="chk-equip-2"> Clothes Dryer</label>
										</div>
									</div>
									
									<div class="col-xs-6 col-md-6 col-lg-6">
										<label class="sb-amenities-title">POOL/SPA</label>
										<div class="checkbox checkbox-success">
											<input data-id="16" type="checkbox" id="chk-poolspa-1">
											<label for="chk-poolspa-1"> Shared Indoor Pool</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="17" type="checkbox" id="chk-poolspa-2">
											<label for="chk-poolspa-2"> Shared Outdoor Pool</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="18" type="checkbox" id="chk-poolspa-3">
											<label for="chk-poolspa-3"> Hot Tub/Jacuzzi</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="19" type="checkbox" id="chk-poolspa-4">
											<label for="chk-poolspa-4"> Children's Pool</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="20" type="checkbox" id="chk-poolspa-5">
											<label for="chk-poolspa-5"> Private Pool</label>
										</div>	

										<label class="sb-amenities-title">OUTDOOR</label>
										<div class="checkbox checkbox-success">
											<input data-id="21" type="checkbox" id="chk-outdoor-1">
											<label for="chk-outdoor-1"> Outdoor Dining Area</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="22" type="checkbox" id="chk-outdoor-2">
											<label for="chk-outdoor-2"> Balcony/Terrace</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="23" type="checkbox" id="chk-outdoor-3">
											<label for="chk-outdoor-3"> Swing Set / Jungle Gym</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="24" type="checkbox" id="chk-outdoor-4">
											<label for="chk-outdoor-4"> Patio / Deck</label>
										</div>
										
										<label class="sb-amenities-title">SUITABILITY</label>
										<div class="checkbox checkbox-success">
											<input data-id="25" type="checkbox" id="chk-suitability-1">
											<label for="chk-suitability-1"> Pets Allowed</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="26" type="checkbox" id="chk-suitability-2">
											<label for="chk-suitability-2"> Wheelchair Accessible</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="27" type="checkbox" id="chk-suitability-3">
											<label for="chk-suitability-3"> Smoking Allowed</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="28" type="checkbox" id="chk-suitability-4">
											<label for="chk-suitability-4"> Suitable for Children</label>
										</div>
										<div class="checkbox checkbox-success">
											<input data-id="29" type="checkbox" id="chk-suitability-5">
											<label for="chk-suitability-5"> Suitable for the Elderly</label>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="row row-filter title-reverse">
					<div class="col-xs-12 col-md-12 col-lg-12 text-right">
						<a href="#" class="sb-clearall">Clear All Filters</a>
					</div>
				</div>
			</div>
		</div>	
	</div>	
</div>