<!-- New Modal -->
<div id="selectListingModal" class="modal fade modal-blue" style="display: none;" aria-hidden="true" role="dialog" aria-labelledby="selectListingModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="selectListingModalLabel">Select Listing</h4>			
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<select id="slm-listing-select" style="width:100%"></select>
					</div>				
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="col-md-12 col-lg-12 text-center">
						<button class="btn btn-success shiny select-listing-btn"><i class="fa fa-check"></i> Select</button>
					</div>				
				</div>					
			</div>
		</div>
	</div>
</div>