.tileview-holder {
	margin: 15px 0;
}

.tileview-holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.tileview-holder a:hover {
	background-color: #222;
	color: #fff;
}

.tileview-holder a.jp-previous { margin-right: 15px; }
.tileview-holder a.jp-next { margin-left: 15px; }

.tileview-holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.tileview-holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.tileview-holder a.jp-current, a.jp-current:hover,
.tileview-holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.tileview-holder span { margin: 0 5px; }