.page-body {
background: #eee;
padding: 18px 20px 24px;
}

.page-content {
display: block;
margin-left: 0;
margin-right: 0;
margin-top: 0;
min-height: 100%;
padding: 0;
}

#top-navigation {
	position: absolute;
	left: 189px;
	top: 0;
	margin-top: 1px;
	color: #FFF;
}

#topmenu-toggle {
	display: none;
	float: left;
}


/* HEADER > MENU */
#top-navigation #main-menu {
	float: right;
	font-size: 0;
	margin: 0;
	padding:0;
}

#top-navigation #main-menu > li:first-child {
	margin-left: 0 !important;
}

#top-navigation #main-menu > li {
	display: inline-block;
	padding: 2px 0;
}

#top-navigation #main-menu > li > a {
	display: block;
	height: 38px;
	line-height: 36px;
	margin: 0;
	padding: 0 16px 0 7px;
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
	font-size: 13px;
	text-decoration: none;
	color: #FFFFFF;
	z-index: 123;
}

#top-navigation #main-menu > li > a:hover {
  color: #262626;
}
#top-navigation #main-menu > li > a:hover:before {
  display: block;
}
#top-navigation #main-menu > li > a .menu-icon {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  margin-top: -3px;
}

#top-navigation #main-menu > li.active > a {
  content: "";
  font-weight: bold;
}

/* HEADER > MENU > DROPDOWN */
#top-navigation #main-menu li {
	position: relative;
}

#top-navigation ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 38px;
	padding-top: 3px;
	position: absolute;
	margin-left: 16px;
	width: 280px;
    white-space: nowrap;
	z-index: 9999;
	padding:0;
	background-color: #fbfbfb;
}

#top-navigation ul.sub-menu:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 23px;
	top: 0;
	bottom: 19px;
	border-left: 1px solid #e2e2e2;
}

#top-navigation ul.sub-menu > li > a:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 21px;
  top: 17px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  z-index: 2;
}

#top-navigation ul.sub-menu ul.sub-menu { /* level 3+ */
	left: 149px;
	top: 0px;
	margin: 0;
	padding:0;
	background-color: #fbfbfb;	
}

#top-navigation ul.sub-menu > li > a {
	display: block;
	height: 38px;
	line-height: 36px;
	margin: 0;
	padding-left: 40px !important;	
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
	font-size: 13px;
	text-decoration: none;
	z-index: 123;
	color: #737373;
}

#top-navigation ul.sub-menu > li > a:hover {
	background-color: #2a2a2a; 
	color: #fff;
}

#top-navigation ul.sub-menu > li:first-child {
	border-top: 3px solid #23dbdb;
}

#top-navigation ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

#top-navigation ul.sub-menu > li > a.parent:after {
	content: "\f105";
	font-size: 12px;
	display: inline-block;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    top: 50%;	
}

#top-navigation #main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 990px) {

	#top-navigation {
		position: static;
	}

	#topmenu-toggle {
		color: #fff;
		display: block;
		font-size: 24px;
		left: 189px;
		margin-top: -2px;
		position: absolute;
		top: 7px;		
	}

	#top-navigation #main-menu {
		display: none;
		float: none;
		background-color: #333;
	}

	#top-navigation #main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#top-navigation #main-menu > li {
		margin-top: -1px;
	}

	#top-navigation #main-menu > li:first-child {
		margin-top: 0;
	}

	#top-navigation #main-menu > li > a {
		background-color: #333;
		border: 1px solid #444;
		color: #bbb;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
		line-height: 0 !important;
	}

	#top-navigation #main-menu li > a:hover {
		background-color: #444; 
	}

	#top-navigation #main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#top-navigation #main-menu > li:hover > a,
	#top-navigation #main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}
	
	#top-navigation ul.sub-menu::before{
		border: none;
	}
	
	#top-navigation ul.sub-menu {
		background-color: #333;
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}
	
	#top-navigation ul.sub-menu > li > a::before, #top-navigation ul.sub-menu > li > a.parent::after{
		display: none;
	}
	
	#top-navigation ul.sub-menu ul.sub-menu{
		background-color: #333;
		margin-left: 40px;
	}

	#top-navigation ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	#top-navigation ul.sub-menu > li > a.parent {
		background: #333 !important;
	}
}

.adminmenu {
    height: 800px;
    padding: 25px;
}

.dd-list>div[class*=bordered-] {
  border-width: 0;
  padding: 0;
}

.help-block {
    color: red;
}