.page-workflows {
  padding: 20px; }

.form-control.auto {
  display: inline-block;
  width: auto; }

.pagination {
  display: block; }

.checkbox.second {
  margin-top: -5px; }

.checkbox + hr {
  margin: -5px 0; }

.text-over {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.task-config-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; }
  .task-config-popup .modal-dialog {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 10000; }
  .task-config-popup .modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8; }

.list .list-body {
  padding: 15px;
  border: 1px solid #ddd; }
.list #landatatable_filter {
  float: none; }
  .list #landatatable_filter input {
    position: static; }
.list .btn-add {
  position: static; }
.list h1 {
  margin-bottom: 10px;
  padding-left: 20px;
  min-height: 55px;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  line-height: 55px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid transparent; }
.list .line {
  margin: 0;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ddd; }
  .list .line > div {
    float: left;
    padding: 5px;
    min-height: 26px;
    line-height: 26px;
    vertical-align: middle; }
.list .header > .line {
  display: table;
  width: 100%;
  background: linear-gradient(to bottom, #f2f2f2 0, #fafafa 100%);
  border-bottom: 1px solid #ddd; }
  .list .header > .line > div {
    display: table-cell;
    float: none;
    height: 50px;
    line-height: 16px;
    vertical-align: bottom; }
.list header {
  padding-bottom: 15px; }
.list footer {
  padding-top: 15px;
  line-height: 30px;
  background: #eee; }

.workflows .col-name {
  width: 20%; }
.workflows .col-code {
  width: 20%; }
.workflows .col-site {
  width: 20%; }
.workflows .col-category {
  width: 20%; }
.workflows .col-user {
  width: 20%; }
@media (max-width: 768px) {
  .workflows .col-name {
    width: 30%; }
  .workflows .col-code {
    width: 30%; }
  .workflows .col-site {
    width: 20%; }
  .workflows .col-category {
    display: none !important; }
  .workflows .col-user {
    width: 20%; } }
@media (max-width: 480px) {
  .workflows .col-name {
    width: 50%; }
  .workflows .col-code {
    width: 30%; }
  .workflows .col-site {
    display: none !important; }
  .workflows .col-category {
    display: none !important; }
  .workflows .col-user {
    width: 20%; } }

.tasks .col-name {
  width: 15%; }
.tasks .col-function {
  width: 7%; }
.tasks .col-expires {
  width: 5%; }
.tasks .col-reminder {
  width: 5%; }
.tasks .col-notes {
  width: 5%; }
.tasks .col-approval {
  width: 5%; }
.tasks .col-table {
  width: 10%; }
.tasks .col-assign-email, .tasks .col-escalate-email, .tasks .col-notify-email {
  width: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
.tasks .col-assign, .tasks .col-escalate, .tasks .col-notify {
  width: 6%; }
@media (max-width: 1024px) {
  .tasks .col-assign-email, .tasks .col-escalate-email, .tasks .col-notify-email {
    display: none !important; }
  .tasks .col-name {
    width: 25%; }
  .tasks .col-function {
    width: 15%; }
  .tasks .col-expires {
    width: 5%; }
  .tasks .col-reminder {
    width: 5%; }
  .tasks .col-notes {
    width: 5%; }
  .tasks .col-approval {
    width: 5%; }
  .tasks .col-table {
    width: 10%; }
  .tasks .col-assign, .tasks .col-escalate, .tasks .col-notify {
    width: 10%; } }
@media (max-width: 768px) {
  .tasks .line {
    position: relative;
    height: 74px; }
  .tasks .col-assign-email, .tasks .col-escalate-email, .tasks .col-notify-email {
    display: block !important; }
  .tasks .col-name {
    width: 33%; }
  .tasks .col-function {
    width: 15%; }
  .tasks .col-expires {
    width: 10%; }
  .tasks .col-reminder {
    width: 10%; }
  .tasks .col-notes {
    width: 10%; }
  .tasks .col-approval {
    width: 10%; }
  .tasks .col-table {
    width: 10%; }
  .tasks .header .col-assign-email, .tasks .header .col-notify-email, .tasks .header .col-escalate-email, .tasks .header .col-assign, .tasks .header .col-escalate, .tasks .header .col-notify {
    display: none !important; }
  .tasks .col-assign-email, .tasks .col-notify-email, .tasks .col-escalate-email {
    position: absolute;
    top: 37px;
    left: 0;
    width: 20%; }
  .tasks .col-notify-email {
    left: 20%; }
  .tasks .col-escalate-email {
    left: 40%; }
  .tasks .col-assign, .tasks .col-escalate, .tasks .col-notify {
    position: absolute;
    width: 13%;
    top: 37px; }
  .tasks .col-assign {
    left: 60%; }
  .tasks .col-escalate {
    left: 73%; }
  .tasks .col-notify {
    left: 86%; } }
@media (max-width: 480px) {
  .tasks .col-reminder, .tasks .col-notes, .tasks .col-approval, .tasks .col-table, .tasks .col-assign-email, .tasks .col-notify-email, .tasks .col-escalate-email {
    display: none !important; }
  .tasks .col-name {
    width: 50%; }
  .tasks .col-function {
    width: 35%; }
  .tasks .col-expires {
    width: 15%; }
  .tasks .col-assign, .tasks .col-escalate, .tasks .col-notify {
    width: 33%; }
  .tasks .col-assign {
    left: 0; }
  .tasks .col-escalate {
    left: 33%; }
  .tasks .col-notify {
    left: 66%; } }

.modal-body .rows .checkbox {
  margin: 0; }
.modal-body .rows .row > * {
  min-height: 24px; }
.modal-body .filter {
  padding: 10px 0; }
.modal-body .currently .rows {
  max-height: 105px;
  overflow-y: auto;
  overflow-x: hidden; }
.modal-body .search .rows {
  max-height: 315px;
  overflow-y: auto;
  overflow-x: hidden; }
.modal-body .search .btn-settings {
  display: none; }
.modal-body .header {
  padding: 5px 0; }
@media (max-width: 480px) {
  .modal-body .search .rows {
    max-height: 105px;
    overflow-y: auto;
    overflow-x: hidden; } }